<div class="viewPriceShimmer col p-0" [hidden]="loaderList">
  <div class="linear-background slider mb-3"></div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 col-md-8">
        <div class="carouselList" *ngFor="let list of shimmer">
          <div class="linear col p-0 mb-4">
            <div class="linear-background big mb-2 col-6 col-md-3"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
          <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
            <div class="row m-0 mb-2">
              <div class="col-6 p-0">
                <div class="linear-background big col-6 mb-2"></div>
                <div class="linear-background big col-2 col-md-1"></div>
              </div>
              <div class="col-6 p-0">
                <div class="linear-background big col-6 col-md-2 float-right" style="height: 35px;"></div>
              </div>
            </div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
          <div class="linear-background big mb-2 col-6 col-md-3"></div>
          <div class="row m-0 mb-2" *ngFor="let list of shimmer">
            <div class="col-4 p-0">
              <div class="linear-background big col-12"></div>
            </div>
            <div class="col-4 p-0">
              <div class="linear-background big col-6 col-md-2 float-right"></div>
            </div>
            <div class="col-4 p-0">
              <div class="linear-background big col-6 col-md-2 float-right"></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="linear-background slider mb-3" style="height: 35px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="addPriceList col p-0" [hidden]="!loaderList" style="background: #e9ecee;">
  <div class="contentTitle col">
    <div class="container">
      <div class="row m-0">
        <!-- <i class="fas fa-angle-left arrowProvider d-md-none" [class.d-none]="arrow == 1" [class.d-block]="arrow > 1" (click)="arrowChange(-1)"></i> -->
        <i class="ion-arrow-left-c ionClose arrowProvider d-md-none" style="top: 2px;" [class.d-block]="arrow == 2"
          [class.d-none]="arrow > 1" (click)="backClicked()"></i>
        <div class="col-12 col-md-4 p-0 spanListContent d-md-block" *ngIf="service_type == 2" (click)="backClicked()"
          [class.d-none]="arrow != 1" [class.d-block]="arrow == 1">
          <img class="secondaryimg" src="assets/images/TtaskDetails.svg">
          <span class="title color"> {{'viewPrice.menuT' | translate}}</span>
        </div>
        <div class="col-12 col-md-4 p-0 spanListContent d-md-block" [class.offset-md-2]="service_type == 1"
          [class.d-none]="arrow != 2" [class.d-block]="arrow == 2">
          <img class="secondaryimg" src="assets/images/TAviewPrice.svg">
          <span class="title color"> {{'viewPrice.menuT1' | translate}} </span>
        </div>
        <div class="col-12 col-md-4 p-0 spanListContent d-md-block" [class.d-none]="arrow != 3" [class.d-block]="arrow == 3">
          <img class="secondaryimg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/TcBook.svg">
          <span class="title"> {{'viewPrice.menuT2' | translate}} </span>
        </div>
        <!-- <i class="fas fa-angle-right arrowProvider d-block d-md-none" [class.d-none]="arrow == 3" [class.d-block]="3 > arrow" (click)="arrowChange(1)"></i> -->
      </div>
      <div class="col-12 p-0 spanListContent text-left">
        <h1 class="titles colorGray"> {{catName}} </h1>
        <h1 class="titles color bookingTypeList pl-sm-2 pl-md-5" (click)="typeBooking()">
          <span class="tiltle">{{bookTitle}}, {{bookDate}}</span>
          <i class="far fa-edit editType pl-2"></i>
        </h1>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="catAddCart col p-0 row m-0">

      <div class="listCatSubCat col-12 col-lg-8 pl-0">
        <!-- provider Details -->
        <div class="allServiceList col p-0 viewPriceProvider" *ngIf="providerList && service_type == 2">
          <div class="subCatList col p-0">
            <div class="allCatList providerContent col-12 p-3 p-sm-4">
              <div class="col-12 timingSlotes pr-0" (click)="reviewList(providerList._id)">
                <div class="imgSize">
                  <img src="{{providerList.profilePic}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/defaultPerson.png'"
                    class="imgProvide">
                </div>
                <div class="serviceTitle col-12 p-0">
                  <h4 class="title">{{providerList.firstName}} {{providerList.lastName}}</h4>
                  <h4 class="title smallSize colorGray" *ngIf="providerList.averageRating">
                    <i class="icon ion-star color"></i> {{providerList.averageRating}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- hourly -->
        <div class="allServiceList col-12 p-0" *ngIf="subCatList && billing_model == 2 || billing_model == 3 || billing_model == 4 || billing_model == 6">
          <div class="subCatList col-12 p-0">
            <div class="allCatList hourlyList providerContent col bg-white {{surgePrice}}">
              <div class="col-12 timingSlotes row m-0 pr-0">
                <div class="imgSize">
                  <img src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/hourly.svg" class="imgProvide rounded-0">
                </div>
                <div class="col-6 col-sm-8 serviceTitle p-0">
                  <h4 class="title textEllipse">{{'viewPrice.hireHr' | translate}}</h4>
                  <!-- <h4 class="title">{{subCatList.cat_name}}</h4> -->
                  <h4 class="title smallSize">{{subCatList.currencySymbol}} {{(subCatList.price_per_fees * surgePrice).toFixed(2)}}</h4>
                  <div class="paraText col10 text-danger pr-2 float-left">{{'viewPrice.minimum' | translate}} {{minHours}} {{'viewPrice.hrs' | translate}}</div>
                </div>
                <div class="col-6 col-sm-4 text-right p-0">
                  <div class="loaderSpin cartLoader inAddCart" *ngIf="subCatList.loader" style="right: 25px;"></div>
                  <button class="adding_button focus" *ngIf="subCatList.btnActive" (click)="addCart('1', 1, 0, 0)">{{'viewPrice.hireHrT' | translate}}</button>
                  <!-- <button class="adding_button inCart" [class.disabled]="subCatList.btnActive == false" *ngIf="subCatList.btnActive == false">IN CART</button> -->
                  <button class="adding_button addCartText p-0 focus" *ngIf="subCatList.btnActive == false">
                    <!-- IN CART -->
                    <div class="addPlusMinus border-0">
                      <div class="cartAdd">
                        <span class="minusCart colorGray cartList float-left" *ngIf="bookingType == 1" (click)="addCart('1', 2, 0, 0)">-</span>
                        <span class="value">{{subCatList.qty}} {{'viewPrice.hrs' | translate}}</span>
                        <span class="plusCart cartList float-right" *ngIf="bookingType == 1" (click)="addCart('1', 1, 0, 0)">+</span>
                      </div>
                    </div>
                  </button>
                  <div class="col-12 paraText text-danger pr-2">
                    <span *ngIf="shwoMinHourErr"> {{ 'viewPrice.minHrsError' | translate}} {{minHours}} {{'viewPrice.minimum' | translate}} {{'viewPrice.hour' | translate}}</span>
                  </div>
                </div>
                <div class="col moreDesc p-0" *ngIf="subCatList.cat_desc">
                  <div class="paraText col10 textEllipses pr-2 float-left">{{subCatList.cat_desc}}</div>
                  <!-- <div class="paraText color pl-2" (click)="descriptionList(subCatList)">Read More</div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- fixed -->
        <div class="allServiceList col-12 p-0 mb-5 mb-md-0" *ngIf="serviceList && billing_model == 1 || billing_model == 2 || billing_model == 5 || billing_model == 6">
          <div class="subCatList col-12 p-0" *ngFor="let subCat of serviceList; let i =index;">
            <div class="allCatList col-12">
              <div class="col serviceTitle p-0 mb-3" *ngIf="subCat.sub_cat_name || subCat.sub_cat_desc">
                <h4 class="title">{{subCat.sub_cat_name}}</h4>
                <div class="paraText">{{subCat.sub_cat_desc}}</div>
              </div>
              <div class="col-12 seviceSubCat timingSlotes row pl-2" *ngFor="let list of subCat.service; let j =index;">
                <div class="col-6 col-sm-8 serviceTitle p-0">
                  <h4 class="title">{{list.ser_name}}</h4>
                  <h4 class="title smallSize">{{list.currencySymbol}} {{(list.is_unit * surgePrice).toFixed(2)}}</h4>
                </div>
                <div class="col-6 col-sm-4 text-right p-0">
                  <div class="loaderSpin cartLoader inAddCart" [class.loadRe]="list.quantity == 0 || list.quantity > 0"
                    *ngIf="list.loader"></div>
                  <button class="adding_button focus" *ngIf="list.btnActive" (click)="addCart(list._id, 1, i, j)">{{'viewPrice.addtoCart' | translate}}</button>
                  <!-- <button class="adding_button inCart" [class.disabled]="list.btnActive == false" *ngIf="list.btnActive == false">IN CART</button> -->
                  <button class="adding_button addCartText p-0 focus" *ngIf="list.btnActive == false">
                    <!-- IN CART -->
                    <div class="addPlusMinus border-0">
                      <div class="cartAdd" *ngIf="list.quantity > 0">
                        <span class="minusCart colorGray cartList float-left" (click)="addCart(list._id, 2, i, j)">-</span>
                        <span class="value">{{list.qty}}</span>
                        <span class="plusCart cartList float-right" (click)="addCart(list._id, 1, i, j)">+</span>
                      </div>
                      <div class="cartAdd cursor" *ngIf="list.quantity == 0" (click)="addCart(list._id, 0, i, j)">
                        <span class="removeTitle">{{'viewPrice.remove' | translate}}</span>
                      </div>
                    </div>
                  </button>
                </div>
                <div class="text-danger col-12 p-0 serviceQty" *ngIf="list.maxqty">{{'viewPrice.allowQty' | translate}}</div>
                <div class="col moreDesc p-0">
                  <div class="paraText col10 textEllipse pr-2 float-left">{{list.ser_desc}}</div>
                  <div class="paraText color pl-2" (click)="descriptionList(list)">{{'viewPrice.viewM' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="emptyData text-center col-12 p-3" *ngIf="(serviceList && serviceList.length == 0) && (billing_model == 1 || billing_model == 2 || billing_model == 5 || billing_model == 6)">
          <img class="emptyList" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/noService.png">
          <div class="col-12 p-0 colorGray"> {{'viewPrice.noS' | translate}}</div>
        </div>
      </div>

      <div class="cartList col-12 col-lg-4 order-first order-lg-1 pr-0 mt-3 d-none d-sm-none d-md-block d-lg-block">
        <div class="cartData col-12 mt-0 boxCheckout pt-3 pb-3 px-3">
          <!-- <div class="loaderSpin pageLoader" style="margin: 40% 0;position: absolute;left: 40%;" *ngIf="cartLoaderSpinner"></div> -->
          <div class="cartEmpty" *ngIf="!cartListActive">
            <div class="cartEmptyTitle">{{'viewPrice.cartEm' | translate}}</div>
            <div class="col-12 text-center p-0">
              <img src="assets/images/cartEmpty.svg" class="cartEmptyImg">
            </div>
            <div class="cartEmptyContent">{{'viewPrice.addSome' | translate}}</div>
          </div>

          <div class="cartDataContent col-12 p-0" *ngIf="cartList && cartListActive">
            <div class="col-12 cartTitle p-0">
              <h2 class="title m-0">
                <b>{{'viewPrice.yourCart' | translate}}</b>
              </h2>
              <!-- <h6 class="titleItem m-0">{{cartList.item.length}} Item</h6> -->
            </div>
            <!-- <div class="loaderSpin cartLoader cartSpinner"></div> -->
            <ul class="detailsRestaurant m-0 p-0">
              <div class="shadowCart"></div>
              <li class="foodDeatils row m-0 py-2" *ngFor="let cart of cartList.item;let i = index;" [hidden]="cart.quntity == 0">
                <span class="pricedetailsleft col-4 p-0 textEllipses">
                  {{cart.serviceName}}
                </span>
                <span class="addCartText col-4 pr-0 text-right">
                  <div class="addPlusMinus">
                    <div class="loaderSpin cartLoader" *ngIf="cart.loader"></div>
                    <div class="cartAdd" *ngIf="cart.quantityAction > 0">
                      <span class="minusCart colorGray cartList float-left" (click)="addMinusCart(cart.serviceId, 2, i)" *ngIf="bookingType == 1">-</span>
                      <span class="value">{{cart.quntity}}
                        <span *ngIf="serviceTypehr == 2">{{'viewPrice.hrs' | translate}}</span>
                      </span>
                      <span class="plusCart cartList float-right" (click)="addMinusCart(cart.serviceId, 1, i)" *ngIf="bookingType == 1">+</span>
                    </div>
                    <div class="cartAdd cursor" *ngIf="cart.quantityAction == 0" (click)="addMinusCart(cart.serviceId, 0, i)">
                      <span class="removeTitle">{{'viewPrice.remove' | translate}}</span>
                    </div>
                  </div>
                </span>
                <span class="pricedetails col-4 p-0 text-right">
                  <span class="price" id="plusCartprice">{{cartList.currencySymbol}} {{(cart.amount * surgePrice).toFixed(2)}}</span>
                </span>
                <div class="text-danger col-12 p-0 text-center" *ngIf="cart.maxqty">{{'viewPrice.allowQty' | translate}}</div>
              </li>
              <div class="shadowCart"></div>
            </ul>
            <div class="totalCharge col-12 p-0 mt-2">
              <div class="itemCharge col-12 p-0">
                <div class="total">{{'viewPrice.toPay' | translate}}</div>
                <div class="priceList">{{cartList.currencySymbol}} {{(cartList.totalAmount * surgePrice).toFixed(2)}}</div>
              </div>
              <!-- <div class="progress headBar" *ngIf="loaderpage">
                <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
              </div> -->
              <div class="submitCheckout" (click)="checkOut()">
                <span class="textBar">{{'viewPrice.checkout' | translate}}</span>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>


<div class="ratingList allRatingList d-block d-md-none" *ngIf="cartListActive">
  <div class="reviewTitle" (click)="checkOut()">
    <!-- <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div> -->
    <span class="btnCheckout">{{'viewPrice.checkout' | translate}} ({{cartCount}}) </span>
  </div>
</div>


<!-- small screen checkout -->
<div class="ratingList allRatingList d-none d-md-none" [class.active]="ratingTrue">
  <div class="reviewTitle" *ngIf="!ratingTrue" (click)="ratingTrue = !ratingTrue">
    <span class="btnCheckout">{{'viewPrice.yourCart' | translate}}
      <span class="cartCount">{{cartCount}}</span>
    </span>
  </div>
  <div class="allRatingListReview" *ngIf="ratingTrue">
    <div class="cartCloseBtn" (click)="ratingTrue = !ratingTrue">X</div>
    <div class="reviewContent">
      <div class="cartData col-12 p-0">
        <!-- <div class="loaderSpin pageLoader" style="margin: 40% 0;position: absolute;left: 40%;" *ngIf="cartLoaderSpinner"></div> -->
        <div class="cartEmpty" *ngIf="!cartListActive">
          <div class="cartEmptyTitle">{{'viewPrice.cartEm' | translate}}</div>
          <div class="col-12 text-center p-0">
            <img src="assets/images/cartEmpty.svg" class="cartEmptyImg">
          </div>
          <div class="cartEmptyContent">{{'viewPrice.addSome' | translate}}</div>
        </div>

        <div class="cartDataContent col-12 p-0" *ngIf="cartList && cartListActive">
          <div class="col-12 cartTitle p-0">
            <h2 class="title m-0">
              <b>{{'viewPrice.yourCart' | translate}}</b>
            </h2>
            <!-- <h6 class="titleItem m-0">{{cartList.item.length}} Item</h6> -->
          </div>
          <ul class="detailsRestaurant m-0 p-0">
            <div class="shadowCart"></div>
            <li class="foodDeatils row m-0 py-2" *ngFor="let cart of cartList.item;let i = index;" [hidden]="cart.quntity == 0">
              <span class="pricedetailsleft col-4 p-0 textEllipses">
                {{cart.serviceName}}
              </span>
              <span class="addCartText col-4 pr-0 text-right">
                <div class="addPlusMinus">
                  <div class="loaderSpin cartLoader" *ngIf="cart.loader"></div>
                  <div class="cartAdd" *ngIf="cart.quantityAction > 0">
                    <span class="minusCart colorGray cartList float-left" *ngIf="bookingType == 1" (click)="addMinusCart(cart.serviceId, 2, i)">-</span>
                    <span class="value">{{cart.quntity}}
                      <span *ngIf="serviceTypehr == 2">{{'viewPrice.hrs' | translate}}</span>
                    </span>
                    <span class="plusCart cartList float-right" *ngIf="bookingType == 1" (click)="addMinusCart(cart.serviceId, 1, i)">+</span>
                  </div>
                  <div class="cartAdd cursor" *ngIf="cart.quantityAction == 0" (click)="addMinusCart(cart.serviceId, 0, i)">
                    <span class="removeTitle">{{'viewPrice.remove' | translate}}</span>
                  </div>
                </div>
              </span>
              <span class="pricedetails col-4 p-0 text-right">
                <span class="price" id="plusCartprice">{{cartList.currencySymbol}} {{(cart.amount * surgePrice).toFixed(2)}}</span>
              </span>
              <div class="text-danger col-12 p-0 text-center" *ngIf="cart.maxqty">{{'viewPrice.allowQty' | translate}}</div>
            </li>
            <!-- <div class="shadowCart"></div> -->
          </ul>
          <div class="totalCharge col-12 p-0 mt-2">
            <div class="itemCharge col-12 p-0">
              <div class="total">{{'viewPrice.toPay' | translate}}</div>
              <div class="priceList">{{cartList.currencySymbol}} {{((cartList.totalAmount) * surgePrice).toFixed(2)}}</div>
            </div>
            <!-- <div class="progress headBar" *ngIf="loaderpage">
                  <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
                </div> -->
            <div class="submitCheckout" (click)="checkOut()">
              <span class="textBar">{{'viewPrice.checkout' | translate}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- description service List -->
<div class="modal fade boxPopup" id="descList" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content col-12 p-0">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-body" *ngIf="descList">
        <div class="col-12 p-0 allListDesc" *ngIf="descList.ser_name">
          <div class="col-12 p-0 serviceTitle">
            <h4 class="title">{{descList.ser_name}}</h4>
            <h5>{{descList.currencySymbol}} {{descList.is_unit}}</h5>
          </div>
          <div class="col-12 p-0 serviceTitle">
            <p class="colorGray">{{descList.ser_desc}}</p>
          </div>
        </div>
        <div class="col-12 p-0 allListDesc" *ngIf="descList.cat_name">
          <div class="col-12 p-0 serviceTitle">
            <h4 class="title">{{descList.cat_name}}</h4>
            <h5>{{descList.currencySymbol}} {{descList.price_per_fees}}</h5>
          </div>
          <div class="col-12 p-0 serviceTitle">
            <p class="colorGray">{{descList.cat_desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--booking schedule -->
<div class="modal fade boxPopup" id="notaryTask" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content p-0">
      <div class="modal-header">
        <h3 class="title col-12 p-0 text-center">{{catName}}</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body locationList">

        <div class="allStepList col-12 p-0">
          <div class="titleList text-center" *ngIf="asapSchedule != 2">{{'viewPrice.bookingT' | translate}}?</div>
          <div class="bookingForm col p-0 row m-0" *ngIf="bookingList && asapSchedule != 2">
            <div class="asaSchedule col-4" (click)="asapSchedules(0)" *ngIf="bookingList.bookingTypeAction.now == true">
              <div class="titleContent col-12" [class.active]="asapSchedule == 0">
                <div class="title">{{'viewPrice.now' | translate}}</div>
                <div class="titles">{{'viewPrice.availInMins' | translate}}</div>
              </div>
            </div>
            <div class="asaSchedule col-4" (click)="asapSchedules(1)" *ngIf="bookingList.bookingTypeAction.schedule == true">
              <div class="titleContent col-12" [class.active]="asapSchedule == 1">
                <div class="title">{{'viewPrice.singleShift' | translate}}</div>
                <div class="titles">{{'viewPrice.availTimings' | translate}}</div>
              </div>
            </div>
            <div class="asaSchedule col-4" (click)="asapSchedules(2)" *ngIf="bookingList.bookingTypeAction.repeat == true">
              <div class="titleContent col-12" [class.active]="asapSchedule == 2">
                <div class="title">{{'viewPrice.selectScd1' | translate}}</div>
                <div class="titles">{{'viewPrice.availCustom' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0 selectDateTime" [hidden]="asapSchedule != 1">
            <div class="titleList text-center col-12">{{'viewPrice.selectDate' | translate}}?</div>
            <div class="col-12 p-0 selectDate row m-0">
              <div class="asaSchedule col-4" *ngFor="let list of sendDate;let i = index">
                <div class="titleContent col-12" [class.active]="list.active" (click)="selectDate(i)">
                  <div class="titles">{{list.day}}</div>
                  <div class="title">{{list.date}}</div>
                </div>
              </div>
              <div class="asaSchedule col-4">
                <div class="titleContent col-12" [class.otherDate]="otherDate" (click)="selectDate('Ds')">
                  <div class="titles">{{"viewPrice.othersT" | translate}}</div>
                  <input class="form-control BtypePicker" name="pickup_date" type="text" placeholder="yyyy-mm-dd">
                </div>
              </div>
            </div>
            <div class="col-12 p-0 selectTime">
              <div class="titleList text-center">{{'viewPrice.selectT' | translate}}?</div>
              <input class="form-control BtypeTimePicker" id="BtypeTimePicker1" (click)="TimePicker($event)" name="pickup_time"
                type="text" placeholder="hh:ss">
            </div>
            <div class="col-12 p-0 selectTime mt-3">
              <div class="titleList fontSmall text-center">{{'viewPrice.duration' | translate}}?</div>
              <input class="form-control startDuration1" id="TimeDuration1" (click)="TimeDuration($event)" name="startDuration"
                type="text" placeholder="hh:mm">
              <!-- <div class="col-12 p-0 text-center cursor addHours">
                <span class="qtyAdd" (click)="addHour(-1)">-</span>
                <span class="qtyNos qtyAdd color">{{count}}</span>
                <span class="qtyAdd" (click)="addHour(1)">+</span>
              </div> -->
            </div>
          </div>
          <div class="col-12 p-0 selectDateTime" [hidden]="asapSchedule != 2">
            <!-- <div class="titleList text-center col-12">Select start date and time?</div> -->
            <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 0">
              <div class="col-12 p-0 selectTime">
                <div class="titleList text-center">{{'viewPrice.StartDate' | translate}}</div>
                <div class="allSubList col-12" *ngFor="let list of shiftDateList;let i = index">
                  <span class="boxCheck" (click)="dateSelect(i)" style="position: relative;">
                    <i class="ion-checkmark-round tickCheck color" style="top: -2px;left: 3px;" *ngIf="list.checked"></i>
                  </span>
                  <span class="labelTextCheck">{{list.day}}</span>
                </div>
              </div>
              <div class="col-12 p-0 startEndTime" [hidden]="!startEndTime">
                <div class="col-12 p-0 selectTime">
                  <div class="titleList fontSmall text-center">{{'viewPrice.selectSD' | translate}}?</div>
                  <input class="form-control repeatStartTime" name="pickup_time" type="text" placeholder="yyyy-mm-dd">
                </div>
                <div class="col-12 p-0 selectTime">
                  <div class="titleList fontSmall text-center">{{'viewPrice.selectED' | translate}}?</div>
                  <input class="form-control repeatEndTime" name="pickup_time" type="text" placeholder="yyyy-mm-dd">
                </div>
              </div>
              <div class="col-12 pr-0 colorText" *ngIf="startEndDate && !startEndTime">{{startEndDate}}</div>
            </div>

            <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 1">
              <div class="col-12 p-0 selectTime">
                <div class="titleList text-center">{{'viewPrice.selectDayWeek' | translate}}</div>
                <div class="allSubList col-12" *ngFor="let list of shiftDaysList;let i = index">
                  <span class="boxCheck" (click)="daysShift(i)" style="position: relative;">
                    <i class="ion-checkmark-round tickCheck color" style="top: -2px;left: 3px;" *ngIf="list.checked"></i>
                  </span>
                  <span class="labelTextCheck">{{list.day}}</span>
                </div>
              </div>
              <div class="col-12 p-0 selectTime">
                <hr class="col-12 p-0">
                <!-- <div class="titleList fontSmall text-center">Repeat Days?</div> -->
                <div class="allSubList col-12" *ngFor="let list of selectDays;let i = index">
                  <span class="boxCheck" (click)="daySelect(i)" style="position: relative;">
                    <i class="ion-checkmark-round tickCheck color" style="top: -2px;left: 3px;" *ngIf="list.checked"></i>
                  </span>
                  <span class="labelTextCheck">{{list.day}}</span>
                </div>
              </div>
            </div>
            <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 2">
              <div class="col-12 p-0 selectTime">
                <div class="titleList text-center">{{'viewPrice.shiftStartTime' | translate}}?</div>
                <div class="col-12 p-0 selectTime">
                  <div class="titleList fontSmall pt-0 text-center">{{'viewPrice.startTime' | translate}}?</div>
                  <input class="form-control BtypeTimePicker" id="BtypeTimePicker2" (click)="TimePicker($event)" name="pickup_time"
                    type="text" placeholder="hh:mm:ss">
                </div>
              </div>
              <div class="col-12 p-0 selectTime">
                <div class="titleList fontSmall text-center">{{'viewPrice.duration' | translate}}?</div>
                <input class="form-control startDuration" id="TimeDuration2" (click)="TimeDuration($event)" name="startDuration"
                  type="text" placeholder="hh:mm">
                <!-- <div class="col-12 p-0 text-center cursor addHours">
                  <span class="qtyAdd" (click)="addHour(-1)">-</span>
                  <span class="qtyNos qtyAdd color">{{count}}</span>
                  <span class="qtyAdd" (click)="addHour(1)">+</span>
                </div> -->
              </div>
            </div>
          </div>

          <div
            class="mutiShiftOffers col-12 p-0 mt-4"
            *ngIf="
              bookingList && offers && offers.length > 0 && asapSchedule == 2
            "
          >
            <div class="titleList fontSmall col-12 pl-2 pb-2" style="font-weight: 500;">{{'viewPrice.offMultiShift' | translate}}</div>
            <div class="mutiShiftOffer col-12 p-0  row m-0">
              <div class="asaSchedule col-6" *ngFor="let offer of offers">
                <div class="titleContent media col-12">
                  <img class="offerIcon" src="assets/images/offerIcon.svg" />
                  <div class="media-body pl-2 pl-md-3 text-left">
                    <div class="titles">{{ offer.title }}</div>
                    <div class="title">
                      <span *ngIf="offer.discountType == 1">{{
                        bookingList.currencySymbol
                      }}</span>
                      {{ offer.value }}
                      <span *ngIf="offer.discountType == 2"> %</span>
                    </div>
                    <div class="titles text-danger">
                      {{ offer.offerDescription }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="errorList col-12 p-1" *ngIf="errMsgs">{{errMsgs}}</div>
      <input type="hidden" class="timePick">
      <input type="hidden" class="timeduration">
      <div class="modal-footer p-0 border-0">
        <div class="col-12 btnNext footerNext">
          <span class="col-12 col-sm-3 p-0 float-right" *ngIf="asapSchedule != 2">
            <button type="button" class="btn btnButton btnGreen col-12" (click)="dateChange()">{{'viewPrice.submit' | translate}}</button>
          </span>
          <span class="col-12 p-0 float-right col-sm-6" *ngIf="asapSchedule == 2">
            <button type="button" class="btn btnButton mr-2 col-5" (click)="multipleShift(-1)">{{'viewPrice.back' | translate}}</button>
            <button type="button" class="btn btnButton btnGreen col-6" *ngIf="shiftTime != 2" (click)="multipleShift(1)">{{'viewPrice.next' | translate}}</button>
            <button type="button" class="btn btnButton btnGreen col-6" *ngIf="shiftTime == 2" (click)="dateChange()">{{'viewPrice.submit' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- reset Your cart -->
<div class="modal fade boxPopup" id="resetCart" data-backdrop="static" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-3">
      <div class="modal-body">
        <p class="paraText" *ngIf="errMsg">{{errMsg}}</p>
      </div>
      <div class="col-12 p-0 row m-0">
        <span class="col-6">
          <button type="button" class="btn btnButton col-12" data-dismiss="modal" (click)="backClicked()">{{'viewPrice.cancel' | translate}}</button>
        </span>
        <span class="col-6">
          <button type="button" class="btn btnButton btnGreen col-12" data-dismiss="modal" (click)="addResetCart();">{{'viewPrice.ok' | translate}}</button>
        </span>
      </div>
    </div>
  </div>
</div>