<div class="col-12 headerList">
  <div class="container">
    <div class="navBarHeader float-left">
      <img class="logoImg col-12 cursor focus" routerLink="" src="assets/images/logo.png" alt="logo">
    </div>
    <div class="navBarHeaderRight float-right d-none d-md-block" [class.active]="loginFlag">
      <span class="title pr-5" (click)="becomeList()">{{'header.menu1' | translate}}</span>
      <span class="title" (click)="loginSignup()" *ngIf="!loginFlag" style="font-weight: 500;">{{'header.menu2' | translate}}</span>
      <span class="title pr-5" (click)="profilePage()" *ngIf="loginFlag">{{'header.menu3' | translate}}</span>
      <span class="title dropdown loginImg" *ngIf="loginFlag">
        <span class="dropdown-toggle" data-toggle="dropdown">
          <!-- <b>{{profileName}}</b> -->
          <img src="{{profilePic}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/defaultPerson.png'"
            class="imgProfile" alt="{{profileName}}" title="{{profileName}}">
          <span class="title pl-1 color textEllipse" style="font-weight: 600;">{{profileName}}</span>
        </span>
        <div class="dropdown-menu" style="top: 18px;">
          <a class="dropdown-item" (click)="profilePage()">{{'header.menu4' | translate}}</a>
          <a class="dropdown-item" (click)="profilePage()">{{'header.menu3' | translate}}</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#logoutClosed">{{'header.logoutT' | translate}}</a>
        </div>
      </span>
    </div>
    <div class="navBarHeaderRight float-right d-block d-md-none">
      <span class="title" (click)="sideMenuList()">
        <img class="iconList" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/sideMenu.svg">
      </span>
    </div>
  </div>
</div>



<!-- login && signup -->
<div class="sidePopupOpen" [class.transition]="loginSignToggle">
  <div class="overlayList" [hidden]="!loginSignToggle" (click)="overLayLogin()"></div>
  <div class="sideMenuList rightSide">
    <!-- login -->
    <div class="loginSignupAll" [hidden]="loginToggle">
      <div class="titleSave socialListPad">
        <div class="ion-android-close ionClose" id="closeButton1" (click)="overLayLogin()"></div>
        <div class="tileList">{{'header.logInT' | translate}}</div>
        <div class="otherTitle">{{'header.orT' | translate}}
          <span class="changeTitle" (click)="signUp()">{{'header.createAccT' | translate}}</span>
        </div>
        <img class="ImgLogos" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/circleRest.svg" width="100"
          height="100" alt="">
      </div>
      <div class="socialLogin col-12 p-0 row m-0">
        <div class="btnSocial col-12 col-sm-6 pl-0">
          <div class="loaderSpin headerLoader fbSocial spinFl"></div>
          <button type="submit" class="btn btn-defaults socialLinks m-0 mb-2 mb-sm-5" (click)="onFacebookLoginClick()"
            style="background-color: rgb(59, 89, 152);">
            <img class="socialIon" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/fbIcon.svg">
            <!-- <i class="socialIon ion-social-facebook"></i> -->
            {{'header.loginfb' | translate}}</button>
        </div>
        <div class="btnSocial col-12 col-sm-6 pr-0">
          <div class="loaderSpin headerLoader fbSocial spinGl"></div>
          <button type="submit" class="btn btn-defaults socialLinks m-0 mb-4 mb-sm-5" (click)="onGoogleLoginClick()"
            style="background-color: rgb(221, 76, 59);">
            <img class="socialIon" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/gPlusIcon.svg">
            <!-- <i class="socialIon ion-social-googleplus"></i> -->
            {{'header.loginGT' | translate}}</button>
        </div>
      </div>
      <div class="formsList">
        <div class="loginEmail col-12 p-0 mb-3">
          <span class="title mr-5" [class.active]="!emailPhone" (click)="emailPhones(0)">{{'header.emailT' | translate}}</span>
          <span class="title" [class.active]="emailPhone" (click)="emailPhones(1)">{{'header.phoneT' | translate}}</span>
        </div>
        <form class="col-12 p-0">
          <div class="inputBox border-bottom-0" [hidden]="!emailPhone">
            <input class="inpuText focus intelInput" type="text" id="regisCouLogin" name="phoneNumber" [(ngModel)]="phoneNumber"
              #phv (keyup)="mobileValidation(phv.value, 0, $event)" (blur)="focusMobile = !focusMobile" (focus)="focusMobile = !focusMobile"
              (change)="mobileValidation(phv.value, 0, $event)" required="" placeholder="{{'header.mobileText' | translate}}">
            <!-- <label [class.active]="focusMobile || phoneNumber && phoneNumber.length > 0" [ngClass]="{successTxt:phoneNumber?.length > 0 || phone_Error == 0, errorTxt:phoneNumber?.length == 0 || phone_Error == 1}"
              style="left: 72px;">{{'header.mobileText' | translate}} *</label> -->
          </div>
          <div class="inputBox border-bottom-0" [hidden]="emailPhone">
            <input class="inpuText focus" type="text" name="email" [(ngModel)]="email" #err (keyup)="emailValidation(err.value, 0)"
              (change)="emailValidation(err.value, 0)" required="">
            <label [ngClass]="{successTxt:email?.length > 0 || email_Error == 0, errorTxt:email?.length == 0 || email_Error == 1}">{{'header.emailT' | translate}}
              *</label>
          </div>
          <div class="inputBox">
            <input class="inpuText focus" type="password" name="password" [(ngModel)]="password" required="">
            <div class="forgotText" (click)="forgot()">{{'header.forgotT' | translate}}</div>
            <label [ngClass]="{successTxt:password?.length > 0, errorTxt:password?.length == 0}">{{'header.pwdT' | translate}} *</label>
          </div>
          <div class="loginButton">
            <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
            <div class="progress headBar rightSideBar" *ngIf="loaderList">
              <div class="progress-bar bg-success bar" style="width: 50%;"> </div>
            </div>
            <!-- <div class="loaderSpin headerLoader" *ngIf="loaderList"></div> -->
            <button type="submit" class="btn btn-defaults btnSubmit" (click)="logIn()" [disabled]="!((registerSave && password) && (phoneNumber || email))">
              <span class="textBar">{{'header.bLogin' | translate}}</span>
            </button>
          </div>
        </form>
      </div>

    </div>
    <!--forgot password -->
    <div class="loginSignupAll" [hidden]="!otpToggle">
      <div class="titleSave">
        <div class="ion-arrow-left-c ionClose" (click)="login()"></div>
        <div class="tileList">{{'header.forgotPwd' | translate}}</div>
        <div class="forgotText">{{'header.forgotDec' | translate}}</div>
        <div class="otherTitle">{{'header.orT' | translate}}
          <span class="changeTitle" (click)="login()">{{'header.loginyrAcc' | translate}}</span>
        </div>
        <img class="ImgLogos" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/circleRest.svg" width="100"
          height="100" alt="">
      </div>
      <div class="formsList" [hidden]="oneTime">
        <div class="loginEmail col-12 p-0 mb-3">
          <span class="title mr-5" [class.active]="!emailPhone" (click)="emailPhones(0)">{{'header.emailT' | translate}}</span>
          <span class="title" [class.active]="emailPhone" (click)="emailPhones(1)">{{'header.phoneT' | translate}}</span>
        </div>
        <form class="col-12 p-0">
          <div class="inputBox" [hidden]="emailPhone">
            <input class="inpuText focus" type="text" name="email" [(ngModel)]="email" #errs (keyup)="emailValidation(errs.value, 0)"
              (change)="emailValidation(errs.value, 0)" required="">
            <label [ngClass]="{successTxt:email?.length > 0 || email_Error == 0, errorTxt:email?.length == 0 || email_Error == 1}">{{'header.emailT' | translate}}
              *</label>
          </div>
          <div class="inputBox" [hidden]="!emailPhone">
            <input class="inpuText focus intelInput" type="text" id="regisCouOtpLogin" (blur)="focusMobile = !focusMobile"
              (focus)="focusMobile = !focusMobile" name="phoneNumber" [(ngModel)]="phoneNumber" #pov (keyup)="mobileValidation(pov.value, 0, $event)"
              (change)="mobileValidation(pov.value, 0, $event)" required="" placeholder="{{'header.mobileText' | translate}}">
            <!-- <label [class.active]="focusMobile || phoneNumber && phoneNumber.length > 0" [ngClass]="{successTxt:phoneNumber?.length > 0 || phone_Error == 0, errorTxt:phoneNumber?.length == 0 || phone_Error == 1}"
              style="left: 72px;">{{'header.mobileText' | translate}} *</label> -->
          </div>
          <!-- <div class="inputBox">
                <input class="inpuText focus" type="text" name="otpNumber" [(ngModel)]="otpNumber" required="">
                <label>One time password</label>
              </div> -->
          <div class="loginButton">
            <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
            <div class="progress headBar rightSideBar" *ngIf="loaderList">
              <div class="progress-bar bg-success bar" style="width: 0%;"> </div>
            </div>
            <!-- <div class="loaderSpin headerLoader" *ngIf="loaderList"></div> -->
            <button type="submit" class="btn btn-defaults btnSubmit" [disabled]="!((registerSave) && (phoneNumber || email))"
              (click)="forgotPassword()">
              <span class="textBar" [hidden]="emailPhone">{{'header.verifyEmailT' | translate}}</span>
              <span class="textBar" [hidden]="!emailPhone">{{'header.verifyPT' | translate}}</span>
            </button>
          </div>
        </form>
      </div>
      <div class="formsList" [hidden]="!oneTime">
        <div class="formsList" *ngIf="!rePwd">
          <form class="col-12 p-0">
            <div class="inputBox">
              <input class="inpuText focus" type="text" maxlength="4" name="OtpNumber" [(ngModel)]="OtpNumber" value="1111" required="">
              <label [ngClass]="{successTxt:OtpNumber?.length > 0, errorTxt:OtpNumber?.length == 0}">{{'header.verifyCode' | translate}}*</label>
            </div>
            <div class="loginButton">
              <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
              <!-- <div class="loaderSpin headerLoader" *ngIf="loaderList"></div> -->
              <div class="progress headBar rightSideBar" *ngIf="loaderList">
                <div class="progress-bar bg-success bar" style="width: 0%;"> </div>
              </div>
              <button type="submit" class="btn btn-defaults btnSubmit" (click)="fogotOtp()" [disabled]="!(OtpNumber)">
                <span class="textBar">{{'header.continueT' | translate}}</span>
              </button>
            </div>
          </form>
        </div>
        <div class="formsList" *ngIf="rePwd">
          <form class="col-12 p-0">
            <div class="inputBox border-bottom-0">
              <input class="inpuText focus" type="password" name="newPassword" [(ngModel)]="newPassword" required="">
              <label [ngClass]="{successTxt:newPassword?.length > 0, errorTxt:newPassword?.length == 0}">{{'header.newPwd' | translate}}
                *</label>
            </div>
            <div class="inputBox">
              <input class="inpuText focus" type="password" name="CPassword" [(ngModel)]="CPassword" required="">
              <label [ngClass]="{successTxt:CPassword?.length > 0, errorTxt:CPassword?.length == 0}">{{'header.RePwd' | translate}}
                *</label>
            </div>
            <div class="loginButton">
              <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
              <div class="progress headBar rightSideBar" *ngIf="loaderList">
                <div class="progress-bar bg-success bar" style="width: 0%;"> </div>
              </div>
              <button type="submit" class="btn btn-defaults btnSubmit" (click)="reSetPwd()" [disabled]="!(newPassword && CPassword)">
                <span class="textBar">{{'header.setPwd' | translate}}</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- signup-->
    <div class="loginSignupAll" [hidden]="!signupToggle">
      <div class="titleSave socialListPad" [hidden]="signupoTp">
        <div class="ion-android-close ionClose" id="closeButton2" (click)="overLayLogin()"></div>
        <div class="tileList">{{'header.signupT' | translate}}</div>
        <div class="otherTitle">{{'header.orT' | translate}}
          <span class="changeTitle" (click)="login()">{{'header.loginurAcc' | translate}}</span>
        </div>
        <img class="ImgLogos" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/circleRest.svg" width="100"
          height="100" alt="">
      </div>
      <div class="titleSave" [hidden]="!signupoTp" style="height: 150px;">
        <div class="ion-android-close ionClose" id="closeButton3" (click)="overLayLogin()"></div>
        <div class="tileList">{{'header.verifyT' | translate}}</div>
        <div class="forgotText">
          {{'header.verifyMT' | translate}}
        </div>
        <div class="otherTitle">{{'header.orT' | translate}}
          <span class="changeTitle" (click)="login()">{{'header.loginurAcc' | translate}}</span>
        </div>
        <img class="ImgLogos" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/circleRest.svg" width="100"
          height="100" alt="">
      </div>

      <div class="formsList" [hidden]="signupoTp">
        <div class="socialLogin col-12 p-0 row m-0">
          <div class="btnSocial col-12 col-sm-6 pl-0">
            <div class="loaderSpin headerLoader fbSocial spinFs"></div>
            <button type="submit" class="btn btn-defaults socialLinks m-0 mb-2 mb-sm-5" (click)="onFacebookSignupClick()"
              style="background-color: rgb(59, 89, 152);">
              <img class="socialIon" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/fbIcon.svg">
              {{'header.signupF' | translate}}</button>
          </div>
          <div class="btnSocial col-12 col-sm-6 pr-0">
            <div class="loaderSpin headerLoader fbSocial spinGs"></div>
            <input type="hidden" class="googleId">
            <input type="hidden" class="fbId">
            <button type="submit" class="btn btn-defaults socialLinks m-0 mb-4 mb-sm-5" (click)="onGoogleSignupClick()"
              style="background-color: rgb(221, 76, 59);">
              <img class="socialIon" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/gPlusIcon.svg">
              {{'header.signupG' | translate}}</button>
          </div>
        </div>
        <form class="col-12 p-0">
          <div class="inputBox border-bottom-0">
            <input class="inpuText focus" type="text" name="fullName" (click)="phoneEmailValidation()" [(ngModel)]="fullName"
              required="">
            <label [ngClass]="{successTxt:fullName?.length > 0, errorTxt:fullName?.length == 0}">{{'header.firstN' | translate}} *</label>
          </div>
          <div class="inputBox border-bottom-0">
            <input class="inpuText focus" type="text" name="lastName" (click)="phoneEmailValidation()" [(ngModel)]="lastName"
              required="">
            <label>{{'header.lastN' | translate}}</label>
          </div>
          <div class="inputBox border-bottom-0">
            <input class="inpuText focus intelInput" type="text" id="regisCouFlag" name="phoneNumber" (blur)="focusMobile = !focusMobile"
              (focus)="focusMobile = !focusMobile" [(ngModel)]="phoneNumber" (click)="phoneEmailValidation()" #pv
              (keyup)="mobileValidation(pv.value, 1, $event)" (change)="mobileValidation(pv.value, 1, $event)" required="" placeholder="{{'header.mobileText' | translate}}">
            <!-- <label [class.active]="focusMobile || phoneNumber && phoneNumber.length > 0" [ngClass]="{successTxt:phoneNumber?.length > 0 || phone_Error == 0, errorTxt:phoneNumber?.length == 0 || phone_Error == 1}"
              style="left: 72px;">{{'header.mobileText' | translate}} *</label> -->
          </div>
          <div class="inputBox border-bottom-0">
            <input class="inpuText focus" type="text" name="email" [(ngModel)]="email" #er (keyup)="emailValidation(er.value, 1)"
              (change)="emailValidation(er.value, 1)" required="">
            <label [ngClass]="{successTxt:email?.length > 0 || email_Error == 0, errorTxt:email?.length == 0 || email_Error == 1}">{{'header.emailT' | translate}}
              *</label>
          </div>
          <div class="inputBox border-bottom-0">
            <input class="inpuText focus" type="password" (click)="phoneEmailValidation()" name="password" [(ngModel)]="password"
              #pr (keyup)="passwordValidation(pr.value)" (change)="passwordValidation(pr.value)" required="">
            <label [ngClass]="{successTxt:password?.length > 0 || pwd_Error == 0, errorTxt:password?.length == 0 || pwd_Error == 1}">{{'header.pwdT' | translate}}
              *</label>
          </div>
          <div class="inputBox">
            <input class="inpuText focus" type="text" name="referralCode" [(ngModel)]="referralCode" required="">
            <label>{{'header.referralT' | translate}}</label>
          </div>
          <div class="TC">
            <span class="termsCheckbox" [ngClass]="{termsVisible: termsVisible}" (click)="visibleTerm()"></span>
            <span class="">
              {{'header.creatintT' | translate}}
              <span class="tCText focus cursor"><a target="_blank" routerLink="./terms">{{'header.tCT' | translate}}</a></span>
            </span>
          </div>
          <!-- <div class="referalCode">Have a referral code?</div> -->
          <div class="loginButton">
            <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
            <!-- <div class="loaderSpin headerLoader" *ngIf="loaderList"></div> -->
            <div class="progress headBar rightSideBar" *ngIf="loaderList">
              <div class="progress-bar bg-success bar" style="width: 0%;"> </div>
            </div>
            <button type="submit" class="btn btn-defaults btnSubmit" (click)="referalValidation()" [disabled]="!(registerSave && phone_Error=='0' && email_Error=='0' && fullName && phoneNumber && email && password && termsVisible)">
              <span class="textBar">{{'header.continueT' | translate}}</span>
            </button>
          </div>
        </form>


      </div>


      <div class="formsList" [hidden]="!signupoTp">
        <form class="col-12 p-0">
          <div class="inputBox">
            <input class="inpuText focus" type="text" maxlength="4" name="OtpNumber" [(ngModel)]="OtpNumber" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              required="">
            <!-- <div class="forgotText" (click)="resendOtp()">Resend</div> -->
            <label [ngClass]="{successTxt:OtpNumber?.length > 0, errorTxt:OtpNumber?.length == 0}">{{'header.verifyCode' | translate}}
              *</label>
          </div>
          <div class="countTimer" id="countdown2" *ngIf="timer"></div>
          <div class="forgotText countTimer" *ngIf="!timer" (click)="resendOtp()">Resend</div>
          <div class="loginButton text-center">
            <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
            <!-- <div class="loaderSpin headerLoader" *ngIf="loaderList"></div> -->
            <div class="progress headBar rightSideBar" *ngIf="loaderList">
              <div class="progress-bar bg-success bar" style="width: 0%;"> </div>
            </div>
            <button type="submit" class="btn btn-defaults btnSubmit" (click)="registrationOtp()" [disabled]="!(OtpNumber)">
              <span class="textBar">{{'header.continueT' | translate}}</span>
            </button>
          </div>
        </form>
      </div>


    </div>

  </div>

</div>

<!-- logout -->
<div class="modal fade boxPopup" id="logoutClosed" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content col-12 p-3">
      <div class="modal-body">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <!-- <h4 class="textTitle"> {{restString.itemCartT}}</h4> -->
        <p class="paraText">{{'header.logoutP' | translate}}</p>
      </div>
      <div class="col-12 p-0 row m0">
        <span class="col-6">
          <button type="button" class="btn btnButton btnGreen col-12" data-dismiss="modal" (click)="logOut();">{{'header.yesT' | translate}}</button>
        </span>
        <span class="col-6">
          <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'header.noT' | translate}}</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- map location Select -->
<div class="modal fade boxPopup" data-backdrop="static" id="cLocation" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-0">
      <div class="modal-body p-0">
        <div class="currentList">
          <input type="text" [ngClass]="{successTxt:locAddressed?.length > 0, errorTxt:locAddressed?.length == 0}"
            class="listCurrent form-control focus" name="locAddressed" [(ngModel)]="locAddressed" id="txtPlaced"
            (keyup)="changeLocations()" (change)="locationChanges()" placeholder="{{'header.enterJobLoc' | translate}}">
          <div class="currentLocation">
            <i class="fas fa-times locatIcons bg-white text-danger cursor" (click)="closeLocations()"></i>
            <i class="fas fa-location-arrow locatIcons cursor" (click)="currentLocation()"></i>
          </div>
        </div>
        <div class="locationC" id="mapDatas"></div>

        <div class="col-12 p-0 btnContent text-center">
          <input type="hidden" class="arealats">
          <input type="hidden" class="arealngs">
          <input type="hidden" class="areaNames">
          <div class="col-12 col-md-4 p-0 btnMapLocate">
            <button type="button" class="btn btnButton btnGreen col-12" (click)="submitLocate()">{{'header.submitT' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- session expired -->
<div class="modal fade boxPopup" data-backdrop="static" id="expirySession" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content ">
      <div class="modal-body text-center">
        <h4 class="textTitle text-danger">{{'header.sessionT' | translate}}</h4>
      </div>
      <div class="col-12 p-0 row m-0">
        <span class="col-12 p-0 text-center">
          <button type="button" data-dismiss="modal" class="btn btnButton btnGreen col-12 col-md-4" data-dismiss="modal"
            (click)="logOut()">{{'header.okT' | translate}}</button>
        </span>
      </div>
    </div>
  </div>
</div>


<!-- small screen list menu -->
<div class="sidePopupOpen catpopupList menuListContent" [class.transition]="menuToggle">
  <div class="overlayList" [hidden]="!menuToggle" (click)="sideMenuList()"></div>
  <div class="sideMenuList rightSide">
    <div class="loginSignupAll p-0">
      <div class="liCat pt-3" (click)="loginSignupOpen()" *ngIf="!loginFlag" style="font-weight: 500;">
        {{'header.menu2' | translate}} </div>
      <div class="liCat pt-3" *ngIf="loginFlag" (click)="listDetails('profile', 1)">
        <img src="{{profilePic}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/defaultPerson.png'"
          class="imgProfile" alt="{{profileName}}" title="{{profileName}}">
        <span class="title pl-1 color textEllipse" style="font-weight: 600;display: inline-block;width: 100px;">{{profileName}}</span>
      </div>
      <div class="liCat" *ngIf="loginFlag" (click)="listDetails('profile', 1)">{{'header.menu3' | translate}} </div>
      <div class="liCat" *ngIf="loginFlag" (click)="listDetails('profile', 5)">{{'header.menu5' | translate}} </div>
      <div class="liCat" *ngIf="loginFlag && walletMoney" (click)="listDetails('profile', 6)">{{'header.menu6' | translate}}({{walletMoney.currencySymbol}}
        {{walletMoney.walletAmount}}) </div>
      <div class="liCat" *ngIf="loginFlag" (click)="listDetails('profile', 4)">{{'header.menu7' | translate}} </div>
      <div class="liCat" (click)="listDetails('becomekyhootpro', 0)">{{'header.menu1' | translate}} </div>
      <div class="liCat" (click)="listDetails('privacy', 0)">{{'header.privacyT' | translate}} </div>
      <div class="liCat" (click)="listDetails('terms', 0)">{{'header.termsC' | translate}} </div>
      <div class="liCat" (click)="listDetails('about', 0)">{{'header.aboutT' | translate}} </div>
      <div class="liCat" (click)="listDetails('contact-us', 0)"> {{'header.contactUs' | translate}} </div>
      <div class="liCats">
        <a class="liCat" target="_blank" href="https://blog.go-kyhootpro.com/">{{'header.blogT' | translate}}</a>
      </div>
      <div class="liCat" data-toggle="modal" data-target="#logoutClosed" (click)="sideMenuList()" *ngIf="loginFlag">
        {{'header.logoutT' | translate}} </div>
    </div>
  </div>
</div>