<div class="d-none d-sm-block allFooterContent col-12 p-0" [class.active]="!footerShow">
  <input type="hidden" id="ipF">
  <!-- <div class="contentFooter col-12 p-0">
    <div class="container">
      <div class="row m-0" *ngIf="catSearch">
        <div class="footerTitles" (click)="tapCatChange(k)" [class.active]="lists.active" *ngFor="let lists of catSearch;let k =index;">
          {{lists.groupName}}
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="listContentFooter col-12 p-0 py-4">
    <div class="container" *ngIf="catSearch">
      <div class="col-12 p-0" [hidden]="!lists.active" *ngFor="let lists of catSearch;let k =index;">
        <div class="row m-0">
          <div class="py-2 p-sm-0 catFooters" (click)="typeBooking(list)" *ngFor="let list of lists.category; let i =index;">
            {{list.cat_name}}
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="contentFooter col-12 p-0" style="border-bottom: 1px solid #424242;">
    <div class="container">
      <span class="listSocial focus" routerLink="./privacy">{{'footer.privacy' | translate}}</span>
      <span class="listSocial focus" routerLink="./terms">{{'footer.terms' | translate}}</span>
      <span class="listSocial focus" routerLink="./about">{{'footer.about' | translate}}</span>
      <span class="listSocial focus" routerLink="./becomekyhootpro">{{'footer.becomeTasker' | translate}}</span>
      <span class="listSocial focus" routerLink="./contact-us">{{'footer.contact' | translate}}</span>
      <span class="listSocial focus" href="">{{'footer.blog' | translate}}</span>
      <span class="listSocial focus allAppStore">
        <a class="trackable" href="">
          <img alt="App store" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/appStore.svg">
        </a>
        <a class="trackable ml-3" href="">
          <img alt="Play store" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/playStore.svg">
        </a>
      </span>
    </div>
  </div> -->

   <div class="bottom">
    <div class="container">
      <div class="row m-0">
        <div class="col-md-3 footerTitle pl-0">
          <h4>Information</h4>
          <ul class="footer-links">
            <li>
              <a routerLink="./privacy" href="#">Privacy Policy</a>
            </li>
            <li>
              <a routerLink="./terms" href="#">Terms &amp; Conditions</a>
            </li>
            <li>
              <a routerLink="./about" href="#">About Us</a>
            </li>
            <li>
              <a routerLink="./becomekyhootpro" href="#">Become A kyhootpro</a>
            </li>
            <li>
              <a routerLink="./contact-us" href="#">Contact Us</a>
            </li>
            <li>
              <a target="_blank" href="https://blog.kyhoot.com/">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8 col-md-9 footerTitle pl-0 order-first order-md-1">
          <h4>SERVICES OFFERED:</h4>
          <div class="col allCatFoot p-0" *ngIf="catSearch">
            <div class="row m-0" *ngFor="let lists of catSearch;let k =index;">
              <h6 class="col-12 p-0 pt-2 groupsName" style="font-size: 0.85em;">{{lists.groupName}}</h6>
              <div class="col-md-3 col-sm-4 p-0 catFooter" *ngFor="let list of lists.category; let i =index;">
                <ul class="footer-links m-0">
                  <li>
                    <a (click)="typeBooking(list)">{{list.cat_name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col allCatFoot p-0" *ngIf="catSearch && catSearch.length == 0">
            <h3 class="colorGray">No Category Services</h3>
          </div>
        </div>
      </div>
      <div class="col-12 p-0 allAppStore">
        <a class="trackable" target="_blank" href="https://apps.apple.com/us/app/kyhoot/id1447612719?ls=1" *ngIf="activeUrl === '/becomekyhootpro'">
          <img alt="App store" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/appStore.svg">
        </a>
        <a class="trackable" target="_blank" href="https://play.google.com/store/apps/details?id=com.kyhoot" *ngIf="activeUrl === '/becomekyhootpro'">
          <img alt="Play store" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/playStore.svg">
        </a>
        <a class="trackable" target="_blank" href="https://apps.apple.com/us/app/kyhoot/id1447612719?ls=1" *ngIf="activeUrl !== '/becomekyhootpro'">
          <img alt="App store" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/appStore.svg">
        </a>
        <a class="trackable" target="_blank" href="https://play.google.com/store/apps/details?id=com.kyhoot" *ngIf="activeUrl !== '/becomekyhootpro'">
          <img alt="Play store" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/playStore.svg">
        </a>
      </div>
      <div class="footerSocialIcon col-12 p-0">
        <a class="iconLink" target="_blank" href="https://twitter.com/Kyhoot">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="iconLink" target="_blank" href="https://www.facebook.com/kyhoot">
          <i class="fab fa-facebook"></i>
        </a>
        <a class="iconLink" target="_blank" href="https://www.instagram.com/kyhootapp/">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="iconLink" target="_blank" href="https://www.youtube.com/user/kyhoot">
          <i class="fab fa-youtube"></i>
        </a>
        <!-- <a class="iconLink" href="https://www.appscrip.com/">
          <i class="fab fa-google-plus"></i>
        </a>
        <a class="iconLink" href="https://www.appscrip.com/">
          <i class="fab fa-linkedin"></i>
        </a> -->
      </div>
    </div>
  </div>
  <div class="allListFooter">
    <div class="container">
      <div class="row">
        <div class="col-md-4 copyRightText mt-2">
          <img src="assets/images/logo.png" alt="logo-footer">
        </div>
        <div class="col-md-8 text-right copyRightText mt-0">
          <p class="copy">{{'footer.copyright' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <livechat-widget [licenseId]="licenseId"></livechat-widget> -->