<div class="viewPriceShimmer col p-0" [hidden]="loaderList">
  <div class="linear-background slider mb-3"></div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 col-md-8">
        <div class="carouselList" *ngFor="let list of shimmer">
          <div class="linear col p-0 mb-4">
            <div class="linear-background big mb-2 col-6 col-md-3"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
          <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
            <div class="row m-0 mb-2">
              <div class="col-6 p-0">
                <div class="linear-background big col-6 mb-2"></div>
                <div class="linear-background big col-2 col-md-1"></div>
              </div>
              <div class="col-6 p-0">
                <div class="linear-background big col-6 col-md-2 float-right" style="height: 35px;"></div>
              </div>
            </div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
          <div class="linear-background big mb-2 col-6 col-md-3"></div>
          <div class="row m-0 mb-2" *ngFor="let list of shimmer">
            <div class="col-4 p-0">
              <div class="linear-background big col-12"></div>
            </div>
            <div class="col-4 p-0">
              <div class="linear-background big col-6 col-md-2 float-right"></div>
            </div>
            <div class="col-4 p-0">
              <div class="linear-background big col-6 col-md-2 float-right"></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="linear-background slider mb-3" style="height: 35px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="addPriceList checkoutPage col p-0" [hidden]="!loaderList" style="background: #e9ecee;">
  <div class="contentTitle col">
    <div class="container">
      <div class="row m-0" [class.mb-3]="callType == 1">
        <!-- <i class="fas fa-angle-left arrowProvider d-md-none" [class.d-none]="arrow == 1" [class.d-block]="arrow > 1" (click)="arrowChange(-1)"></i> -->
        <i class="ion-arrow-left-c ionClose arrowProvider d-md-none" style="top: 2px;" [class.d-block]="arrow == 3"
          [class.d-none]="arrow > 1" (click)="backClicked(1)"></i>
        <div class="col-12 col-md-4 p-0 spanListContent d-md-block" *ngIf="serviceType == 2" (click)="backClicked(1)"
          [class.d-none]="arrow != 1" [class.d-block]="arrow == 1">
          <img class="secondaryimg" src="assets/images/TtaskDetails.svg">
          <span class="title color"> {{'checkout.menuT' | translate}}</span>
        </div>
        <div class="col-12 col-md-4 p-0 spanListContent d-md-block" *ngIf="callType == 2" [class.offset-md-2]="serviceType == 1" (click)="backClicked(2)"
          [class.d-none]="arrow != 2" [class.d-block]="arrow == 2">
          <img class="secondaryimg" src="assets/images/TAviewPrice.svg">
          <span class="title color"> {{'checkout.menuT1' | translate}} </span>
        </div>
        <div class="col-12 col-md-4 p-0 spanListContent d-md-block" [class.d-none]="arrow != 3" [class.d-block]="arrow == 3">
          <img class="secondaryimg" src="assets/images/TAcBook.svg">
          <span class="title color"> {{'checkout.menuT2' | translate}} </span>
        </div>
        <!-- <i class="fas fa-angle-right arrowProvider d-block d-md-none" [class.d-none]="arrow == 3" [class.d-block]="3 > arrow" (click)="arrowChange(1)"></i> -->
      </div>
      <div class="col-12 p-0 spanListContent text-left">
        <h1 class="titles colorGray"> {{catName}}
          <span style="font-size: 17px;font-weight: normal;" *ngIf="serviceTypehr == 2 && serviceList && serviceList.categoryData && callType == 2">(Hourly
            @ {{serviceList.categoryData.currencySymbol}}{{serviceList.categoryData.price}}/hr)</span>
        </h1>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="catAddCart col p-0 row m-0 pt-3">
      <div class="listCheckout addressPayment col-12 col-lg-8 pl-0">
        <!-- provider Details -->
        <div class="allServiceList col p-0" *ngIf="providerList &&  serviceType == 2">
          <div class="subCatList col p-0 my-0">
            <div class="allCatList providerContent col-12 h-auto" [class.ratingS]="!providerList.averageRating">
              <div class="col-12 timingSlotes pr-0" (click)="reviewList(providerList._id)">
                <div class="imgSize">
                  <img src="{{providerList.profilePic}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/defaultPerson.png'"
                    class="imgProvide">
                </div>
                <div class="serviceTitle col-12 p-0">
                  <h4 class="title" [class.marginTop]="!providerList.averageRating">{{providerList.firstName}}
                    {{providerList.lastName}}</h4>
                  <h4 class="title smallSize colorGray" *ngIf="providerList.averageRating">
                    <i class="icon ion-star color"></i> {{providerList.averageRating}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="boxCheckout addressList col-12" *ngIf="!changeNewAddress">
          <div class="col-12 p-0">
            <div class="deliveryTitle">{{'checkout.delAddressT' | translate}}
              <div class="tickMark" *ngIf="changeNewAddress">
                <span class="selectedTick ion-checkmark-round"></span>
              </div>
            </div>
            <div class="deliveryDes" *ngIf="!changeNewAddress && savedAddress && savedAddress.length==0">{{'checkout.chooseDel' | translate}}</div>
            <div class="deliveryDes" *ngIf="!changeNewAddress && savedAddress && savedAddress.length>0">{{'checkout.saveAdress' | translate}}</div>
            <div class="selectAddress row m-0 col-12 p-0" *ngIf="!changeNewAddress">
              <div class="listAddressAll col-12 col-sm-6 mb-3 p-0 pr-2" (click)="closeOpenSearch()">
                <div class="listAddress col-12">
                  <div class="addressLogo">
                    <img class="iconAddress" src="assets/images/mapIcon.svg">
                  </div>
                  <div class="allListAddress col-12 p-0">
                    <div class="title textEllipse">{{'checkout.addNewAddress' | translate}}</div>
                    <div class="street">{{newAddress}}</div>
                    <!-- <div class="buttonList newAddress">{{'checkout.addNewT' | translate}}</div> -->
                    <div class="editDeleteAccount co-12 p-0">
                      <span class="title">{{'checkout.addNewT' | translate}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="listAddressAll col-12 col-sm-6 p-0 pr-2 mb-3" *ngFor="let list of savedAddress; let i = index;">
                <div class="listAddress col-12">
                  <div class="addressLogo" (click)="addressSelect(i)">
                    <div class="addressLogos" *ngIf="list.taggedType == 1">
                      <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/ChomeIcon.svg"
                        title="home">
                    </div>
                    <div class="addressLogos" *ngIf="list.taggedType == 2">
                      <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CworkIcon.svg"
                        title="work">
                    </div>
                    <div class="addressLogos" *ngIf="list.taggedType == 3">
                      <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CothersIcon.svg"
                        title="other">
                    </div>
                  </div>
                  <div class="allListAddress col-12 p-0">
                    <div class="col-12 p-0" (click)="addressSelect(i)">
                      <div class="title textEllipse">{{list.taggedAs}}</div>
                      <div class="street">
                        {{list.addLine1}}
                      </div>
                    </div>
                    <!-- <div class="buttonList">{{'checkout.delHere' | translate}}</div> -->
                    <div class="editDeleteAccount co-12 p-0">
                      <span class="title" (click)="editAddress(i)">{{'checkout.editT' | translate}}</span>
                      <span class="title" (click)="deleteAddressList(list._id, i)">{{'checkout.deleteT' | translate}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="sideLine"></div>
          <div class="sideIconList">
            <img class="iconSide" src="assets/images/detailsdeliveryicon.svg">
          </div>
        </div>

        <div class="boxCheckout addressList col-12" *ngIf="changeNewAddress && selectedAdd">
          <div class="col-12 p-0">
            <div class="deliveryTitle">{{'checkout.yourTLoc' | translate}}
              <div class="tickMark">
                <span class="selectedTick ion-checkmark-round"></span>
              </div>
            </div>
            <div class="changeAddress" *ngIf="callType == 2" (click)="changeAddr()">{{'checkout.changeT' | translate}}</div>
            <div class="addressSelected allListAddress col-12 p-0">
              <div class="title" *ngIf="selectedAdd.taggedAs == 'home'">{{'checkout.homeT' | translate}}</div>
              <div class="title" *ngIf="selectedAdd.taggedAs == 'office' || selectedAdd.taggedAs == 'work'">{{'checkout.officeT' | translate}}</div>
              <div class="title" *ngIf="selectedAdd.taggedAs == 'other'">{{'checkout.othersT' | translate}}</div>
              <div class="street">{{selectedAdd.addLine1}}</div>
            </div>
          </div>
          <!-- <div class="addressList col-12" *ngIf="!changeNewAddress">
            <div class="deliveryTitle colorGray">Your Task Location
            </div>
          </div> -->
          <div class="sideLine"></div>
          <div class="sideIconList">
            <img class="iconSide" src="assets/images/detailslocationicon.svg">
          </div>
        </div>

        <div class="boxCheckout addressList col-12">
          <div class="col-12 p-0" *ngIf="changeNewAddress">
            <div class="deliveryTitle mb-1">{{'checkout.bookingTy' | translate}}
              <div class="tickMark">
                <span class="selectedTick ion-checkmark-round"></span>
              </div>
            </div>
            <div class="changeAddress" *ngIf="callType == 2" data-toggle="modal" data-target="#resetCart">{{'checkout.changeT' | translate}}</div>
            <div class="deliveryTitle mb-3" style="color:#afaaaa">{{bookTitle}}</div>
            <div class="bookingDateList col-12 row m-0 p-0">
              <div class="col-12 col-md-6 p-0 mb-3">
                <div class="dateList">{{'checkout.startDate' | translate}}</div>
                <div class="title {{timing}}">
                    <i class="icon ion-clock" aria-hidden="true"></i>
                    {{timing}}</div>
                <div class="title">
                    <i class="icon ion-calendar" aria-hidden="true"></i>
                    {{bookDate}}</div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-3" *ngIf="bookingType == 2 || bookingType == 3">
                <div class="dateList">{{'checkout.endDate' | translate}}</div>
                <div class="title">
                    <i class="icon ion-clock" aria-hidden="true"></i>
                    {{EndTime}} <span *ngIf="daysCount > 0">(+{{daysCount}})</span></div>
                <div class="title {{timing}}">
                    <i class="icon ion-calendar" aria-hidden="true"></i>
                    {{endDate}}</div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-3" *ngIf="timing && bookingType == 3 || bookingType == 2">
                <div class="dateList">{{'checkout.timingT' | translate}}</div>
                <div class="title">{{timing}} - {{EndTime}}
                  <span *ngIf="listOffer && listOffer.add">{{listOffer.add}}</span>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-3" *ngIf="bookingType == 3 && daysLists">
                <div class="dateList">{{'checkout.daysT' | translate}}</div>
                <div class="title d-inline-block float-left" *ngFor="let list of daysLists;let m = index">
                  <span *ngIf="m != 0">, </span>
                  {{list}}
                </div>
              </div>
            </div>
            <div class="bookingDateList col-12 row m-0 mb-3 shiftList text-left bg-white px-0" *ngIf="bookingType == 3 && listOffer">
              <div class="col-12 p-0">
                <div class="dateList">Offer</div>
                <div class="title">{{listOffer.offerDescription}}</div>
                <div class="title positionOfferPrice">(Discount
                  <span *ngIf="listOffer.discountType == 1 && serviceList">{{serviceList.categoryData.currencySymbol}}</span>
                  {{listOffer.value}}
                  <span *ngIf="listOffer.discountType == 2"> %</span>)
                </div>
              </div>
            </div>
            <div class="bookingDateList col-12 row m-0 mb-3 shiftList" *ngIf="bookingType == 3 && daysLists">
              <div class="col-6 col-md-4 p-0">
                <div class="dateList">No Of Shifts</div>
                <div class="title">
                  {{noShifts}}                 
                </div>
              </div>
              <div class="col-6 col-md-4 p-0">
                <div class="dateList">Price/Shifts</div>
                <div class="title" *ngIf="cartList">{{grandTotal}}</div>
               
              </div>
              <div class="col-6 col-md-4 p-0">
                <div class="dateList">Shift Duration</div>
                <div class="title" *ngIf="serviceTypehr !=2">{{shiftDuration}} min</div>
                <div class="title" *ngIf="serviceTypehr == 2 && cartList">{{cartList.item[0].quntity}} hr : 00 min</div>
              </div>
            </div>
            <div class="descriptionList bookingDateList col-12 p-0">
              <div class="couponTitle dateList pb-2">{{'checkout.jobDesc' | translate}}</div>
              <div class="inputAppy col-12 p-0">
                <textarea type="text" name="jobDescription" rows="4" cols="4" style="resize: none" [(ngModel)]="jobDescription"
                  class="form-control inputChekout focus" placeholder="{{'checkout.yourJobDesc' | translate}}"></textarea>
              </div>
            </div>
          </div>
          <div class="addressList col-12 p-0" *ngIf="!changeNewAddress">
            <div class="deliveryTitle colorGray">{{'checkout.bookingTy' | translate}}
            </div>
          </div>
          <div class="sideLine"></div>
          <div class="sideIconList">
            <img class="iconSide" src="assets/images/myBookings.svg">
          </div>
        </div>

        <div class="boxCheckout addressList changeContent mb-md-4 col-12">
          <div class="col-12 p-0" *ngIf="changeNewAddress">
            <div class="deliveryTitle mb-0 mb-md-3">{{'checkout.cPayMethod' | translate}}
              <div class="tickMark">
                <span class="selectedTick ion-checkmark-round"></span>
              </div>
            </div>
            <div class="paymentList row m-0 col-12 p-0">
              <div class="listUl col-12 col-md-4 p-0 d-none d-md-block">
                <ul class="listPayment">
                  <li class="title list_card" (click)="paymentNavMenu(1);" id="1paynavMenu" [ngClass]="{'active' :   paymentMethod1 === 1} ">{{'checkout.sTitle1' | translate}}</li>
                  <!-- <li class="title list_card" (click)="paymentNavMenu(2);" id="2paynavMenu">{{'checkout.sTitle2' | translate}}</li> -->
                  <li class="title list_card" (click)="paymentNavMenu(3);" id="3paynavMenu" [ngClass]="{'active' :   paymentMethod1 === 3} " >{{'checkout.sTitle2' | translate}}</li>
                  <li class="title list_card" (click)="paymentNavMenu(4);" *ngIf="bookingType != 3" id="4paynavMenu" [ngClass]="{'active' :   paymentMethod1 === 4} ">{{'checkout.walletT' | translate}}</li>
                </ul>
              </div>
              <div class="allChangeContent col-12 col-md-8 p-0 pr-md-0">
                <div class="list_card_information col-12" id="1payNavMenu" [ngClass]="{'active' :   paymentMethod1 === 1} ">
                  <h5 class="h5text titleSmall d-block d-md-none m-0" (click)="paymentNavMenus(1);">{{'checkout.codT' | translate}}</h5>
                  <div class="allSmallCheckout col-12 p-0" id="11payNavMenu">
                    <div class="col-12 header_text p-0">
                      <div class="header_payment col-12 p-0 d-none d-md-block">
                        <h5 class="h5text">{{'checkout.codT' | translate}}</h5>
                        <!-- <h6 class="h6text"></h6> -->
                      </div>
                      <div class="col-12 my-4 p-0">
                        <img class="codImg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/cod.png"
                          width="140" height="80" alt="">
                      </div>
                    </div>
                    <div class="col-12 content_text_payment p-0">
                      <div class="col-12 p-0">
                        <div class="col-12 form-group p-0">
                          <span class="" style="opacity:.75;" *ngIf="cartList">{{'checkout.pTotalOf' | translate}}
                            <b>{{cartList.currencySymbol}} {{grandTotal}}</b>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12  text-danger text-center d-none d-md-block" *ngIf="errorMsg">{{errorMsg}}</div>
                    <div class="col-12 p-0">
                      <!-- <div class="progress headBar" *ngIf="PaymentLoader" style="top:0;">
                      <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
                    </div> -->
                      <div class="loaderSpin headerLoader d-none d-md-block" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
                      <button type="submit" class="btn btn-lg col-12 submit_button" *ngIf="cartList" (click)="cashSubmitCart()">
                        <span class="textBar">{{'checkout.payNow' | translate}} {{cartList.currencySymbol}} {{grandTotal * surgePrice}}</span>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="list_card_information savedCard col-12" id="3payNavMenu" [ngClass]="{'active' :   paymentMethod1 === 3} ">
                  <h5 class="h5text titleSmall d-block d-md-none m-0" (click)="paymentNavMenus(3);">{{'checkout.sCards' | translate}}</h5>
                  <div class="allSmallCheckout col-12 p-0" id="33payNavMenu">
                    <div class="allListOrder col-12 p-0">
                      <div class="headerPayment col-12 p-0 d-none d-md-block">
                        <h5 class="h5text">{{'checkout.sCards' | translate}}</h5>
                      </div>
                      <div class="col-12 formCredit p-0" *ngIf="payGetCartList&& payGetCartList.length == 0">
                        <h6 class="h6text">{{'checkout.sCardsE' | translate}}</h6>
                      </div>
                      <div class="addCardBtn d-none d-md-block" (click)="cardToggle(2);">
                        {{'checkout.addNewCard' | translate}}
                      </div>
                      <!-- <div class="addCardBtn d-none d-md-block" style="right: initial;" (click)="cardToggle(2);">
                        Add Wallet Money
                      </div> -->
                      <div class="col-12 contentTextPayment p-0 mt-0 mt-md-4">
                        <div class="creditCard col-12 p-0" *ngIf="payGetCartList && payGetCartList.length > 0">
                          <div class="paymentgetCart col-12" [class.active]="getCart.isDefault" *ngFor="let getCart of payGetCartList; let i = index">
                            <span class="radioPayment" (click)="selectPayments(i);">
                              <span class="round_click p-0 activeGetCart">
                                <span class="round_click_image"></span>
                              </span>
                            </span>
                            <span class="lastDigitDetail">
                              <span class="typeBrandImg lastDigitName listDigit">
                                <img *ngIf="getCart.brand=='Amex'" class="imageBrand" src="assets/images/cardamex.svg">
                                <img *ngIf="getCart.brand=='Diners'" class="imageBrand" src="assets/images/carddiners.svg">
                                <img *ngIf="getCart.brand=='Discover'" class="imageBrand" src="assets/images/carddiscover.svg">
                                <img *ngIf="getCart.brand=='Jcb'" class="imageBrand" src="assets/images/cardjcb.svg">
                                <img *ngIf="getCart.brand=='Mastercard'" class="imageBrand" src="assets/images/cardmastercard.svg">
                                <img *ngIf="getCart.brand=='Placeholder'" class="imageBrand" src="assets/images/cardplaceholdercard.svg">
                                <img *ngIf="getCart.brand=='Visa'" class="imageBrand" src="assets/images/cardvisa.svg">
                              </span>
                              <span class="lastDigit lastDigitName">XXXX XXXX XXXX {{getCart.last4}}</span>
                              <span class="deleteGetCartPay lastDigitName fa fa-trash" aria-hidden="true" (click)="deleteGetCart(i, getCart.id);"></span>
                            </span>
                          </div>
                        </div>
                        <div class="col-12  text-danger text-center d-none d-md-block" *ngIf="errorMsg">{{errorMsg}}</div>
                        <div class="col-12 p-0">
                          <!-- <div class="progress headBar" *ngIf="PaymentLoader" style="top:0;">
                            <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
                          </div> -->
                          <div class="loaderSpin headerLoader d-none d-md-block" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
                          <button type="submit" class="btn btn-lg col-12 submit_button" *ngIf="cartList" (click)="cardSubmitCart()">
                            <span class="textBar">{{'checkout.payNow' | translate}} {{cartList.currencySymbol}} {{grandTotal * surgePrice}}</span>
                          </button>
                          <div class="col-12 p-0 row m-0 d-inline-block">
                            <button type="submit" class="btn btn-lg col-12 submitAddCart d-inline-block d-md-none"
                              (click)="cardToggle(1);">
                              {{'checkout.addNewCard' | translate}}
                            </button>
                            <!-- <button type="submit" class="btn btn-lg col-12 mt-3 mt-sm-0 col-sm-5 float-sm-right submitAddCart d-inline-block d-md-none"
                              (click)="cardToggle(2);">
                              Add Wallet Money
                            </button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="list_card_information savedCard col-12" id="4payNavMenu" [ngClass]="{'active' :   paymentMethod1 === 4} ">
                  <h5 class="h5text titleSmall d-block d-md-none m-0" (click)="paymentNavMenus(4);">{{'checkout.walletT' | translate}}</h5>
                  <div class="allSmallCheckout col-12 p-0" id="44payNavMenu">
                    <div class="allListOrder col-12 p-0">
                      <div class="headerPayment col-12 p-0 d-none d-md-block">
                        <h5 class="h5text">{{'checkout.walletT' | translate}}</h5>
                      </div>
                      <div class="addCardBtn d-none d-md-block" (click)="cardToggle(2);">
                        {{'checkout.walletMoney' | translate}}
                      </div>

                      <div class="priceCard h5text text-center mt-md-5 mb-2 col-12 p-0 d-inline-block" *ngIf="walletMoney">
                        <div class="priceCardTitle float-left">{{'checkout.walletB' | translate}}</div>
                        <div class="priceCardBold float-right">{{walletMoney.currencySymbol}}
                          {{walletMoney.walletAmount}}
                        </div>
                      </div>
                      <div class="col-12 p-0 d-inline-block d-md-none" (click)="cardToggle(2);">
                        <span class="fa fa-plus color mr-3" aria-hidden="true"></span>
                        <span class="titleWallet h5text cursor">{{'checkout.addWallet' | translate}}</span>
                      </div>
                      <div class="col-12 formCredit p-0">
                        <!-- <h6 class="h6text text-center">The final billing amount might vary at the end of the task. How would you want to pay the excess
                          amount if any ?
                        </h6> -->
                        <div class="col-12  text-danger text-center d-none d-md-block" *ngIf="errorMsg">{{errorMsg}}</div>
                        <div class="cartListNew col-12 p-0 mb-3">
                          <div class="col-12 p-0">
                            <button type="submit" class="btn btn-lg col-12 submit_button" *ngIf="cartList" data-toggle="modal"
                              data-target="#cardWallets" (click)="walletSubmit = !walletSubmit">
                              <span class="textBar">{{'checkout.payNow' | translate}} {{cartList.currencySymbol}} {{grandTotal * surgePrice}}</span>
                            </button>
                          </div>
                          <!-- <div class="col-12 p-0 m-0 mt-3 row" *ngIf="walletSubmit">
                            <div class="loaderSpin headerLoader d-none d-md-block" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
                            <button type="submit" class="btn btn-lg col-5 ml-3 submit_button" (click)="walletPayment(1)">
                              <span class="textBar">CASH</span>
                            </button>
                            <button type="submit" class="btn btn-lg col-5 ml-3 submit_button" (click)="walletPayment(2)">
                              <span class="textBar">CARD</span>
                            </button>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="addressList col-12 p-0" *ngIf="!changeNewAddress">
            <div class="deliveryTitle colorGray">{{'checkout.payTitle' | translate}}
            </div>
          </div>
          <div class="sideIconList">
            <img class="iconSide" src="assets/images/detailspaymenticon.svg">
          </div>

        </div>

      </div>

      <div class="cartList col-12 col-lg-4 p-0 mb-5 mb-md-0" [class.active]="!changeNewAddress">
        <div class="cartData col-12 mt-0 boxCheckout pt-3 pb-3 px-3">
          <!-- <div class="loaderSpin pageLoader" style="margin: 40% 0;position: absolute;left: 40%;" *ngIf="cartLoaderSpinner"></div> -->
          <div class="cartEmpty" *ngIf="!cartListActive">
            <div class="cartEmptyTitle">{{'checkout.cartEmpty' | translate}}</div>
            <div class="col-12 text-center p-0">
              <img src="assets/images/cartEmpty.svg" class="cartEmptyImg">
            </div>
            <div class="cartEmptyContent">{{'checkout.addSomeT' | translate}}</div>
          </div>

          <div class="cartDataContent col-12 p-0" *ngIf="cartList && cartListActive">
            <div class="col-12 cartTitle p-0">
              <h2 class="title m-0">
                <b>{{'checkout.yourC' | translate}}</b>
              </h2>
              <!-- <h6 class="titleItem m-0">{{cartList.item.length}} Item</h6> -->
            </div>
            <!-- <div class="loaderSpin cartLoader cartSpinner"></div> -->
            <ul class="detailsRestaurant m-0 p-0">
              <div class="shadowCart"></div>
              <li class="foodDeatils row m-0 py-2" *ngFor="let cart of cartList.item;let i = index;" [hidden]="cart.quntity == 0">
                <span class="pricedetailsleft col-4 p-0 textEllipses" *ngIf="callType == 2">
                  <span *ngIf="serviceTypehr != 2">{{cart.serviceName}}</span>
                  <span *ngIf="serviceTypehr == 2 && serviceList && serviceList.categoryData">Hourly @
                    {{serviceList.categoryData.currencySymbol}}{{(serviceList.categoryData.price * surgePrice) | number:'1.2-2'}}/hr</span>
                </span>
                <span class="pricedetailsleft col-8 p-0 textEllipses" *ngIf="callType == 1">
                  Consultation Fee
                </span>
                <span class="addCartText col-4 pr-0 text-right" *ngIf="callType == 2">
                  <div class="addPlusMinus">
                    <div class="loaderSpin cartLoader" *ngIf="cart.loader"></div>
                    <div class="cartAdd" *ngIf="cart.quantityAction > 0">
                      <span class="minusCart colorGray cartList float-left" *ngIf="bookingType == 1" (click)="addMinusCart(cart.serviceId, 2, i)">-</span>
                      <span class="value">{{cart.quntity}}
                        <span *ngIf="serviceTypehr == 2">{{'checkout.hrs' | translate}}</span>
                      </span>
                      <span class="plusCart cartList float-right" *ngIf="bookingType == 1" (click)="addMinusCart(cart.serviceId, 1, i)">+</span>
                    </div>
                    <div class="cartAdd cursor" *ngIf="cart.quantityAction == 0" (click)="addMinusCart(cart.serviceId, 0, i)">
                      <span class="removeTitle">{{'checkout.removeT' | translate}}</span>
                    </div>
                  </div>
                </span>
                <span class="pricedetails col-4 p-0 text-right">
                  <span class="price" id="plusCartprice">{{cartList.currencySymbol}} {{(cart.amount * surgePrice).toFixed(2)}}</span>
                </span>
                <div class="text-danger col-12 p-0 text-center" *ngIf="cart.maxqty">{{'checkout.maxQty' | translate}}</div>
              </li>
              <li class="foodDeatils row m-0 pt-2" *ngIf="cartList.visitFee > 0">
                <span class="pricedetailsleft col-8 p-0 textEllipse">{{'checkout.visiteF' | translate}}
                </span>
                <span class="pricedetails col-4 p-0 text-right">
                  <span class="price" id="plusCartprice">{{cartList.currencySymbol}} {{(cartList.visitFee).toFixed(2)}}</span>
                </span>
              </li>
              <!-- <div class="shadowCart"></div> -->
            </ul>
            <div class="totalCharge col-12 p-0">
              <div class="couponForm col-12" *ngIf="bookingType != 3">
                <div class="couponTitle colorGray">{{'checkout.promo' | translate}}</div>
                <div class="inputAppy col-12 p-0">
                  <div class="loaderSpin headerLoader" *ngIf="loaderApply" style="top: 20%;margin:0;left: 45%;"></div>
                  <input type="text" name="couponCode" [readonly]="cancelBtn" [(ngModel)]="couponCode" class="form-control inputChekout focus pr-5"
                    placeholder="{{'checkout.enterPromo' | translate}}">
                  <div class="couponTitleBtn" *ngIf="!cancelBtn" (click)="applyCoupons()">{{'checkout.applyT' | translate}}</div>
                  <img class="couponTitleBtn cancelIcon" *ngIf="cancelBtn" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/deleteIcon.svg"
                    (click)="cancelCoupons()">
                </div>
                <div class="text-danger col-12 p-0 text-center" *ngIf="errMsg">{{errMsg}}</div>
              </div>
              <!-- <div class="couponForm col-12">
                <div class="couponTitle colorGray">Job Description</div>
                <div class="inputAppy col-12 p-0">
                  <input type="text" name="jobDescription" [(ngModel)]="jobDescription" class="form-control inputChekout focus" placeholder="Your job description...">
                </div>
              </div> -->
              <div class="itemCharge col-12 p-0 pt-2" *ngIf="couponPrice">
                <div class="total font-weight-normal">{{'checkout.discountT' | translate}} </div>
                <div class="priceList font-weight-normal">{{cartList.currencySymbol}} {{couponPrice}}</div>
              </div>
              <div class="itemCharge col-12 p-0 pt-2">
                <div class="total">{{'checkout.toPay' | translate}}</div>
                <div class="priceList">{{cartList.currencySymbol}} {{(grandTotal * surgePrice * noShifts) | number:'1.2-2'}}</div>
              </div>
              <div class="itemCharge col-12 p-0 text-right" *ngIf="bookingType == 3">
                <small class="col-12 p-0" >(per Shift {{(grandTotal) | number:'1.2-2'}})</small>
              </div>
              <!-- <div class="progress headBar" *ngIf="loaderpage">
                <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
              </div> -->
              <!-- <div class="submitCheckout" (click)="checkOut()">
                <span class="textBar">Checkout</span>
              </div> -->
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>

<div class="ratingList allRatingList d-block d-md-none" *ngIf="changeNewAddress && checkoutBtn">
  <div class="col-12  text-danger text-center" *ngIf="errorMsg">{{errorMsg}}</div>
  <div class="reviewTitle" *ngIf="!cardWallets && cartList" (click)="checkoutSubmitCart()">
    <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
    <span class="btnCheckout">{{'checkout.payNow' | translate}} {{cartList.currencySymbol}} {{grandTotal * surgePrice}} </span>
  </div>
  <div class="reviewTitle" *ngIf="cardWallets && cartList" data-toggle="modal" data-target="#cardWallets">
    <span class="btnCheckout">{{'checkout.payNow' | translate}} {{cartList.currencySymbol}} {{grandTotal * surgePrice}} </span>
  </div>
  <!-- <div class="reviewTitle cashCardWallets" *ngIf="walletSubmit" (click)="walletPayment(1)">
    <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
    <span class="btnCheckout">CASH</span>
  </div>
  <div class="reviewTitle cashCardWallets float-right" *ngIf="walletSubmit" (click)="walletPayment(2)">
    <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
    <span class="btnCheckout">CARD </span>
  </div> -->
</div>


<!-- small screen checkout -->
<div class="ratingList allRatingList d-none d-md-none" [class.active]="ratingTrue">
  <div class="reviewTitle" *ngIf="!ratingTrue" (click)="ratingTrue = !ratingTrue">
    <span class="btnCheckout">{{'checkout.yourC' | translate}}
      <span class="cartCount">{{cartCount}}</span>
    </span>
  </div>
  <div class="allRatingListReview" *ngIf="ratingTrue">
    <div class="cartCloseBtn" (click)="ratingTrue = !ratingTrue">X</div>
    <div class="reviewContent">
      <div class="cartData col-12 p-0">
        <!-- <div class="loaderSpin pageLoader" style="margin: 40% 0;position: absolute;left: 40%;" *ngIf="cartLoaderSpinner"></div> -->
        <div class="cartEmpty" *ngIf="!cartListActive">
          <div class="cartEmptyTitle">{{'checkout.cartEmpty' | translate}}</div>
          <div class="col-12 text-center p-0">
            <img src="assets/images/cartEmpty.svg" class="cartEmptyImg">
          </div>
          <div class="cartEmptyContent">{{'checkout.addSomeT' | translate}}</div>
        </div>

        <div class="cartDataContent col-12 p-0" *ngIf="cartList && cartListActive">
          <div class="col-12 cartTitle p-0">
            <h2 class="title m-0">
              <b>{{'checkout.yourC' | translate}}</b>
            </h2>
            <!-- <h6 class="titleItem m-0">{{cartList.item.length}} Item</h6> -->
          </div>
          <ul class="detailsRestaurant m-0 p-0">
            <div class="shadowCart"></div>
            <li class="foodDeatils row m-0 py-2" *ngFor="let cart of cartList.item;let i = index;" [hidden]="cart.quntity == 0">
              <span class="pricedetailsleft col-4 p-0 textEllipses">
                {{cart.serviceName}}
              </span>
              <span class="addCartText col-4 pr-0 text-right">
                <div class="addPlusMinus">
                  <div class="loaderSpin cartLoader" *ngIf="cart.loader"></div>
                  <div class="cartAdd" *ngIf="cart.quantityAction > 0">
                    <span class="minusCart colorGray cartList float-left" (click)="addMinusCart(cart.serviceId, 2, i)">-</span>
                    <span class="value">{{cart.quntity}}
                      <span *ngIf="serviceTypehr == 2">{{'checkout.hrs' | translate}}</span>
                    </span>
                    <span class="plusCart cartList float-right" (click)="addMinusCart(cart.serviceId, 1, i)">+</span>
                  </div>
                  <div class="cartAdd cursor" *ngIf="cart.quantityAction == 0" (click)="addMinusCart(cart.serviceId, 0, i)">
                    <span class="removeTitle">{{'checkout.removeT' | translate}}</span>
                  </div>
                </div>
              </span>
              <span class="pricedetails col-4 p-0 text-right">
                <span class="price" id="plusCartprice">{{cartList.currencySymbol}} {{(cart.amount).toFixed(2)}}</span>
              </span>
              <div class="text-danger col-12 p-0 text-center" *ngIf="cart.maxqty">{{'checkout.maxQty' | translate}}</div>
            </li>
            <!-- <div class="shadowCart"></div> -->
          </ul>
          <div class="totalCharge col-12 p-0 mt-2">
            <div class="itemCharge col-12 p-0">
              <div class="total">{{'checkout.toPay' | translate}}</div>
              <div class="priceList">{{cartList.currencySymbol}} {{(cartList.totalAmount).toFixed(2)}}</div>
            </div>
            <!-- <div class="progress headBar" *ngIf="loaderpage">
                  <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
                </div> -->
            <!-- <div class="submitCheckout" (click)="checkOut()">
              <span class="textBar">Checkout</span>
            </div> -->
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<!-- coupon details  -->
<!-- <div class="sidePopupOpen" [class.transition]="CouponToggle">
  <div class="overlayList" [hidden]="!CouponToggle" (click)="CouponToggleList()"></div>
  <div class="sideMenuList rightSide">    
    <div class="loginSignupAll couponContent">
      <div class="titleSave m-0 h-25">
        <div class="ion-android-close ionClose" (click)="CouponToggleList()">
          <span class="color pl-2">Apply Coupon</span>
        </div>
        <div class="tileList mb-3"></div>
      </div>
      <div class="formsList">
        <form>
          <div class="col-12 listEdit border-bottom-0">
            <div class="inputBox">
              <input class="inpuText focus" type="text" name="couponCode" [(ngModel)]="couponCode" placeholder="{{'checkout.enterCoupon' | translate}}">
            </div>
            <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
            <div class="text-success" *ngIf="successMsg" style="text-align: center;">{{successMsg}}</div>
            <div class="loaderSpin headerLoader" *ngIf="loaderApply" style="right: 35px;left: inherit;top: 10px;"></div>
            <button type="button" class="btnApply" [disabled]="!couponCode" (click)="applyCoupons()">APPLY</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- map address location -->
<div class="sidePopupOpen" [class.transition]="searchLocationToggle">
  <div class="overlayList" *ngIf="searchLocationToggle" (click)="closeOpenSearch()"></div>
  <div class="sideMenuList checkOutMap leftSide">
    <div class="loginSignupAll">
      <div class="titleSave">
        <div class="ion-android-close ionClose" (click)="closeOpenSearch()" style="top: 25px;"></div>
        <div class="titleText ml-4">
          <b>{{'checkout.sDeliAdd' | translate}}</b>
        </div>
      </div>


      <div class="mapArea formsList col-12 p-0">
        <div class="mapList" id="mapData"></div>
        <div class="inputBox">
          <input class="inpuText focus addressArea pr-3" type="text" [(ngModel)]="addressMap" id="txtPlaces" name="addressMap"
            (keyup)="changeLocation()" (change)="locationChange()" onpaste="return false;" required="">
          <i class="fas fa-times locatIcons" (click)="closeLocation()"></i>
          <!-- <label class="addressTranslate">{{'checkout.addressT' | translate}}</label> -->
        </div>
      </div>

      <div class="formsList mt-3">
        <form>
          <!-- <div class="inputBox border-bottom-0 addressList">
            <input class="inpuText focus" type="text" name="doorNo" [(ngModel)]="doorNo" required="">
            <label>Door / Flat no.</label>
          </div> -->
          <div class="inputBox threeTypes row m-0" *ngIf="otherText">
            <div class="tickArea col-4" [ngClass]="{active: typeThree}">
              <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CothersIcon.svg"
                title="others">
              <img class="iconAddress activeIcon" src="assets/images/CothersIconActive.svg" title="others">
              <span class="title">{{'checkout.othersT' | translate}}</span>
            </div>
            <div class="tickArea col-8 p-0 border-right-0">
              <input class="inpuText focus othersList" type="text" name="Others" [(ngModel)]="Others" placeholder="">
              <span class="cancelList" (click)="otherText = !otherText">{{'checkout.cancelT' | translate}}</span>
            </div>
          </div>
          <div class="inputBox threeTypes row m-0" *ngIf="!otherText">
            <div class="tickArea col-4" [ngClass]="{active: typeOne}" (click)="selectType(1)">
              <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/ChomeIcon.svg"
                title="home">
              <img class="iconAddress activeIcon" src="assets/images/ChomeIconActive.svg" title="home">
              <span class="title">
                {{'checkout.homeT' | translate}}
              </span>
            </div>
            <div class="tickArea col-4" [ngClass]="{active: typeTwo}" (click)="selectType(2)">
              <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CworkIcon.svg"
                title="work">
              <img class="iconAddress activeIcon" src="assets/images/CworkIconActive.svg" title="work">
              <span class="title">{{'checkout.officeT' | translate}}</span>
            </div>
            <div class="tickArea col-4 border-right-0" [ngClass]="{active: typeThree}" (click)="selectType(3)">
              <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CothersIcon.svg"
                title="others">
              <img class="iconAddress activeIcon" src="assets/images/CothersIconActive.svg" title="others">
              <span class="title">{{'checkout.othersT' | translate}}</span>
            </div>
          </div>
          <div class="loginButton">
            <input type="hidden" class="arealat">
            <input type="hidden" class="arealng">
            <input type="hidden" class="areaName">
            <input type="hidden" class="areaNames">
            <input type="hidden" class="city">
            <input type="hidden" class="state">
            <input type="hidden" class="country">
            <input type="hidden" class="zip">
            <!-- <div class="loaderSpin headerLoader" *ngIf="loaderList"></div> -->
            <div class="progress headBar" *ngIf="loaderList" style="top:20px;">
              <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
            </div>
            <button type="submit" class="btn btn-default btnSubmit" [disabled]="!addressMap" (click)="saveAddress()">
              <span class="textBar">{{'checkout.bSave' | translate}}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- add New Card -->
<div class="sidePopupOpen" [class.transition]="newCardToggle">
  <div class="overlayList" [hidden]="!newCardToggle"></div>
  <div class="sideMenuList rightSide orderListContent">
    <!-- login -->
    <div class="loginSignupAll" *ngIf="cartList">
      <div class="titleSave m-0 h-auto mb-5">
        <div class="ion-android-close ionClose" (click)="cardToggle(2)"></div>
        <!-- <div class="tileList mb-3">Order</div> -->
      </div>
      <div class="formsList mt-5">
        <div class="list_card_information col-12 p-0" *ngIf="cardWallet">
          <div class="col-12 header_text p-0">
            <div class="header_payment col-12 p-0 mb-4">
              <h5 class="h5text">{{'account.newCardD | translate'}}</h5>
              <h6 class="h6text">{{'checkout.cardDT' | translate}}</h6>
            </div>
          </div>
          <div class="col-12 p-0 form_credit content_text_payment">
            <div class="creditCard">
              <div class="row-textField form-group col-12 p-0">
                <input type="text" name="cardCredit" [(ngModel)]="cardCredit" value="" maxlength="19" #pc (keyup)="valdationCreditCard(pc.value)"
                  onpaste="return false" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control focus inputText"
                  placeholder="{{'checkout.enterCardNum' | translate}}">
                <div class="col-12 text-danger p-0" *ngIf="validCD">{{validCD}}</div>
              </div>
              <div class="row m-0 mb-3 col-12 p-0">
                <div class="col-8" style="padding: 0px 5px 0px 0px;">
                  <input type="text" name="monthYear" [(ngModel)]="monthYear" value="" maxlength="7" #pcv (keyup)="valdationDate(pcv.value)"
                    onpaste="return false" class="form-control focus inputText" placeholder="{{'bidding.validMY' | translate}}">
                </div>
                <div class="col-4" style="padding: 0px 0px 0px 5px;">
                  <input type="password" name="cardcvv" [(ngModel)]="cardcvv" value="" maxlength="3" #cv (keyup)="valdationcvv(cv.value)"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control focus inputText"
                    placeholder="{{'checkout.cvv' | translate}}">
                </div>
                <div class="col-12 text-danger p-0" *ngIf="validDM">{{'checkout.dFormat' | translate}}</div>
              </div>
            </div>
            <div class="col-12 text-danger text-center listGetSelect" *ngIf="errorSaveCart">{{errorSaveCart}}</div>
            <div class="col-12 p-0">
              <!-- <div class="progress headBar" *ngIf="PaymentLoader" style="top:0;">
                    <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
                  </div> -->
              <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
              <button type="submit" [disabled]="!(stripeCardDetails && cardCredit && monthYear && cardcvv)" (click)="stripeCard();"
                class="btn btn-lg col-12 submit_button">
                <span class="textBar">{{'checkout.addCardT' | translate}}</span>
              </button>
            </div>
          </div>
        </div>

        <!-- wallet -->
        <div class="list_card_information col-12 p-0" *ngIf="!cardWallet">
          <div class="col-12 p-0 form_credit content_text_payment">
            <div class="cartListNew col-12 p-0 mb-3" *ngIf="walletMoney">

              <div class="priceCard h5text text-center">
                <div class="priceCardTitle">{{'checkout.walletB' | translate}}</div>
                <div class="priceCardBold">{{walletMoney.currencySymbol}} {{walletMoney.walletAmount}} </div>
              </div>

              <div class="creditCard col-12 p-0">
                <div class="walletInput col-12 p-0 my-5">
                  <span class="currencyWallet">{{walletMoney.currencySymbol}}</span>
                  <input type="text" name="addMoney" [(ngModel)]="addMoney" class="form-control inputWallet focus"
                    placeholder="{{'checkout.enterAmt' | translate}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div class="col-12 py-2 text-danger text-center" *ngIf="errorMsg">{{errorMsg}}</div>
                <div class="col-12 p-0">
                  <!-- <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div> -->
                  <button type="submit" class="btn btn-lg col-12 submit_button" data-toggle="modal" data-target="#payWallet">
                    <span class="textBar">{{'checkout.confirmPay' | translate}}</span>
                  </button>
                </div>
                <div class="col-12 p-0 pt-3">
                  <!-- <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div> -->
                  <button type="submit" class="btn btn-lg col-12 submit_button" (click)="cardToggle(1)">
                    <span class="textBar">{{'checkout.addNewCard' | translate}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!-- wallet list -->
  <div class="modal fade boxPopup" id="cardWallets" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content col-12" style="padding: 10px;">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" style="right: -5px;top: -10px;">&times;</button>
          <!-- <h4 class="textTitle"> {{restString.itemCartT}}</h4> -->
          <p class="paraText pt-3 p-sm-0">{{'checkout.billingAmnt' | translate}}
          </p>
        </div>
        <div class="col-12  text-danger text-center" *ngIf="errorMsg">{{errorMsg}}</div>
        <div class="col-12 p-0 row m-0">
          <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
          <span class="col-6">
            <button type="button" class="btn btnButton btnGreen col-12" (click)="walletPayment(1)">{{'checkout.cashT' | translate}}</button>
          </span>
          <span class="col-6">
            <button type="button" class="btn btnButton btnGreen col-12" (click)="walletPayment(2)">{{'checkout.cardT' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>


  <!-- deleteCard -->
  <div class="modal fade boxPopup" id="cardDelete" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content col-12" style="padding: 10px;">
        <div class="modal-body">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <!-- <h4 class="textTitle"> {{restString.itemCartT}}</h4> -->
          <p class="paraText">{{'checkout.deleteCard' | translate}}</p>
        </div>
        <div class="col-12 p-0 row m-0">
          <span class="col-6">
            <button type="button" class="btn btnButton btnGreen col-12" data-dismiss="modal" (click)="deleteCard();">{{'checkout.yesT' | translate}}</button>
          </span>
          <span class="col-6">
            <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'checkout.noT' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>


  <!-- order Submit -->

  <div class="modal fade boxPopup" data-backdrop="static" id="orderSubmit" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content order-Submit">
        <div class="modal-body text-center">
          <h4 class="textTitle text-success">{{'checkout.acceptB' | translate}}</h4>
        </div>
        <div class="col-12 p-0 row m-0">
          <span class="col-12 p-0 text-center">
            <button type="button" data-dismiss="modal" class="btn btnButton btnGreen col-12 col-md-4" (click)="profileList()">{{'checkout.okT' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>


  <!--booking schedule -->
  <div class="modal fade boxPopup" id="notaryTask" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content p-0">
        <div class="modal-header">
          <h3 class="title col-12 p-0 text-center">{{catName}}</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body locationList">

          <div class="allStepList col-12 p-0">
            <div class="titleList text-center" *ngIf="asapSchedule != 2">{{'checkout.bookingT' | translate}}</div>
            <div class="bookingForm col p-0 row m-0" *ngIf="bookingList && asapSchedule != 2">
              <div class="asaSchedule col-4" (click)="asapSchedules(0)" *ngIf="bookingList.bookingTypeAction.now == true">
                <div class="titleContent col-12" [class.active]="asapSchedule == 0">
                  <div class="title">{{'checkout.asap' | translate}}</div>
                  <div class="titles">{{'checkout.rightN' | translate}}</div>
                </div>
              </div>
              <div class="asaSchedule col-4" (click)="asapSchedules(1)" *ngIf="bookingList.bookingTypeAction.schedule == true">
                <div class="titleContent col-12" [class.active]="asapSchedule == 1">
                  <div class="title">{{'checkout.schedule' | translate}}</div>
                  <div class="titles">{{'checkout.selectD' | translate}}</div>
                </div>
              </div>
              <div class="asaSchedule col-4" (click)="asapSchedules(2)" *ngIf="bookingList.bookingTypeAction.repeat == true">
                <div class="titleContent col-12" [class.active]="asapSchedule == 2">
                  <div class="title">{{'checkout.subscribe' | translate}}</div>
                  <div class="titles">{{'checkout.selectScd' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="col-12 p-0 selectDateTime" [hidden]="asapSchedule != 1">
              <div class="titleList text-center col-12">{{'checkout.selectDate' | translate}}</div>
              <div class="col-12 p-0 selectDate row m-0">
                <div class="asaSchedule col-4" *ngFor="let list of sendDate;let i = index">
                  <div class="titleContent col-12" [class.active]="list.active" (click)="selectDate(i)">
                    <div class="titles">{{list.day}}</div>
                    <div class="title">{{list.date}}</div>
                  </div>
                </div>
                <div class="asaSchedule col-4">
                  <div class="titleContent col-12" [class.otherDate]="otherDate" (click)="selectDate('Ds')">
                    <div class="titles">Others</div>
                    <input class="form-control BtypePicker" name="pickup_date" type="text" placeholder="yyyy-mm-dd">
                  </div>
                </div>
              </div>
              <div class="col-12 p-0 selectTime">
                <div class="titleList text-center">Select Time?</div>
                <input class="form-control BtypeTimePicker" id="BtypeTimePicker1" (click)="TimePicker($event)" name="pickup_time"
                  type="text" placeholder="hh:ss">
              </div>
              <div class="col-12 p-0 selectTime mt-3">
                <div class="titleList fontSmall text-center">Duration?</div>
                <input class="form-control startDuration1" id="TimeDuration1" (click)="TimeDuration($event)" name="startDuration"
                  type="text" placeholder="hh:mm">
                <!-- <div class="col-12 p-0 text-center cursor addHours">
                  <span class="qtyAdd" (click)="addHour(-1)">-</span>
                  <span class="qtyNos qtyAdd color">{{count}}</span>
                  <span class="qtyAdd" (click)="addHour(1)">+</span>
                </div> -->
              </div>
            </div>
            <div class="col-12 p-0 selectDateTime" [hidden]="asapSchedule != 2">
              <!-- <div class="titleList text-center col-12">Select start date and time?</div> -->
              <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 0">
                <div class="col-12 p-0 selectTime">
                  <div class="titleList text-center">Select shift start date</div>
                  <div class="allSubList col-12" *ngFor="let list of shiftDateList;let i = index">
                    <span class="boxCheck" (click)="dateSelect(i)" style="position: relative;">
                      <i class="ion-checkmark-round tickCheck color" style="top: -2px;left: 3px;" *ngIf="list.checked"></i>
                    </span>
                    <span class="labelTextCheck">{{list.day}}</span>
                  </div>
                </div>
                <div class="col-12 p-0 startEndTime" [hidden]="!startEndTime">
                  <div class="col-12 p-0 selectTime">
                    <div class="titleList fontSmall text-center">Select start date?</div>
                    <input class="form-control repeatStartTime" name="pickup_time" type="text" placeholder="yyyy-mm-dd">
                  </div>
                  <div class="col-12 p-0 selectTime">
                    <div class="titleList fontSmall text-center">Select end date?</div>
                    <input class="form-control repeatEndTime" name="pickup_time" type="text" placeholder="yyyy-mm-dd">
                  </div>
                </div>
                <div class="col-12 pr-0 colorText" *ngIf="startEndDate && !startEndTime">{{startEndDate}}</div>
              </div>

              <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 1">
                <div class="col-12 p-0 selectTime">
                  <div class="titleList text-center">Select days of the week</div>
                  <div class="allSubList col-12" *ngFor="let list of shiftDaysList;let i = index">
                    <span class="boxCheck" (click)="daysShift(i)" style="position: relative;">
                      <i class="ion-checkmark-round tickCheck color" style="top: -2px;left: 3px;" *ngIf="list.checked"></i>
                    </span>
                    <span class="labelTextCheck">{{list.day}}</span>
                  </div>
                </div>
                <div class="col-12 p-0 selectTime">
                  <hr class="col-12 p-0">
                  <!-- <div class="titleList fontSmall text-center">Repeat Days?</div> -->
                  <div class="allSubList col-12" *ngFor="let list of selectDays;let i = index">
                    <span class="boxCheck" (click)="daySelect(i)" style="position: relative;">
                      <i class="ion-checkmark-round tickCheck color" style="top: -2px;left: 3px;" *ngIf="list.checked"></i>
                    </span>
                    <span class="labelTextCheck">{{list.day}}</span>
                  </div>
                </div>
              </div>
              <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 2">
                <div class="col-12 p-0 selectTime">
                  <div class="titleList text-center">Shift start time?</div>
                  <div class="col-12 p-0 selectTime">
                    <div class="titleList fontSmall pt-0 text-center">Start Time?</div>
                    <input class="form-control BtypeTimePicker" id="BtypeTimePicker2" (click)="TimePicker($event)" name="pickup_time"
                      type="text" placeholder="hh:mm:ss">
                  </div>
                </div>
                <div class="col-12 p-0 selectTime">
                  <div class="titleList fontSmall text-center">Duration?</div>
                  <input class="form-control startDuration" id="TimeDuration2" (click)="TimeDuration($event)" name="startDuration"
                    type="text" placeholder="hh:mm">
                  <!-- <div class="col-12 p-0 text-center cursor addHours">
                    <span class="qtyAdd" (click)="addHour(-1)">-</span>
                    <span class="qtyNos qtyAdd color">{{count}}</span>
                    <span class="qtyAdd" (click)="addHour(1)">+</span>
                  </div> -->
                </div>
              </div>
            </div>

            <div
            class="mutiShiftOffers col-12 p-0 mt-4"
            *ngIf="
              bookingList && offers && offers.length > 0 && asapSchedule == 2
            "
          >
            <div class="titleList fontSmall col-12 pl-2 pb-2" style="font-weight: 500;">Offer for multiple shift</div>
            <div class="mutiShiftOffer col-12 p-0  row m-0">
              <div class="asaSchedule col-6" *ngFor="let offer of offers">
                <div class="titleContent media col-12">
                  <img class="offerIcon" src="assets/images/offerIcon.svg" />
                  <div class="media-body pl-2 pl-md-3 text-left">
                    <div class="titles">{{ offer.title }}</div>
                    <div class="title">
                      <span *ngIf="offer.discountType == 1">{{
                        bookingList.currencySymbol
                      }}</span>
                      {{ offer.value }}
                      <span *ngIf="offer.discountType == 2"> %</span>
                    </div>
                    <div class="titles text-danger">
                      {{ offer.offerDescription }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
        <div class="errorList col-12 p-1" *ngIf="errMsgs">{{errMsgs}}</div>
        <input type="hidden" class="timePick">
        <input type="hidden" class="timeduration">
        <div class="modal-footer p-0 border-0">
          <div class="col-12 btnNext footerNext">
            <span class="col-12 col-sm-3 p-0 float-right" *ngIf="asapSchedule != 2">
              <button type="button" class="btn btnButton btnGreen col-12" (click)="dateChange()">Submit</button>
            </span>
            <span class="col-12 p-0 float-right col-sm-6" *ngIf="asapSchedule == 2">
              <button type="button" class="btn btnButton mr-2 col-5" (click)="multipleShift(-1)">Back</button>
              <button type="button" class="btn btnButton btnGreen col-6" *ngIf="shiftTime != 2" (click)="multipleShift(1)">Next</button>
              <button type="button" class="btn btnButton btnGreen col-6" *ngIf="shiftTime == 2" (click)="dateChange()">Submit</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- payment wallet -->
  <div class="modal fade boxPopup" id="payWallet" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content p-3">
        <div class="modal-body">
          <h5>{{'checkout.webT' | translate}}</h5>
          <p class="paraText" *ngIf="walletMoney">{{'checkout.rechargeW' | translate}} {{walletMoney.currencySymbol}} {{addMoney}}
          </p>
        </div>
        <div class="col-12 p-0 row m-0">
          <span class="col-6">
            <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'checkout.cancelT' | translate}}</button>
          </span>
          <span class="col-6">
            <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;left: 40%;"></div>
            <button type="button" class="btn btnButton btnGreen col-12" (click)="addWallet();">{{'checkout.okT' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>


  <!-- delete Address -->
  <div class="modal fade boxPopup" id="deleteAddress" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content p-3">
        <div class="modal-body">
          <p class="paraText">{{'checkout.deleteAddr' | translate}}</p>
        </div>
        <div class="col-12 p-0 row m-0">
          <span class="col-6">
            <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'checkout.cancelT' | translate}}</button>
          </span>
          <span class="col-6">
            <button type="button" class="btn btnButton btnGreen col-12" (click)="deleteAddress();">{{'checkout.deleteT' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade boxPopup" id="resetCart" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content p-3">
        <div class="modal-body">
          <p class="paraText">Do you want to change the selected parameters?</p>
        </div>
        <div class="col-12 p-0 row m-0">
          <span class="col-6">
            <button type="button" class="btn btnButton col-12" data-dismiss="modal">Cancel</button>
          </span>
          <span class="col-6">
            <button type="button" class="btn btnButton btnGreen col-12" data-dismiss="modal" (click)="backClicked(1)">Ok</button>
          </span>
        </div>
      </div>
    </div>
  </div>