.providerSlot .arrowIcon {
    background: #e9ecee;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: 3px;
    cursor: pointer;
}
.providerSlot .modalbody {
    border-bottom: 1px solid gainsboro;
}

.providerSlot .modalbody .btn-info {
    color: #343a40;
    background-color: #ffffff;
    border-color: #b7bdc1;
}
.providerSlot .modalbody .btn-info.active{
    color: #ffffff;
    background-color: #3C76A2;
    border-color: #3C76A2;
    
}