<!-- Incall callType show Time slot for some categories -->

<div class="viewPriceShimmer col p-0" [hidden]="loadershimmer">
  <div class="linear-background slider mb-3"></div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12">
        <div class="carouselList" *ngFor="let list of shimmer">
          <div class="linear col p-0 mb-4">
            <div class="linear-background big mb-2 col-6 col-md-3"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
          <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
            <div class="row m-0 mb-2">
              <div class="col-6 p-0">
                <div class="linear-background big col-6 mb-2"></div>
                <div class="linear-background big col-2 col-md-1"></div>
              </div>
              <div class="col-6 p-0">
                <div
                  class="linear-background big col-6 col-md-2 float-right"
                  style="height: 35px;"
                ></div>
              </div>
            </div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="addBiddingList col-12 p-0 py-5"
  [hidden]="!loadershimmer"
  style="background: #e9ecee;"
>
  <div class="container">
    <div class="allBiddingList boxPopup col-12 p-0">
      <div class="boxContentList col-12 p-0">
        <div class="col-md-12 providerSlot p-0" id="providerSlot">
          <div class="col-md-12 p-0">
              <div class="titleLists paddingTitle p-3 text-center">{{'timeslot.selectT'}}</div>
            <div class="col-md-12 p-2 bg-dark text-white row m-0">
              <div class="col-md-2" (click)="selectDate(1)">
                <span
                  class="ion-arrow-left-c arrowIcon"
                  title="Previous Date"
                  data-toggle="tooltip"
                  data-placement="left"                  
                ></span>
              </div>
              <div class="col-md-8 text-center">{{ CurrentDateTimSlot }}</div>
              <div class="col-md-2" (click)="selectDate(2)">
                <span
                  class="ion-arrow-right-c arrowIcon"
                  title="Next Date"
                  data-toggle="tooltip"
                  data-placement="right"                  
                ></span>
              </div>
            </div>
          </div>
          <div class="modalbody col-md-12 p-0">
            <div class="col-md-12 p-0">
              <div
                class="col-md-12 text-center p-3"
                *ngIf="noTimeSlot"
              >
                <h5 style="color:red;">
                  <strong
                    >{{'timeslot.slotNotAvail' | translate}}</strong
                  >
                </h5>
              </div>
              
              <!-- morning slots -->
              <div
                class="col-md-12 p-2 pt-3 p-sm-4"
                *ngIf="MorningSlots && MorningSlots.length > 0"
              >
                <div class="col-md-12 mb-3"><strong>{{'timeslot.morningSlots' | translate}}</strong></div>
                <div class="col-md-12 row m-0 p-0">
                  <div
                    class="col-md-3 mb-3"
                    *ngFor="let slotList of MorningSlots; let i = index"
                    (click)="submitTimeSlot($event, i, 1)"
                  >
                    <button
                      type="button"
                      class="btn btn-info" [class.active]="slotList.active"
                      [attr.data-value]="slotList.from"
                    >
                      {{ slotList.from }}
                    </button>
                  </div>
                </div>
              </div>
              <!-- AfterNoon slots -->
              <div
                class="col-md-12 p-2 pt-3 p-sm-4"
                *ngIf="AfterNoonSlots && AfterNoonSlots.length > 0"
              >
                <div class="col-md-12 mb-3"><strong>{{'timeslot.afternoonSlots' | translate}}</strong></div>
                <div class="col-md-12 row m-0 p-0">
                  <div
                    class="col-md-3 mb-3"
                    *ngFor="let slotList of AfterNoonSlots; let i = index"
                    (click)="submitTimeSlot($event, i, 2)"
                  >
                    <button
                      type="button"
                      class="btn btn-info" [class.active]="slotList.active"
                      [attr.data-value]="slotList.from"
                    >
                      {{ slotList.from }}
                      <!-- <span></span> -->
                    </button>
                  </div>
                </div>
              </div>
              <!-- Evening slots -->
              <div
                class="col-md-12 p-2 pt-3 p-sm-4"
                *ngIf="EveningSlot && EveningSlot.length > 0"
              >
                <div class="col-md-12 mb-3"><strong>{{'timeslot.evngSlots' | translate}}</strong></div>
                <div class="col-md-12 row m-0 p-0">
                  <div
                    class="col-md-3 mb-3"
                    *ngFor="let slotList of EveningSlot; let i = index"
                    (click)="submitTimeSlot($event, i, 3)"
                  >
                    <button
                      type="button"
                      class="btn btn-info" [class.active]="slotList.active"
                      [attr.data-value]="slotList.from"
                    >
                      {{ slotList.from }}
                    </button>
                  </div>
                </div>
              </div>
              <!-- Night slots -->
              <div class="col-md-12 p-2 pt-3 p-sm-4" *ngIf="NightSlot && NightSlot.length > 0">
                <div class="col-md-12 mb-3"><strong>{{'timeslot.nightSlots' | translate}}</strong></div>
                <div class="col-md-12 row m-0 p-0">
                  <div
                    class="col-md-3 mb-3"
                    *ngFor="let slotList of NightSlot; let i = index"
                    (click)="submitTimeSlot($event, i, 4)"
                  >
                    <button
                      type="button"
                      class="btn btn-info" [class.active]="slotList.active"
                      [attr.data-value]="slotList.from"
                    >
                      {{ slotList.from }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 p-3 text-center text-danger" *ngIf="unselectedtimeslot">
            {{'timeslot.selectAnyT' | translate}}
          </div>
          <div class="col-md-12 modalfooter p-3 text-center">
            
              <button
                type="button"
                class="btn pull-left btn-success"
                data-dismiss="modal"
                (click)="checkOut()"
              >
                {{'timeslot.save' | translate}}
              </button>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
