<div class="viewPriceShimmer col p-0" [hidden]="loaderList">
  <div class="linear-background slider mb-3"></div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 p-0">
        <div class="carouselList" *ngFor="let list of shimmer">
          <div class="linear col p-0 mb-4">
            <div class="linear-background big mb-2 col-6 col-md-3"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
          <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
            <div class="row m-0 mb-2">
              <div class="col-6 p-0">
                <div class="linear-background big col-6 mb-2"></div>
                <div class="linear-background big col-2 col-md-1"></div>
              </div>
              <div class="col-6 p-0">
                <div class="linear-background big col-6 col-md-2 float-right" style="height: 35px;"></div>
              </div>
            </div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="providerReviewList reviewContentList col-12 p-0" [hidden]="!loaderList" style="background-color: #f5f5f5;">
  <!-- Review List-->
  <div class="addPriceList providerList col p-0" *ngIf="listReview">
    <div class="bannerList d-none d-md-block"></div>
    <div class="allContainerList" [class.container]="btnProvider">
      <div class="col-12 m-0 allBid" [class.row]="btnProvider">
        <div class="allContainer col-12 p-0" [class.col-lg-8]="btnProvider">
          <div class="profileTask col-12 p-0">
            <div class="container">
              <div class="row m-0 contentReviewList">
                <div class="titleText scrollListReview col-12" [ngClass]="{headerrestOpen: headerrestOpen}">
                  <div class="titleList titleGray col-12 p-0">
                    <i class="ion-arrow-left-c ionClose" alt="back" title="back" (click)="backClicked()"></i>
                    <h1 class="titleHead">{{listReview.firstName}} {{listReview.lastName}}</h1>
                  </div>
                </div>
                <div class="providerProfile col-12 h-auto">
                  <div class="imgProfile col-12 p-0">
                    <div class="imgSize">
                      <i class="ion-arrow-left-c ionClose d-block d-sm-none" alt="back" title="back" (click)="backClicked()"></i>
                      <img src="{{listReview.profilePic}}" class="imgProviders" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/def.png'">
                    </div>
                    <div class="titleText col-12 p-0 pl-sm-5">
                      <div class="titleList titleGray col-12 p-0">
                        <h1 class="titleHead">{{listReview.firstName}} {{listReview.lastName}}</h1>
                        <div class="btnListSelect">
                          <span class="btnReview mb-0" *ngIf="!btnProvider" (click)="selectProvider()">{{'review.selectC' | translate}}</span>
                          <span class="btnReview mb-0" *ngIf="btnProvider" (click)="hireProvider()">{{'review.hire' | translate}}</span>
                        </div>
                        <div class="textTi col-12 p-0">
                          <span class="reviewTitle pl-0">
                            <b>{{listReview.totalBooking}}</b>
                            <br> {{'review.hire' | translate}}
                          </span>
                          <span class="reviewTitle">
                            <b>
                              <i class="icon ion-star color"></i> {{listReview.rating}}</b>
                            <br> {{'review.avgR' | translate}}
                          </span>
                          <span class="reviewTitle">
                            <b>{{listReview.noOfReview}}</b>
                            <br> {{'review.review' | translate}}
                          </span>
                        </div>
                        <!-- <div class="textTi col-12 p-0">
                    {{listReview.totalBooking}} Tasks
                  </div>
                  <div class="textTi col-12 p-0">
                    {{listReview.noOfReview}} Reviews
                  </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 h-100 p-4 locationList providerProfile " >                    
                    <h6 class="titleItem" *ngIf="listReview.location.addLine1">{{'review.loc' | translate}}</h6>
                    <div class="title">
                      {{ listReview.location.addLine1 }}
                    </div>
                  <div class="mapList col-12 p-0 mt-3">
                    <div class="mapTrack" id="liveTrackMaps" style="height: 200px"></div>
                  </div>
                </div>
                <!-- <div class="btnListSelect col-2 p-0 reviewBtnPos text-right">
              <span class="btnReview" (click)="selectProviders()">Select & Continue</span>
            </div> -->
              </div>
            </div>
          </div>


          <div class="container">
            <div class="listReview col-12 p-0" [ngClass]="{ odd: odd, even: even }" *ngFor="let list of listReview.metaDataArr; let odd=odd; let even=even;">
              <h2 class="titleHead">{{list.fieldName}}</h2>
              <p class="textPara"> {{list.data}}</p>
            </div>

            <div class="col-12 p-0 pb-5 pb-sm-4 listProviderMargin">
              <div class="listReview col-12 p-0 mb-0">
                <h2 class="titleHead">{{'review.review' | translate}}</h2>
                <div class="contentReview col-12 p-0 px-sm-4 row m-0" *ngIf="listReviews && listReviews.length > 0">
                  <div class="providerProfile h-auto col-12 px-0">
                    <div class="allReview">
                      <h3 class="titleTotal">{{listReview.rating}}</h3>
                      <div class="starList">
                        <div class="allStar">
                          <i class="icon ion-star" [class.colorStar]="listReview.rating > 0"></i>
                          <i class="icon ion-star" [class.colorStar]="listReview.rating >= 1"></i>
                          <i class="icon ion-star" [class.colorStar]="listReview.rating >= 2"></i>
                          <i class="icon ion-star" [class.colorStar]="listReview.rating >= 3"></i>
                          <i class="icon ion-star" [class.colorStar]="listReview.rating >= 4"></i>
                        </div>
                        <p class="reviewTotal">{{listReview.noOfRating}} ratings, {{listReview.noOfReview}} {{'review.review' | translate}}</p>
                      </div>
                    </div>
                    <div class="ratingLogs pt-3" *ngIf="listReview.ratingLog">
                      <div class="listLogs" *ngFor="let list of listReview.ratingLog">
                        <p class="contentList">{{list.name}}
                          <!-- <span>({{list.rating.toFixed(2)}}) </span> -->
                        </p>
                        <div class="allReview">                          
                          <div class="starList">
                            <div class="allStar">
                              <i class="icon ion-star" [class.colorStar]="list.rating > 0"></i>
                              <i class="icon ion-star" [class.colorStar]="list.rating >= 1"></i>
                              <i class="icon ion-star" [class.colorStar]="list.rating >= 2"></i>
                              <i class="icon ion-star" [class.colorStar]="list.rating >= 3"></i>
                              <i class="icon ion-star" [class.colorStar]="list.rating >= 4"></i>
                            </div>                            
                          </div>
                        </div>
                        <!-- <div class="progress">
                          <div class="listProgress progress-bar" [style.width]="list.rating * 10+'%'"></div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="providerProfile col-12" [ngClass]="{ odd: odd, even: even }" *ngFor="let review of listReviews; let odd=odd; let even=even;">
                    <div class="imgProfile col-12 p-0">
                      <div class="imgSize" [class.top]="review.rating">
                        <img src="{{review.profilePic}}" class="imgProvide" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/def.png'">
                      </div>
                      <div class="titleText col-12 p-0" [class.top]="review.rating">
                        <div class="titleList col-12 p-0">
                          <div class="textTi">{{review.reviewBy}}</div>
                        </div>
                        <div class="titleGray col-12 p-0">
                          <div class="textTi" *ngIf="review.rating">
                            <i class="icon ion-star color"></i> {{(review.rating).toFixed(2)}}</div>
                          <div class="textTi textTit">{{review.reviewAts}}</div>
                        </div>
                        <div class="titleGray col-12 p-0">
                          <div class="textTi">{{review.review}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="moreTitle col-12 p-0 p-sm-4 text-center cursor color" *ngIf="loadMore" (click)="reviewMore()">
                    <span class="title">{{'review.moreT' | translate}}</span>
                  </div>
                </div>
                <div class="emptyData text-center col-12 p-0 py-3" *ngIf="(listReviews && listReviews.length == 0) || (!listReviews)">
                  <img class="emptyList col-12 p-0" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/noRating.png">
                  <div class="col-12 p-0 colorGray"> {{'review.noReviews' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="allContainer col-12 p-0 px-sm-3 pl-md-2 mb-5 mb-sm-0" *ngIf="proStatus" [class.col-lg-4]="btnProvider">
          <div class="allQuotation">
            <div class="quotationTitle">{{'review.quotation' | translate}}</div>
            <div class="priceList">
              <p class="title">{{proStatus.currencySymbol}} {{proStatus.quotedPrice}}</p>
              <div class="mobileTitle">
                <p>{{proStatus.phone}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>