<div class="viewPriceShimmer col p-0" [hidden]="loadershimmer">
  <div class="linear-background slider mb-3"></div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12">
        <div class="carouselList" *ngFor="let list of shimmer">
          <div class="linear col p-0 mb-4">
            <div class="linear-background big mb-2 col-6 col-md-3"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
          <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
            <div class="row m-0 mb-2">
              <div class="col-6 p-0">
                <div class="linear-background big col-6 mb-2"></div>
                <div class="linear-background big col-2 col-md-1"></div>
              </div>
              <div class="col-6 p-0">
                <div class="linear-background big col-6 col-md-2 float-right" style="height: 35px;"></div>
              </div>
            </div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 d-none d-md-block">
        <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
          <div class="linear-background big mb-2 col-6 col-md-3"></div>
          <div class="row m-0 mb-2" *ngFor="let list of shimmer">
            <div class="col-4 p-0">
              <div class="linear-background big col-12"></div>
            </div>
            <div class="col-4 p-0">
              <div class="linear-background big col-6 col-md-2 float-right"></div>
            </div>
            <div class="col-4 p-0">
              <div class="linear-background big col-6 col-md-2 float-right"></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="linear-background slider mb-3" style="height: 35px;"></div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="addBiddingList col-12 p-0 pb-5" [hidden]="!loadershimmer" style="background: #e9ecee;">
  <div class="container">

    <div class="allBiddingList boxPopup col-12 p-0">
      <div class="biddingHeader col-12 p-0">
        <h4 class="title" *ngIf="biddingList">{{'biddingList.cat_name' | translate}}</h4>
        <button type="button" class="close d-inline-block d-sm-none" routerLink="" style="top: 10px;font-size: 30px;opacity: initial;">&times;</button>
        <!-- <span class="stepList">Step {{count+1}}</span> -->
      </div>

      <div class="boxContentList col-12 p-0">
        <div class="progress col-12 p-0">
          <div class="progress-bar" [style.width]="widthBar+'%'">{{widthBar}}%</div>
        </div>
        <i class="ion-arrow-left-c ionClose" alt="back" title="back" *ngIf="count > 0" (click)="changeStep(-1)"></i>
        <div class="allStepList col-12 p-0" [hidden]="!list.active" *ngFor="let list of questionArr;let i =index;">
          <div class="titleLists paddingTitle text-center">{{list.question}}</div>
          <div class="stepContent totalCharge col-12 p-2 pt-3 p-sm-4" *ngIf="list.questionType == 0">
            <div class="couponForm col-12">
              <div class="loaderSpin headerLoader" *ngIf="loaderApply" style="top: 20%;margin:0;left: 45%;"></div>
              <input type="text" name="couponCode" [readonly]="cancelBtn" [(ngModel)]="couponCode" class="form-control inputChekout focus pr-5"
                placeholder="{{'bidding.enterPromo' | translate}}">
              <div class="couponTitleBtn" *ngIf="!cancelBtn" (click)="applyCoupons()">{{'bidding.apply' | translate}}</div>
              <img class="couponTitleBtn cancelIcon" *ngIf="cancelBtn" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/deleteIcon.svg"
                (click)="cancelCoupons()">
              <!-- <div class="text-danger col-12 p-0 text-center" *ngIf="errMsg">{{errMsg}}</div> -->
            </div>
          </div>
          <div class="stepContent col-12 p-2 pt-3 p-sm-4 text-center" *ngIf="list.questionType == 1">
            <div class="col-12 p-0" *ngIf="asapSchedule != 2">
              <div class="inputBox col-2 col-sm-1 d-inline-block m-0">
                <input class="inpuText focus p-0 text-center" name="bidAddress" type="text" readonly placeholder="{{'biddingList.currencySymbol' | translate}}">
              </div>
              <div class="inputBox col-4 col-sm-2 d-inline-block m-0 ml-2">
                <input class="inpuText focus p-0 text-center" name="bidAddress" type="text" (keyup)="textList($event, i)"
                  (change)="textList($event, i)" placeholder="{{'bidding.500' | translate}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
              </div>
            </div>
            <div class="col-12 p-0 allShiftContent" *ngIf="asapSchedule == 2">
              <div class="allSubList col-12 text-left" *ngFor="let lists of shiftContent;let s = index">
                <span class="boxCheck" style="position: relative;" (click)="contentShift(s, i)">
                  <i class="ion-checkmark-round tickCheck color" style="top: -2px;left: 3px;" *ngIf="lists.checked"></i>
                </span>
                <span class="labelTextCheck">{{lists.day}}</span>

                <div class="allInputList col-12 p-0" *ngIf="lists.checked">
                  <small class="col-12 p-0 text-danger">{{'bidding.amtCharged' | translate}}</small>
                  <div class="col-12 p-0 mt-4">
                    <div class="inputBox col-2 col-sm-1 d-inline-block m-0">
                      <input class="inpuText focus p-0 text-center" name="bidAddress" type="text" readonly placeholder="{{'biddingList.currencySymbol' | translate}}">
                    </div>
                    <div class="inputBox col-4 col-sm-2 d-inline-block m-0 ml-2">
                      <input class="inpuText focus p-0 text-center" name="bidAddress" type="text" (keyup)="textListShift($event, i)"
                        (change)="textListShift($event, i)" placeholder="{{'bidding.500' | translate}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    </div>
                    <span class="iconSymbol ml-2" *ngIf="lists.days != 0"> > </span>
                    <div class="inputBox col-4 col-sm-2 d-inline-block m-0 ml-2" *ngIf="lists.days != 0">
                      <div class="iconTotal">{{'bidding.tot' | translate}}</div>
                      <input class="inpuText focus p-0 text-center" name="bidAddress" [(ngModel)]="list.answer" type="text" readonly>
                    </div>
                  </div>
                  <div class="bookingDateList col-12 row m-0 my-3 shiftList">
                    <div class="col-6 col-md-4 p-0">
                      <div class="dateList">{{'bidding.numShifts' | translate}}</div>
                      <div class="title">{{noShifts}}</div>
                    </div>
                    <div class="col-6 col-md-4 p-0">
                      <div class="dateList">{{'bidding.priceShifts'}}</div>
                      <div class="title">{{(grandTotal).toFixed(2)}}</div>
                    </div>
                    <div class="col-6 col-md-4 p-0">
                      <div class="dateList">{{'bidding.shiftDur'}}</div>
                      <div class="title">{{shiftDuration}} {{'bidding.min' | translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="stepContent col-12 p-2 pt-3 p-sm-4" [hidden]="list.questionType != 2">
            <div class="titleList text-center" *ngIf="asapSchedule != 2">{{'bidding.bookingT' | translate}}</div>
            <div class="bookingForm col p-0 row m-0" *ngIf="biddingList && asapSchedule != 2">
              <div class="asaSchedule col-4" (click)="asapSchedules(0, i)" *ngIf="biddingList.bookingTypeAction.now == true">
                <div class="titleContent col-12" [class.active]="asapSchedule == 0">
                  <div class="title">{{'bidding.asap' | translate}}</div>
                  <div class="titles">{{'bidding.rightN' | translate}}</div>
                </div>
              </div>
              <div class="asaSchedule col-4" (click)="asapSchedules(1, i)" *ngIf="biddingList.bookingTypeAction.schedule == true">
                <div class="titleContent col-12" [class.active]="asapSchedule == 1">
                  <div class="title">{{'bidding.schedule' | translate}}</div>
                  <div class="titles">{{'bidding.selectD' | translate}}</div>
                </div>
              </div>
              <div class="asaSchedule col-4" (click)="asapSchedules(2, i)" *ngIf="biddingList.bookingTypeAction.repeat == true">
                <div class="titleContent col-12" [class.active]="asapSchedule == 2">
                  <div class="title">{{'bidding.subscribe' | translate}}</div>
                  <div class="titles">{{'bidding.selectScd' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="col-12 p-0 selectDateTime" [hidden]="asapSchedule != 1">
              <div class="titleList text-center col-12">{{'bidding.selectDate' | translate}}</div>
              <div class="col-12 p-0 selectDate row m-0">
                <div class="asaSchedule col-4" *ngFor="let list of sendDate;let i = index">
                  <div class="titleContent col-12" [class.active]="list.active" (click)="selectDate(i)">
                    <div class="titles">{{list.day}}</div>
                    <div class="title">{{list.date}}</div>
                  </div>
                </div>
                <div class="asaSchedule col-4">
                  <div class="titleContent col-12" [class.otherDate]="otherDate" (click)="selectDate('Ds')">
                    <div class="titles">{{'bidding.othersT' | translate}}</div>
                    <input class="form-control BtypePickers focus" name="pickup_date" (click)="datePicker()" type="text"
                      placeholder="yyyy-mm-dd">
                  </div>
                </div>
              </div>
              <div class="col-12 p-0 selectTime">
                <div class="titleList text-center">{{'bidding.selectT' | translate}}</div>
                <input class="form-control BtypeTimePicker" id="BtypeTimePicker1" (click)="TimePicker($event)" name="pickup_time"
                  type="text" placeholder="hh:ss">
              </div>
              <div class="col-12 p-0 selectTime mt-3">
                <div class="titleList fontSmall text-center">{{'bidding.Duration' | translate}}?</div>
                <input class="form-control startDuration1" id="TimeDuration1" (click)="TimeDuration($event)" name="startDuration"
                  type="text" placeholder="hh:mm">
                <!-- <div class="col-12 p-0 text-center cursor addHours">
                  <span class="qtyAdd" (click)="addHour(-1)">-</span>
                  <span class="qtyNos qtyAdd color">{{count}}</span>
                  <span class="qtyAdd" (click)="addHour(1)">+</span>
                </div> -->
              </div>
            </div>
            <div class="col-12 p-0 selectDateTime" [hidden]="asapSchedule != 2">
              <!-- <div class="titleList text-center col-12">Select start date and time?</div> -->
              <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 0">
                <div class="col-12 p-0 selectTime">
                  <div class="titleList text-center">{{'bidding.selectShiftD' | translate}}</div>
                  <div class="allSubList col-12" *ngFor="let list of shiftDateList;let i = index">
                    <span class="boxCheck" (click)="dateSelect(i)" style="position: relative;">
                      <i class="ion-checkmark-round tickCheck color" style="top: -2px;left: 3px;" *ngIf="list.checked"></i>
                    </span>
                    <span class="labelTextCheck">{{list.day}}</span>
                  </div>
                </div>
                <div class="col-12 p-0 startEndTime" [hidden]="!startEndTime">
                  <div class="col-12 p-0 selectTime">
                    <div class="titleList fontSmall text-center">{{'bidding.selectSD' | translate}}</div>
                    <input class="form-control repeatStartTime" name="pickup_time" (click)="startdatePicker()" type="text"
                      placeholder="yyyy-mm-dd">
                  </div>
                  <div class="col-12 p-0 selectTime">
                    <div class="titleList fontSmall text-center">{{'bidding.selectED' | translate}}</div>
                    <input class="form-control repeatEndTime" name="pickup_time" (click)="enddatePicker()" type="text"
                      placeholder="yyyy-mm-dd">
                  </div>
                </div>
                <div class="col-12 pr-0 colorText" *ngIf="startEndDate && !startEndTime">{{startEndDate}}</div>
              </div>

              <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 1">
                <div class="col-12 p-0 selectTime">
                  <div class="titleList text-center">{{'bidding.selectDayWeek' | translate}}</div>
                  <div class="allSubList col-12" *ngFor="let list of shiftDaysList;let i = index">
                    <span class="boxCheck" (click)="daysShift(i)" style="position: relative;">
                      <i class="ion-checkmark-round tickCheck color" style="top: -2px;left: 3px;" *ngIf="list.checked"></i>
                    </span>
                    <span class="labelTextCheck">{{list.day}}</span>
                  </div>
                </div>
                <div class="col-12 p-0 selectTime">
                  <hr class="col-12 p-0">
                  <!-- <div class="titleList fontSmall text-center">Repeat Days?</div> -->
                  <div class="allSubList col-12" *ngFor="let list of selectDays;let i = index">
                    <span class="boxCheck" (click)="daySelect(i)" style="position: relative;">
                      <i class="ion-checkmark-round tickCheck color" style="top: -2px;left: 3px;" *ngIf="list.checked"></i>
                    </span>
                    <span class="labelTextCheck">{{list.day}}</span>
                  </div>
                </div>
              </div>
              <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 2">
                <div class="col-12 p-0 selectTime">
                  <div class="titleList text-center">{{'bidding.shiftStartTime' | translate}}?</div>
                  <div class="col-12 p-0 selectTime">
                    <div class="titleList fontSmall pt-0 text-center">{{'bidding.startTime' | translate}}?</div>
                    <input class="form-control BtypeTimePicker" id="BtypeTimePicker2" (click)="TimePicker($event)" name="pickup_time"
                      type="text" placeholder="hh:mm:ss">
                  </div>
                </div>
                <div class="col-12 p-0 selectTime">
                  <div class="titleList fontSmall text-center">{{'bidding.duration' | translate}}?</div>
                  <input class="form-control startDuration" id="TimeDuration2" (click)="TimeDuration($event)" name="startDuration"
                    type="text" placeholder="hh:mm">
                  <!-- <div class="col-12 p-0 text-center cursor addHours">
                    <span class="qtyAdd" (click)="addHour(-1)">-</span>
                    <span class="qtyNos qtyAdd color">{{count}}</span>
                    <span class="qtyAdd" (click)="addHour(1)">+</span>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="stepContent col-12 p-2 pt-3 p-sm-4" *ngIf="list.questionType == 3">
            <div class="textInput col-12 p-0">
              <div class="inputBox m-0" [ngClass]="{successTxt:bidAddress?.length > 0, errorTxt:bidAddress?.length == 0}">
                <div class="loaderSpin cartLoader locateLoader" style="display:none;left: 45%;top: 12px;"></div>
                <input class="inpuText focus pt-0" name="bidAddress" [(ngModel)]="bidAddress" id="bidFlow" (keyup)="locationSearch(i)"
                  type="text" placeholder="{{'bidding.enterLoc' | translate}}">
                <input type="hidden" name="" value="" id="latB" class="headerSearch form-control">
                <input type="hidden" name="" value="" id="lngB" class="headerSearch form-control">
                <div class="currentLocation">
                  <i class="fas fa-times locatIcons bg-white text-danger" (click)="closeLocation(i)"></i>
                  <i class="fas fa-location-arrow locatIcons" (click)="currentLocation(i)"></i>
                </div>
              </div>
            </div>
            <div class="col-12 p-0 getAllAddress">
              <div class="listAddressAll col-12 p-0" *ngFor="let address of savedAddress; let j = index;">
                <hr class="col-12 p-0">
                <div class="listAddress col-12 p-0 pl-4">
                  <div class="addressLogoRadio" (click)="addressSelect(j, i)">
                    <!-- <input type="radio" [checked]="address.checked" class="radioInput focus" name="getAddress" value=""> -->
                    <span class="radioInput focus" [class.active]="address.checked"></span>
                  </div>
                  <div class="allListAddress col-12 p-0">
                    <div class="col-12 p-0">
                      <div class="title">{{address.taggedAs}}</div>
                      <div class="street h-auto">
                        {{address.addLine1}}
                      </div>
                    </div>
                    <div class="editDeleteAccount col-12 p-0">
                      <span class="title" (click)="editAddress(j)">{{'bidding.editT' | translate}}</span>
                      <span class="title text-danger" (click)="deleteAddressList(address._id, j)">{{'bidding.deleteT' | translate}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="stepContent col-12 p-2 pt-3 p-sm-4" *ngIf="list.questionType == 4">
            <div class="boxCheckout addressList changeContent col-12 p-0">
              <div class="allChangeContent col-12 p-0">
                <div class="list_card_information col-12" id="1payNavMenu">
                  <h5 class="h5text titleSmall m-0" (click)="paymentNavMenus(1, i, 'Cash');">{{'bidding.codT' | translate}}</h5>
                  <div class="allSmallCheckout col-12" id="11payNavMenu">
                    <div class="col-12 header_text p-0">
                      <div class="col-12 my-4 p-0">
                        <img class="codImg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/cod.png"
                          width="140" height="80" alt="">
                      </div>
                    </div>
                    <div class="col-12  text-danger text-center" *ngIf="errorMsg">{{errorMsg}}</div>
                    <div class="col-12 p-0">
                      <!-- <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div> -->
                      <!-- <button type="submit" class="btn btn-lg col-12 submit_button" (click)="cashSubmitCart()">
                        <span class="textBar">Continue</span>
                      </button> -->
                    </div>
                  </div>
                </div>

                <div class="list_card_information savedCard col-12" id="2payNavMenu">
                  <h5 class="h5text titleSmall m-0" (click)="paymentNavMenus(2, i, 'Card');">{{'bidding.savedCards' | translate}}</h5>
                  <div class="allSmallCheckout col-12" id="22payNavMenu">
                    <div class="allListOrder col-12 p-0">
                      <div class="col-12 formCredit p-0" *ngIf="payGetCartList&& payGetCartList.length == 0">
                        <h6 class="h6text">{{'bidding.savedCardE' | translate}}</h6>
                      </div>
                      <!-- <div class="addCardBtn d-none d-md-block" (click)="cardToggle(1);">
                        Add New Card
                      </div> -->
                      <div class="col-12 contentTextPayment p-0 mt-0">
                        <div class="creditCard col-12 p-0" *ngIf="payGetCartList && payGetCartList.length > 0">
                          <div class="paymentgetCart col-12 mt-0" [class.active]="getCart.checked" *ngFor="let getCart of payGetCartList; let i = index">
                            <span class="radioPayment" (click)="selectPayments(i);">
                              <span class="round_click p-0 activeGetCart">
                                <span class="round_click_image"></span>
                              </span>
                            </span>
                            <span class="lastDigitDetail">
                              <span class="typeBrandImg lastDigitName listDigit">
                                <img *ngIf="getCart.brand=='Amex'" class="imageBrand" src="assets/images/cardamex.svg">
                                <img *ngIf="getCart.brand=='Diners'" class="imageBrand" src="assets/images/carddiners.svg">
                                <img *ngIf="getCart.brand=='Discover'" class="imageBrand" src="assets/images/carddiscover.svg">
                                <img *ngIf="getCart.brand=='Jcb'" class="imageBrand" src="assets/images/cardjcb.svg">
                                <img *ngIf="getCart.brand=='Mastercard'" class="imageBrand" src="assets/images/cardmastercard.svg">
                                <img *ngIf="getCart.brand=='Placeholder'" class="imageBrand" src="assets/images/cardplaceholdercard.svg">
                                <img *ngIf="getCart.brand=='Visa'" class="imageBrand" src="assets/images/cardvisa.svg">
                              </span>
                              <span class="lastDigit lastDigitName">XXXX XXXX XXXX {{getCart.last4}}</span>
                              <span class="deleteGetCartPay lastDigitName fa fa-trash" aria-hidden="true" (click)="deleteGetCart(i, getCart.id);"></span>
                            </span>
                          </div>
                        </div>
                        <div class="col-12  text-danger text-center" *ngIf="errorMsg">{{errorMsg}}</div>
                        <div class="col-12 p-0">
                          <!-- <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div> -->
                          <!-- <button type="submit" class="btn btn-lg col-12 submit_button">
                            <span class="textBar">Continue</span>
                          </button> -->
                          <div class="col-12 p-0 row m-0 d-inline-block">
                            <button type="submit" class="btn btn-lg col-12 submitAddCart" (click)="cardToggle(1);">
                              {{'bidding.newCardT' | translate}}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="list_card_information savedCard col-12" id="3payNavMenu" *ngIf="asapSchedule != 2">
                  <h5 class="h5text titleSmall m-0" (click)="paymentNavMenus(3, i, 'Wallet');">{{'bidding.wallet' | translate}}</h5>
                  <div class="allSmallCheckout col-12" id="33payNavMenu">
                    <div class="allListOrder col-12 p-0">
                      <!-- <div class="addCardBtn d-none d-md-block" (click)="cardToggle(2);">
                        Add Wallet Money
                      </div> -->
                      <div class="priceCard h5text text-center mb-2 col-12 p-0 d-inline-block" *ngIf="walletMoney">
                        <div class="priceCardTitle float-left">{{'bidding.walletB' | translate}}</div>
                        <div class="priceCardBold float-right">{{walletMoney.currencySymbol}}
                          {{walletMoney.walletAmount}}
                        </div>
                      </div>
                      <div class="col-12 p-0 d-inline-block" (click)="cardToggle(2);">
                        <span class="fa fa-plus color mr-3" aria-hidden="true"></span>
                        <span class="titleWallet h5text cursor">{{'bidding.addWallet' | translate}}</span>
                      </div>
                      <div class="col-12 formCredit p-0">
                        <div class="col-12 text-danger text-center" *ngIf="errorMsg">{{errorMsg}}</div>
                        <!-- <button type="submit" class="btn btn-lg col-12 submit_button" data-toggle="modal" data-target="#cardWallets" (click)="walletSubmit = !walletSubmit">
                          <span class="textBar">Continue</span>
                        </button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="stepContent col-12 p-2 pt-3 p-sm-4" *ngIf="list.questionType == 5">
            <div class="inputBox m-0">
              <input class="inpuText focus pt-0" name="bidAddress" type="text" (keyup)="textList($event, i)" (change)="textList($event, i)"
                placeholder="{{list.question}}">
            </div>
          </div>
          <div class="stepContent getAllAddress col-12 p-2 pt-3 p-sm-4" *ngIf="list.questionType == 6">
            <div class="textradioCheckBox allListAddress col-12 p-0" *ngFor="let item of list.preDefined; let j = index;">
              <!-- <input type="radio" class="radioInput focus m-0" (click)="radioSelect(i)" name="radioAddress{{i}}" value=""> -->
              <span class="radioInput focus m-0" [class.active]="item.checked" (click)="radioSelect(i, j)"></span>
              <label class="titleBid">{{item.name}}</label>
            </div>
          </div>
          <div class="stepContent col-12 p-2 pt-3 p-sm-4" *ngIf="list.questionType == 7">
            <div class="textradioCheckBox allListAddress col-12 p-0" *ngFor="let item of list.preDefined; let j = index;">
              <input type="checkbox" class="radioInput focus m-0 radioCheckBox" name="checkBoxAddress" (change)="checkBoxSelect($event, i, j)">
              <label class="titleBid">{{item.name}}</label>
            </div>
          </div>
          <div class="stepContent col-12 p-2 pt-3 p-sm-4" *ngIf="list.questionType == 8">
            <div class="inputFieldBid m-0">
              <input type="text" name="date{{i}}" id="date{{i}}" (click)="datePickerFuture($event, i)" class="inpuText focus form-control"
                placeholder="yyyy-mm-dd">
            </div>
          </div>
          <div class="stepContent col-12 p-2 pt-3 p-sm-4" *ngIf="list.questionType == 9">
            <div class="inputFieldBid m-0">
              <input type="text" name="date{{i}}" id="date{{i}}" (click)="datePickerPast($event, i)" class="inpuText focus form-control"
                placeholder="yyyy-mm-dd">
            </div>
          </div>
          <div class="stepContent col-12 p-2 pt-3 p-sm-4" *ngIf="list.questionType == 10">
            <div class="inputBoxImg text-center p-2 position-relative" [class.float-left]="list.answer && list.answer.length > 0"
              *ngFor="let img of list.answer; let j =index;">
              <span class="closeImg" (click)="removeImg(i, j)">X</span>
              <img class="imgBid" src="{{img}}" onerror="this.src='assets/images/file_icon.png'">
            </div>
            <div class="inputBoxImg text-center p-2 position-relative" [class.float-left]="list.answer && list.answer.length > 0">
              <div class="loaderSpin cartLoader inAddCart bidLoader" [class.active]="list.answer && list.answer.length > 0"
                *ngIf="list.loader"></div>
              <input class="inpuTextImg focus" name="bidAddress" id="img{{i}}" type="file" accept="image/*" (change)="UploadFile($event, i)">
              <!-- <span class="closeImg" (click)="removeImg(i, j)">X</span> -->
              <img class="imgBid" src="" onerror="this.src='assets/images/file_icon.png'">
              <div class="titleBid col-12 p-0 m-0 mt-2">{{'bidding.uploadT' | translate}}</div>
            </div>
          </div>
          <div class="skipTitle" *ngIf="list.isManadatory == 0" (click)="skipBid(i)">
            {{'bidding.skipT' | translate}}
          </div>
        </div>
        <!-- <div class="errorList col-12" *ngIf="errMsg">{{errMsg}}</div> -->
        <!-- <div class="btnList col-12 text-right">
          <div class="loaderSpin headerLoader biddingLoader" *ngIf="PaymentLoader && questionArr && count == questionArr.length-1" style="top: 28%;margin:0;left: initial;right: 16%;"></div>
          <button type="button" class="btn btnButton btnGreen col-12 col-sm-4" *ngIf="questionArr && count < questionArr.length-1" (click)="changeStep(1)">Next</button>
          <button type="button" class="btn btnButton btnGreen col-12 col-sm-4" *ngIf="questionArr && count == questionArr.length-1" (click)="biddingAll()">Submit</button>
        </div> -->
      </div>
    </div>
    <div class="errorList col-12" *ngIf="errMsg">{{errMsg}}</div>
    <div class="errorList col-12 p-1" *ngIf="errMsgs">{{errMsgs}}</div>
    <input type="hidden" class="timePick">
    <input type="hidden" class="timeduration">
    <div class="btnList col-12 text-right" *ngIf="!bidShift">
      <div class="loaderSpin headerLoader biddingLoader" *ngIf="PaymentLoader && questionArr && count == questionArr.length-1"
        style="top: 28%;margin:0;left: initial;right: 16%;"></div>
      <button type="button" class="btn btnButton btnGreen col-12 col-sm-4" *ngIf="questionArr && count < questionArr.length-1"
        (click)="changeStep(1)">{{'bidding.nextT' | translate}}</button>
      <button type="button" class="btn btnButton btnGreen col-12 col-sm-4" *ngIf="questionArr && count == questionArr.length-1"
        (click)="changeStep(1)">{{'bidding.submitT' | translate}}</button>
    </div>

    <div class="btnList col-12 text-right shifting" *ngIf="bidShift">
      <button type="button" class="btn btnButton mr-2 col-5  col-sm-4" (click)="multipleShift(-1)">{{'bidding.back' | translate}}</button>
      <button type="button" class="btn btnButton btnGreen col-6  col-sm-4" (click)="multipleShift(1)">{{'bidding.nextT' | translate}}</button>
      <!-- <button type="button" class="btn btnButton btnGreen col-4" *ngIf="shiftTime == 2"  (click)="changeStep(1)">{{'bidding.nextT' | translate}}</button> -->
    </div>

  </div>
</div>


<!-- delete Address -->
<div class="modal fade boxPopup" id="deleteAddress" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-3">
      <div class="modal-body">
        <p class="paraText">{{'bidding.deleteAddr' | translate}}</p>
      </div>
      <div class="col-12 p-0 row m-0">
        <span class="col-6">
          <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'bidding.cancelT' | translate}}</button>
        </span>
        <span class="col-6">
          <button type="button" class="btn btnButton btnGreen col-12" (click)="deleteAddress();">{{'bidding.deleteT' | translate}}</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- map address location -->
<div class="sidePopupOpen" [class.transition]="searchLocationToggle">
  <div class="overlayList" *ngIf="searchLocationToggle" (click)="closeOpenSearch()"></div>
  <div class="sideMenuList checkOutMap leftSide">
    <div class="loginSignupAll">
      <div class="titleSave">
        <div class="ion-android-close ionClose" (click)="closeOpenSearch()" style="top: 25px;"></div>
        <div class="titleText ml-4">
          <b>{{'bidding.jobLoc' | translate}}</b>
        </div>
      </div>


      <div class="mapArea formsList col-12 p-0">
        <div class="mapList" id="mapData"></div>
        <div class="inputBox">
          <input class="inpuText focus addressArea pr-3" type="text" id="txtPlaces" name="address" (keyup)="changeLocation()"
            (change)="locationChange()" required="">
        </div>
      </div>

      <div class="formsList mt-3">
        <form>
          <div class="inputBox threeTypes row m-0" *ngIf="otherText">
            <div class="tickArea col-4" [ngClass]="{active: typeThree}">
              <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CothersIcon.svg"
                title="others">
              <img class="iconAddress activeIcon" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CothersIconActive.svg"
                title="others">
              <span class="title">{{'bidding.othersT' | translate}}</span>
            </div>
            <div class="tickArea col-8 p-0 border-right-0">
              <input class="inpuText focus othersList" type="text" name="Others" [(ngModel)]="Others" placeholder="">
              <span class="cancelList" (click)="otherText = !otherText">Cancel</span>
            </div>
          </div>
          <div class="inputBox threeTypes row m-0" *ngIf="!otherText">
            <div class="tickArea col-4" [ngClass]="{active: typeOne}" (click)="selectType(1)">
              <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/ChomeIcon.svg"
                title="home">
              <img class="iconAddress activeIcon" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/ChomeIconActive.svg"
                title="home">
              <span class="title">
                {{'bidding.homeT' | translate}}
              </span>
            </div>
            <div class="tickArea col-4" [ngClass]="{active: typeTwo}" (click)="selectType(2)">
              <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CworkIcon.svg"
                title="work">
              <img class="iconAddress activeIcon" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CworkIconActive.svg"
                title="work">
              <span class="title">{{'bidding.officeT' | translate}}</span>
            </div>
            <div class="tickArea col-4 border-right-0" [ngClass]="{active: typeThree}" (click)="selectType(3)">
              <img class="iconAddress" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CothersIcon.svg"
                title="others">
              <img class="iconAddress activeIcon" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/CothersIconActive.svg"
                title="others">
              <span class="title">{{'bidding.othersT' | translate}}</span>
            </div>
          </div>
          <div class="loginButton">
            <input type="hidden" class="arealat">
            <input type="hidden" class="arealng">
            <input type="hidden" class="areaName">
            <div class="loaderSpin headerLoader" *ngIf="loaderList"></div>
            <!-- <div class="progress headBar" *ngIf="loaderList" style="top:20px;">
                  <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
                </div> -->
            <button type="submit" class="btn btn-default btnSubmit" (click)="saveAddress()">
              <span class="textBar">{{'bidding.saveAddr' | translate}}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- add New Card -->
<div class="sidePopupOpen" [class.transition]="newCardToggle">
  <div class="overlayList" [hidden]="!newCardToggle" (click)="cardToggle(1)"></div>
  <div class="sideMenuList rightSide orderListContent">
    <!-- login -->
    <div class="loginSignupAll">
      <div class="titleSave m-0 h-auto">
        <div class="ion-android-close ionClose" (click)="cardToggle(1)"></div>
        <!-- <div class="tileList mb-3">Order</div> -->
      </div>
      <div class="formsList mt-5">
        <div class="list_card_information col-12 p-0" *ngIf="cardWallet">
          <div class="col-12 header_text p-0">
            <div class="header_payment col-12 p-0 mb-4">
              <h5 class="h5text">{{'bidding.newCardD' | translate}}</h5>
              <h6 class="h6text">{{'bidding.cardDT' | translate}}</h6>
            </div>
          </div>
          <div class="col-12 p-0 form_credit content_text_payment">
            <div class="creditCard">
              <div class="row-textField form-group col-12 p-0">
                <input type="text" name="cardCredit" [(ngModel)]="cardCredit" value="" maxlength="19" #pc (keyup)="valdationCreditCard(pc.value)"
                  onpaste="return false" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control focus inputText"
                  placeholder="{{'bidding.enterCardNum' | translate}}">
                <div class="col-12 text-danger p-0" *ngIf="validCD">{{validCD}}</div>
              </div>
              <div class="row m-0 mb-3 col-12 p-0">
                <div class="col-8" style="padding: 0px 5px 0px 0px;">
                  <input type="text" name="monthYear" [(ngModel)]="monthYear" value="" maxlength="7" #pcv (keyup)="valdationDate(pcv.value)"
                    onpaste="return false" class="form-control focus inputText" placeholder="{{'bidding.validMY' | translate}}">
                </div>
                <div class="col-4" style="padding: 0px 0px 0px 5px;">
                  <input type="password" name="cardcvv" [(ngModel)]="cardcvv" value="" maxlength="3" #cv (keyup)="valdationcvv(cv.value)"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control focus inputText"
                    placeholder="{{'bidding.cvv' | translate}}">
                </div>
                <div class="col-12 text-danger p-0" *ngIf="validDM">{{'bidding.dFormat' | translate}}</div>
              </div>
            </div>
            <div class="col-12 text-danger text-center listGetSelect" *ngIf="errorSaveCart">{{errorSaveCart}}</div>
            <div class="col-12 p-0">
              <!-- <div class="progress headBar" *ngIf="PaymentLoader" style="top:0;">
                      <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
                    </div> -->
              <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
              <button type="submit" [disabled]="!(stripeCardDetails && cardCredit && monthYear && cardcvv)" (click)="stripeCard();"
                class="btn btn-lg col-12 submit_button">
                <span class="textBar">{{'bidding.addCardT' | translate}}</span>
              </button>
            </div>
          </div>
        </div>

        <!-- wallet -->
        <div class="list_card_information col-12 p-0" *ngIf="!cardWallet">
          <div class="col-12 p-0 form_credit content_text_payment">
            <div class="cartListNew col-12 p-0 mb-3">

              <div class="priceCard h5text text-center" *ngIf="walletMoney">
                <div class="priceCardTitle">{{'bidding.walletB' | translate}}</div>
                <div class="priceCardBold">{{walletMoney.currencySymbol}} {{walletMoney.walletAmount}} </div>
              </div>

              <div class="creditCard col-12 p-0">
                <div class="walletInput col-12 p-0 my-5">
                  <span class="currencyWallet">₹</span>
                  <input type="text" name="addMoney" [(ngModel)]="addMoney" class="form-control inputWallet focus"
                    placeholder="{{'bidding.enterAmt'}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div class="col-12 py-2 text-danger text-center" *ngIf="errorMsg">{{errorMsg}}</div>
                <div class="col-12 p-0">
                  <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
                  <button type="submit" class="btn btn-lg col-12 submit_button" data-toggle="modal" data-target="#payWallet">
                    <span class="textBar">{{'bidding.confirmPay' | translate}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- payment wallet -->
<div class="modal fade boxPopup" id="payWallet" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-3">
      <div class="modal-body">
        <h5>{{'bidding.webT' | translate}}</h5>
        <p class="paraText" *ngIf="walletMoney">{{'bidding.rechargeW' | translate}} {{walletMoney.currencySymbol}}
          {{addMoney}}
        </p>
      </div>
      <div class="col-12 p-0 row m-0">
        <span class="col-6">
          <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'bidding.cancelT' | translate}}</button>
        </span>
        <span class="col-6">
          <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;left: 40%;"></div>
          <button type="button" class="btn btnButton btnGreen col-12" (click)="addWallet();">{{'bidding.okT' | translate}}</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- wallet list -->
<div class="modal fade boxPopup" id="cardWallets" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content col-12" style="padding: 10px;">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" style="right: -5px;top: -10px;">&times;</button>
        <!-- <h4 class="textTitle"> {{restString.itemCartT}}</h4> -->
        <p class="paraText pt-3 p-sm-0">{{'bidding.billingAmnt' | translate}}
        </p>
      </div>
      <div class="col-12  text-danger text-center" *ngIf="errorMsg">{{errorMsg}}</div>
      <div class="col-12 p-0 row m-0">
        <!-- <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div> -->
        <span class="col-6">
          <button type="button" class="btn btnButton btnGreen col-12" data-dismiss="modal" (click)="walletPayment(1)">{{'bidding.cashT' | translate}}</button>
        </span>
        <span class="col-6">
          <button type="button" class="btn btnButton btnGreen col-12" data-dismiss="modal" (click)="walletPayment(2)">{{'bidding.cardT' | translate}}</button>
        </span>
      </div>
    </div>
  </div>
</div>


<!-- deleteCard -->
<div class="modal fade boxPopup" id="cardDelete" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content col-12" style="padding: 10px;">
      <div class="modal-body">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <!-- <h4 class="textTitle"> {{restString.itemCartT}}</h4> -->
        <p class="paraText">{{'bidding.deleteCard' | translate}}</p>
      </div>
      <div class="col-12 p-0 row m-0">
        <span class="col-6">
          <button type="button" class="btn btnButton btnGreen col-12" data-dismiss="modal" (click)="deleteCard();">{{'bidding.yesT' | translate}}</button>
        </span>
        <span class="col-6">
          <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'bidding.noT' | translate}}</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- order Submit -->

<div class="modal fade boxPopup" data-backdrop="static" id="orderSubmit" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content ">
      <div class="modal-body text-center">
        <h4 class="textTitle text-success">{{'bidding.acceptB' | translate}}</h4>
      </div>
      <div class="col-12 p-0 row m-0">
        <span class="col-12 p-0 text-center">
          <button type="button" data-dismiss="modal" class="btn btnButton btnGreen col-12 col-md-4" (click)="profileList()">{{'bidding.okT' | translate}}</button>
        </span>
      </div>
    </div>
  </div>
</div>