<div class="viewPriceShimmer col p-0" [hidden]="loaderList">
  <div class="linear-background slider mb-3"></div>
  <div class="container my-3">
    <div class="col-12 row m-0">
      <div class="carouselList col-6 col-md-4" *ngFor="let list of shimmer">
        <div class="linear col p-0 mb-4">
          <div class="linear-background big mb-2 col-6 col-md-3"></div>
          <div class="linear-background big mb-2 col-12"></div>
          <div class="linear-background big mb-2 col-12"></div>
          <div class="linear-background big mb-2 col-12"></div>
        </div>
      </div>
      <div class="carouselList col-6 col-md-4" *ngFor="let list of shimmer">
        <div class="linear col p-0 mb-4">
          <div class="linear-background big mb-2 col-6 col-md-3"></div>
          <div class="linear-background big mb-2 col-12"></div>
          <div class="linear-background big mb-2 col-12"></div>
          <div class="linear-background big mb-2 col-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="allContactList col-12 p-0 static" [hidden]="!loaderList" style="background-color: #f7f8fa;">
  <div class="aboutHeader text-center titleContact">
    <h1 class="headerText">
      {{'contact.contactUs' | translate}}
    </h1>
    <a href="mailto:help@kyhootpro.net" class="emailTitle">help@kyhootpro.net</a>
  </div>
  <div class="container">
    <div class="contactContent col-12 p-0 row m-0 pt-4 py-md-5 text-center d-inline-block">
      <div class="listInformation col-12 col-sm-6 col-md-4 p-0 px-sm-2 d-inline-block" *ngFor="let list of listContact">
        <div class="infOContact col-12">
          <h2 class="cTitle">{{list.title}}</h2>
          <p class="title">{{list.address}}</p>
          <p class="title">{{list.city}}</p>
          <p class="title mt-1">
            <a href="tel:{{list.phone}}" class="emailTitle">{{list.phone}}</a>
          </p>
          <p class="title mt-1">{{list.zipCode}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
