<div class="placeHolderShimmer col p-0" [hidden]="loaderList">
  <div class="linear-background slider mb-5"></div>
  <div class="container">
    <div class="carouselList" *ngFor="let list of shimmer">
      <div class="linear col">
        <div class="linear-background small mb-2"></div>
      </div>
      <div class="row m-0">
        <div class="linear col-6 col-sm-4 col-md-4 mb-5">
          <div class="linear-background big mb-2"></div>
          <div class="linear-background small mb-2"></div>
        </div>
        <div class="linear col-6 col-sm-4 col-md-4 mb-5">
          <div class="linear-background big mb-2"></div>
          <div class="linear-background small mb-2"></div>
        </div>
        <div class="linear col-6 col-sm-4 col-md-4 mb-5">
          <div class="linear-background big mb-2"></div>
          <div class="linear-background small mb-2"></div>
        </div>
        <div class="linear col-6 col-sm-4 col-md-4 mb-5">
          <div class="linear-background big mb-2"></div>
          <div class="linear-background small mb-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="allListService col p-0" [hidden]="!loaderList">
  <div class="homePageCover">
    <!-- <div class="shadowOverImg"></div> -->
    <h1 class="titles" (click)="reviewPending()">
      {{'home.h1T' | translate}} <br />
      {{'home.h1sT' | translate}}
    </h1>
    <div class="col text-center searchList">
      <input type="hidden" id="cityNames" />
      <span class="cityList" *ngIf="citys">
        <div class="dropdown cursor">
          <div class="dropdown-toggle" id="cityName" data-toggle="dropdown">
            {{ cityName }}
          </div>
          <div class="dropdown-menu cityContent p-0 col">
            <input
              type="text"
              name=""
              class="textSearch dropdown-item p-0 pl-3"
              #x
              (keyup)="filterSearch(x.value)"
              placeholder="{{'home.searchCity' | translate}}"
            />
            <a
              class="dropdown-item"
              (click)="listCat(i)"
              *ngFor="let list of citys; let i = index"
              >{{ list.city }}</a
            >
            <a class="dropdown-item" *ngIf="citys.length == 0"
              >{{'home.noRT' | translate}}</a
            >
          </div>
        </div>
      </span>
      <span class="searchInput">
        <img class="iconSearch" src="assets/images/searchIcon.png" />
        <input
          type="text"
          name=""
          value=""
          class="form-control inputSearch focus"
          name="searchCate"
          (blur)="blurSearch()"
          [(ngModel)]="searchCate"
          #si
          (keyup)="searchCat(si.value)"
          placeholder="{{'home.searchService' | translate}}"
        />
        <div class="catListSearch col-12 p-0" *ngIf="catSearch">
          <div
            class="col-12 allCatList p-0 m-0"
            *ngFor="let lists of catSearch; let k = index"
          >
            <ul class="listStyle m-0 col-12 p-0" *ngIf="lists.category">
              <li
                class="contentCat col-12"
                [class.active]="list.active"
                (click)="typeBooking(list)"
                *ngFor="let list of lists.category; let i = index"
              >
                {{ list.cat_name }}
              </li>
            </ul>
          </div>
          <div
            class="col-12 allCatList p-0 m-0"
            *ngIf="catSearch && catSearch.length == 0"
          >
            <li class="contentCat col listStyle">{{'home.noCat' | translate}}</li>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div
    class="allListCat col text-center p-0"
    *ngIf="trendingList && trendingList.length > 0"
  >
    <div class="container">
      <div class="row m-0">
        <div
          class="col-4 col-md-2 p-0 catTrending"
          (click)="trendingService(list)"
          *ngFor="let list of trendingList; let i = index"
        >
          <div class="allImgCats cursor">
            <img
              class="imgCats"
              [defaultImage]="defaultTrending"
              [lazyLoad]="list.iconWeb"
              [offset]="offset"
              onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/Trbusser.svg'"
            />
            <img
              class="imgCats hoverImg"
              src="{{ list.iconWeb }}"
              onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/Trbusser.svg'"
            />
            <div class="col-12 titleName textEllipse">
              {{ list.categoryName }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="loaderSpin pageLoader" *ngIf="catLoaderList"></div>
  <!-- list category -->
   <!-- list category -->
  <div class="col-12 allCatService serviceSection" style="background-color: #F4F4F4;">
    <div class="container">
      <div class="allHomeList col-12 p-0">

        <!-- <div class="col-12 allCatList p-0" *ngIf="carouselTileRecommend && carouselTileRecommend.length > 0">
        <div class="col-12 p-0 titleGroups">
          <div class="titleList float-left">Recommended Services</div>
          <div class="viewAll float-right d-block d-sm-none" (click)="listCategoryAll(carouselTileRecommend)">View All</div>
        </div>
        <ngx-carousel [inputs]="carouselRecommend" (carouselLoad)="carouselRecommendLoad($event)">
          <ngx-tile NgxCarouselItem *ngFor="let list of carouselTileRecommend;let i =index;">
            <div class="allImgCat cursor">
              <img class="col imgCat" src="{{list.bannerImageWeb}}" alt="{{list.iconWebAlt}}" title="{{list.iconWebAlt}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/def.png'">
              <div class="col-12 titleName textEllipse" *ngIf="list.categoryName">{{list.categoryName}}</div>
            </div>
          </ngx-tile>
          <button NgxCarouselPrev class='leftRs arrowList focus'>
            <i class="ion-chevron-left"></i>
          </button>
          <button NgxCarouselNext class='rightRs arrowList focus'>
            <i class="ion-chevron-right"></i>
          </button>
        </ngx-carousel>
      </div> -->

        <!-- <div class="col allCatList p-0" *ngFor="let lists of carouselTileItems;let i =index;">
        <h3 class="titleGroups" id="{{i}}Cat">{{lists.groupName}}</h3>
        <div class="col-12 p-0 titleGroups">
          <div class="titleList float-left">{{lists.groupName}}</div>
          <div class="viewAll float-right d-block d-sm-none" (click)="listCategoryAll(lists.category)">View All</div>
        </div>
        <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">
          <ngx-tile NgxCarouselItem *ngFor="let list of lists.category; let i =index;">
            <div class="allImgCat cursor" (click)="catService(list)">
              <img class="col imgCat" src="{{list.bannerImageWeb}}" alt="{{list.bannerImageAppAltText}}" title="{{list.bannerImageAppAltText}}">
              <div class="col-12 titleName textEllipse" *ngIf="list.cat_name">{{list.cat_name}}</div>
            </div>
          </ngx-tile>
          <button NgxCarouselPrev class='leftRs arrowList focus'>
            <i class="ion-chevron-left"></i>
          </button>
          <button NgxCarouselNext class='rightRs arrowList focus'>
            <i class="ion-chevron-right"></i>
          </button>
        </ngx-carousel>
      </div> -->

        <div class="col allCatList p-0" *ngFor="let lists of carouselTileItems;let i =index;">
          <!-- <div class="help_section sectionPro">
            <h2 class="title pt-0">{{homeLang.ourS}}</h2>
          </div> -->
          <!-- <h2 class="titleGroups" id="{{i}}Cat">Our Services</h2> -->
          <!-- <div class="col-12 p-0 titleGroups d-none">
          <div class="titleList float-left">{{lists.groupName}}</div>
          <div class="viewAll float-right d-block d-sm-none" (click)="listCategoryAll(lists.category)">View All</div>
        </div> -->
          <div class="row m-0">
            <div class="col-6 mb-4 allListCity" [ngClass]="{odd:odd, even:even}" [class.col-md-8]="i == 0"
              [class.col-md-4]="i != 0" *ngFor="let list of lists.category; let i =index; let odd = odd; let even=even;">
              <div class="allImgCat cursor" (click)="typeBooking(list)">
                <img class="col imgCat" [defaultImage]="defaultImage" [lazyLoad]="list.bannerImageWeb" [offset]="offset"
                  alt="{{list.bannerImageAppAltText}}" title="{{list.bannerImageAppAltText}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/serviceEmpty.jpg'">
                <div class="col-12 titleName textEllipse" *ngIf="list.cat_name">{{list.cat_name}}</div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-12 allCatList p-0 text-center" *ngIf="carouselTileItems && carouselTileItems.length == 0">
          <h3 class="colorGray">{{homeLang.noData}}</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- <div
    class="col-12 allCatService serviceSection"
    style="background-color: #F4F4F4;"
  >
    <div class="container">
      <div class="allHomeList col-12 p-0">
        <div
          class="col-12 allCatList p-0"
          *ngIf="carouselTileRecommend && carouselTileRecommend.length > 0"
        >
          <div class="col-12 pr-0 titleGroups">
            <div class="titleList float-left">{{'home.recomendS' | translate}}</div>
            <div
              class="viewAll float-right d-block d-sm-none"
              (click)="listCategoryAll(carouselTileRecommend)"
            >
              {{'home.viewAll' | translate}}
            </div>
          </div>
          <ngx-carousel
            [inputs]="carouselRecommend"
            (carouselLoad)="carouselRecommendLoad($event)"
          >
            <ngx-tile
              NgxCarouselItem
              *ngFor="let list of carouselTileRecommend; let i = index"
            >
              <div
                class="allImgCat cursor recommendedImg"
                (click)="trendingService(list)"
              >
                <img
                  class="col-12 imgCat"
                  [defaultImage]="defaultImage"
                  [lazyLoad]="list.bannerImageApp"
                  [offset]="offset"
                  alt="{{ list.iconWebAlt }}"
                  title="{{ list.iconWebAlt }}"
                  onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/def.png'"
                />
                <div
                  class="col-12 titleName textEllipse"
                  *ngIf="list.categoryName"
                >
                  {{ list.categoryName }}
                </div>
              </div>
            </ngx-tile>
            <button NgxCarouselPrev class="leftRs arrowList focus">
              <i class="ion-chevron-left"></i>
            </button>
            <button NgxCarouselNext class="rightRs arrowList focus">
              <i class="ion-chevron-right"></i>
            </button>
          </ngx-carousel>
        </div>

        <div
          class="col-12 allCatList p-0"
          *ngFor="let lists of carouselTileItems; let i = index"
        >
          <div class="col-12 pr-0 mt-4 titleGroups">
            <div class="titleList float-left">{{ lists.groupName }}</div>
            <div
              class="viewAll float-right d-block d-sm-none"
              (click)="listCategoryAll(lists.category)"
            >
              {{'home.viewAll' | translate}}
            </div>
          </div>
          <ngx-carousel
            [inputs]="carouselTile"
            (carouselLoad)="carouselTileLoad($event)"
          >
            <ngx-tile
              NgxCarouselItem
              *ngFor="let list of lists.category; let i = index"
            >
              <div class="allImgCat cursor" (click)="typeBooking(list)">
                <img
                  class="col-12 imgCat"
                  [defaultImage]="defaultImage"
                  [lazyLoad]="list.bannerImageWeb"
                  [offset]="offset"
                  alt="{{ list.bannerImageAppAltText }}"
                  title="{{ list.bannerImageAppAltText }}"
                />
                <div class="col-12 titleName textEllipse" *ngIf="list.cat_name">
                  {{ list.cat_name }}
                </div>
              </div>
            </ngx-tile>
            <button NgxCarouselPrev class="leftRs arrowList focus">
              <i class="ion-chevron-left"></i>
            </button>
            <button NgxCarouselNext class="rightRs arrowList focus">
              <i class="ion-chevron-right"></i>
            </button>
          </ngx-carousel>
        </div>

        
          <div class="col-12 allCatList p-0" *ngFor="let lists of carouselTileItems;let i =index;">
            <div class="help_section sectionPro">
              <h2 class="title pt-0">Our Services</h2>
            </div>
            <div class="row m-0">
              <div class="col-6 mb-4 allListCity" [ngClass]="{odd:odd, even:even}" [class.col-md-8]="i == 0" [class.col-md-4]="i != 0"
                *ngFor="let list of lists.category; let i =index; let odd = odd; let even=even;">
                <div class="allImgCat cursor" (click)="typeBooking(list)">
                  <img class="col imgCat" [defaultImage]="defaultImage" [lazyLoad]="list.bannerImageWeb" [offset]="offset" alt="{{list.bannerImageAppAltText}}" title="{{list.bannerImageAppAltText}}"
                    onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/serviceEmpty.jpg'">
                  <div class="col-12 titleName textEllipse" *ngIf="list.cat_name">{{list.cat_name}}</div>
                </div>
              </div>
            </div>
          </div>
       

        <div
          class="col-12 allCatList p-0 text-center"
          *ngIf="carouselTileItems && carouselTileItems.length == 0"
        >
          <h3 class="colorGray">
            {{'home.noData' | translate}}
          </h3>
        </div>
      </div>
    </div>
  </div> -->

  <!-- how its work section starts -->
  <div class="col-12 how_its_work_section d-none">
    <div class="container">
      <div class="help_section sectionPro">
        <h2 class="title text-white">{{'home.whyHOD' | translate}}</h2>
      </div>
      <div class="borderDotted">
        <div
          id="localService"
          class="carousel slide"
          data-ride="carousel"
          data-interval="3000"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-12 working_slide row m-0 p-0">
                <div class="images_slider col-md-6">
                  <img
                    src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/how.png"
                  />
                </div>
                <div class="secion_text col-md-6">
                  <!--
                    <img src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/one.png">
                    <br>
                  -->
                  <h3 class="inner_text">
                    {{'home.reqServiceVia' | translate}} <br />
                    {{'home.ourApp' | translate}}
                  </h3>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-12 working_slide row m-0 p-0">
                <div class=" images_slider col-md-6">
                  <img
                    src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/how.png"
                  />
                </div>
                <div class="secion_text col-md-6">
                  <!--
                    <img src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/one.png">
                    <br>
                  -->
                  <h3 class="inner_text">
                    {{'home.reqServiceVia' | translate}} <br />
                    {{'home.ourApp' | translate}}
                  </h3>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-12 working_slide row m-0 p-0">
                <div class=" images_slider col-md-6">
                  <img
                    src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/how.png"
                  />
                </div>
                <div class=" secion_text col-md-6">
                  <!--
                    <img src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/one.png">
                    <br>
                  -->
                  <h3 class="inner_text">
                    {{'home.reqServiceVia' | translate}} <br />
                    {{'home.ourApp' | translate}}
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <!-- Left and right controls -->
          <a
            class="carousel-control-prev"
            href="#localService"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon arrowCarousel"></span>
          </a>
          <a
            class="carousel-control-next"
            href="#localService"
            data-slide="next"
          >
            <span class="carousel-control-next-icon arrowCarousel"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- service pro section -->
  <div class="col-12 serviceSection howItWorks">
    <div class="container needServices">
      <div class="services_pro text-center">
        <div class="help_section sectionPro">
          <h2 class="title pt-0">{{'home.howIt' | translate}}</h2>
        </div>
      </div>
      <div class="proVersion row m-0">
        <div class="text-center col-12 col-md-4">
          <img class="howItImg imgSvg" src="assets/images/howIt1.svg" />
          <h3 class="titles">{{'home.pickT' | translate}}</h3>
          <p class="para">
            {{'home.availTime' | translate}}
          </p>
          <!--
            <p class="para">- We verify and validate all Heon work qualification and criminal background.
            </p>
            <p class="para">- We only provide 4+star pros. All usera rate their pros, Pros that receive few bad ratings get taken off LSPro</p>
            <p class="para">We give you confidence on your provider choice</p>
          -->
        </div>
        <div class="text-center col-12 col-md-4 ">
          <img class="howItImg imgSvg" src="assets/images/howIt2.svg" />
          <h3 class="titles">{{'home.bookI' | translate}}</h3>
          <p class="para">
            {{'home.bookST' | translate}}
          </p>
          <!--
            <p class="para">- Use LSPro app to find and have a nearby pro at your home in less than 45mins.</p>
            <p class="para">- Get up to 5 quotes to compare and hire pro that provides the winning quote.</p>
            <p class="para">The choice is yours.</p>
          -->
        </div>
        <div class="text-center col-12 col-md-4 ">
          <img class="howItImg imgSvg" src="assets/images/howIt3.svg" />
          <h3 class="titles">{{'home.youPS' | translate}}</h3>
          <p class="para">
            {{'home.youPST' | translate}}
          </p>
          <!--
            <p class="para">- We only submit the money to the pro after you are completely satisfied.</p>
            <p class="para">- If you have any issue, contact us and we'll either send the pro back or send someone else OR remit the money
              to you.</p>
            <p class="para">We have vested interest to keep our users happy.</p>
          -->
        </div>
      </div>
    </div>
    <div class="container downloadapp d-none">
      <div class="help_section sectionPro">
        <h2 class="title">{{'home.getappT' | translate}}:</h2>
      </div>
      <div class="col-12 text-center help_section">
        <span>
          <!-- <a
            href="https://itunes.apple.com/in/app/google-play-books/id400989007?mt=8"
          > -->
            <img
              class="appstore_link ml-3 mb-3"
              src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/appstore.png"
            />
          <!-- </a> -->
        </span>
        <span>
          <!-- <a href="https://play.google.com/store?hl=en"> -->
            <img
              class="appstore_link ml-3 mb-3"
              src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/playstore.png"
            />
          <!-- </a> -->
        </span>
      </div>
    </div>
  </div>

  <!-- review list -->

  <div
    class="col-12 serviceSection customerSection"
    style="background-color: #F4F4F4;"
  >
    <div class="services_pro">
      <div class="container sectionPro">
        <div class="help_section">
          <h2 class="title">{{'home.reviewCT' | translate}}</h2>
        </div>
        <div class="col allCatList row reviewList m-0 p-0">
          <div class="reviewContent htre col-12 col-md-4">
            <h2 class="title text-left">{{'home.lovedBy' | translate}}</h2>
            <div class="reviewLists col-12 p-0 py-4">
              <i class="icon ion-star"></i> <i class="icon ion-star"></i>
              <i class="icon ion-star"></i> <i class="icon ion-star"></i>
              <i class="icon ion-star"></i>
              <span class="reviewCount para "> {{'home.reviews' | translate}} </span>
            </div>
            <p class="para text-left">
              {{'home.homeRP' | translate}}
            </p>
          </div>
          <div class="reviewImageList col-12 col-md-8"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- customer Reviews -->
  <div class="col-12 customerSection p-0 d-none">
    <div class="services_pro">
      <div class="container">
        <div class="help_section sectionPro">
          <h2 class="title">{{'home.reviewCT' | translate}}</h2>
        </div>
        <div class="col allCatList reviewList m-0 p-0">
          <ngx-carousel
            [inputs]="carouselReview"
            (carouselLoad)="carouselTileReview($event)"
          >
            <ngx-tile
              NgxCarouselItem
              *ngFor="let list of ratingItems; let i = index"
            >
              <div class="allcontentReview cursor">
                <div class="imgList col-12 p-0">
                  <img
                    class="col imgReview"
                    src="{{ list.providerprofilePicture }}"
                    alt="{{ list.providerName }}"
                    title="{{ list.providerName }}"
                    onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/def.png'"
                  />
                  <div class="reviewName textEllipse" *ngIf="list.providerName">
                    {{ list.providerName }}
                  </div>
                </div>
                <div class="contentPara col-12 p-0">
                  <p>{{ list.review }}</p>
                  <p class="reviewColor">{{'home.reviewedOn' | translate}}</p>
                </div>
                <div class="col-12 p-0 professionalHired">
                  <h5 class="title">{{'home.proHired' | translate}}</h5>
                  <div class="imgList col-12 p-0">
                    <img
                      class="col imgReview"
                      src="{{ list.customerprofilePicture }}"
                      alt="{{ list.categoryName }}"
                      title="{{ list.categoryName }}"
                      onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/def.png'"
                    />
                    <div
                      class="reviewName textEllipse"
                      *ngIf="list.categoryName"
                    >
                      {{ list.categoryName }}
                    </div>
                    <div class="ratingTxt" *ngIf="list.rating">
                      <i class="icon ion-star"></i> {{ list.rating }}
                    </div>
                  </div>
                </div>
              </div>
            </ngx-tile>
            <button NgxCarouselPrev class="leftRs arrowList focus">
              <i class="ion-chevron-left"></i>
            </button>
            <button NgxCarouselNext class="rightRs arrowList focus">
              <i class="ion-chevron-right"></i>
            </button>
          </ngx-carousel>
        </div>
      </div>
    </div>
  </div>

  <!-- service pro section -->
  <div class="htre col-12 serviceSection" style="background-color: #F4F4F4;">
    <div class="container needServices">
      <div class="services_pro text-center">
        <div class="help_section sectionPro">
          <h2 class="title">
            {{'home.increaseYT' | translate}}
          </h2>
        </div>
      </div>
      <div class="proVersion row m-0">
        <div class="text-center col-12 col-md-4 ">
          <img class="imgSvg" src="assets/images/howIt6.svg" />
          <h3 class="titles">{{'home.greatPay' | translate}}</h3>
          <p class="para">
            {{'home.increasePT1' | translate}}
          </p>
        </div>
        <div class="text-center col-12 col-md-4 ">
          <img class="imgSvg" src="assets/images/howIt5.svg" />
          <h3 class="titles">{{'home.flexT1' | translate}}</h3>
          <p class="para">
            {{'home.flexP1' | translate}}
          </p>
        </div>
        <div class="text-center col-12 col-md-4 ">
          <img class="imgSvg" src="assets/images/howIt4.svg" />
          <h3 class="titles">{{'home.easyP' | translate}}</h3>
          <p class="para">
            {{'home.easyST1' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="container downloadapp d-none">
      <div class="help_section sectionPro">
        <h2 class="title">{{'home.getappT' | translate}}:</h2>
      </div>
      <div class="col-12 text-center help_section">
        <span>
          <!-- <a
            href="https://itunes.apple.com/in/app/google-play-books/id400989007?mt=8"
          > -->
            <img
              class="appstore_link ml-3 mb-3"
              src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/appstore.png"
            />
          <!-- </a> -->
        </span>
        <span>
          <!-- <a href="https://play.google.com/store?hl=en"> -->
            <img
              class="appstore_link ml-3 mb-3"
              src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/playstore.png"
            />
          <!-- </a> -->
        </span>
      </div>
    </div>
  </div>

  <!-- business offering -->

  <div class="htre col p-0 d-none">
    <div class="container">
      <div class="help_section sectionPro">
        <h2 class="title">
          {{'home.increaseYT' | translate}}
        </h2>
      </div>
      <p class="text-center paraText mb-5">
        {{'home.areyT1' | translate}}
      </p>
    </div>
  </div>

  <!-- more reviews section -->
  <div class="col-12 scrollpartse  text-center p-0">
    <div class="green-row join-now">
      <div class="container">
        <span class="paraText text-white"
          >{{'home.areyP' | translate}}</span
        >
        <span class="joinNow" routerLink="./becomekyhootpro">{{'home.becomekyhootpro' | translate}}</span>
      </div>
    </div>
  </div>
</div>

<!-- small screen view all categories -->
<div class="sidePopupOpen catpopupList" [class.transition]="categoryToggle">
  <div
    class="overlayList"
    [hidden]="!categoryToggle"
    (click)="listCategory()"
  ></div>
  <div class="sideMenuList rightSide" *ngIf="catAll">
    <div class="loginSignupAll p-0">
      <div class="liCat">
        <span class="imgList ion-arrow-left-c cursor" (click)="listCategory()">
        </span>
        <span
          class="title textEllipse"
          *ngIf="catAll[0].categoryName && !catAll[0].cat_name"
        >
          <b>{{'home.recomendS' | translate}}</b>
        </span>
        <span class="title textEllipse" *ngIf="catAll[0].cat_name">
          <b>{{'home.categoryS' | translate}}</b>
        </span>
      </div>
      <div
        class="liCat cursor"
        *ngFor="let list of catAll"
        (click)="catListAll(list)"
      >
        <span class="imgList">
          <img
            class="col p-0"
            [defaultImage]="defaultImage"
            *ngIf="catAll[0].categoryName && !catAll[0].cat_name"
            [lazyLoad]="list.bannerImageApp"
            [offset]="offset"
            onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/def.png'"
          />
          <img
            class="col p-0"
            [defaultImage]="defaultImage"
            *ngIf="catAll[0].cat_name"
            [lazyLoad]="list.bannerImageWeb"
            [offset]="offset"
            onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/def.png'"
          />
        </span>
        <span
          class="title textEllipse"
          *ngIf="list.categoryName && !list.cat_name"
          >{{ list.categoryName }}</span
        >
        <span class="title textEllipse" *ngIf="list.cat_name">{{
          list.cat_name
        }}</span>
      </div>
    </div>
  </div>
</div>

<!-- location & booking schedule -->
<div
  class="modal fade boxPopup"
  id="notaryTask"
  role="dialog"
  data-backdrop="static"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content p-0">
      <div class="modal-header">
        <div class="col-12 p-0 text-center imgLogo" *ngIf="cLocation">
          <img
            alt="Heon"
            class="logoImg cursor focus"
            src="assets/images/logo.png"
            tabindex="0"
          />
        </div>
        <h3 class="title col-12 p-0 text-center" *ngIf="!cLocation">
          {{ catName }}
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          *ngIf="!cLocation"
        >
          &times;
        </button>
      </div>
      <div class="modal-body locationList">
        <div class="allStepList col-12 p-0" [hidden]="locationLists">
          <div class="titleList paddingTitle text-center" *ngIf="!cLocation">
            {{'home.whereT'  | translate}}
          </div>
          <div class="titleList paddingTitle text-center" *ngIf="cLocation">
            {{'home.selectC' | translate}}
          </div>

          <div class="searchList col-12 p-0" *ngIf="cLocation">
            <span class="cityList w-100 text-center mb-3">
              <div class="dropdown cursor">
                <div class="dropdown-toggle" data-toggle="dropdown">
                  {{ cityName }}
                </div>
                <div class="dropdown-menu cityContent p-0 col" *ngIf="citys">
                  <input
                    type="text"
                    name=""
                    class="textSearch dropdown-item p-0 pl-3"
                    #x
                    (keyup)="filterSearch(x.value)"
                    placeholder="{{'home.searchCity' | translate}}"
                  />
                  <a
                    class="dropdown-item"
                    (click)="listCat(i)"
                    *ngFor="let list of citys; let i = index"
                    >{{ list.city }}</a
                  >
                  <a class="dropdown-item" *ngIf="citys.length == 0"
                    >{{'home.noRT' | translate}}</a
                  >
                </div>
              </div>
            </span>
          </div>
          <div class="col-12 p-0 d-inline-block mb-3" *ngIf="cLocation">
            <div class="orLine col-12 p-0 text-center">{{'home.orT' | translate}}</div>
            <!--
              <div class="curentPlace col-12" (click)="currentLocation()"> Current Location</div>
            -->
          </div>

          <div class="textInput col-12 p-0 d-inline-block">
            <div
              class="inputBox"
              [ngClass]="{
                successTxt: locAddress?.length > 0,
                errorTxt: locAddress?.length == 0
              }"
            >
              <div
                class="loaderSpin cartLoader locateLoader"
                style="display:none;left: 45%;top: 12px;"
              ></div>
              <input
                class="inpuText focus pt-0"
                name="locAddress"
                [(ngModel)]="locAddress"
                id="locatFill"
                (keyup)="locationSearch()"
                type="text"
                required=""
                placeholder="{{'home.enterLoc' | translate}}"
              />
              <!--
                <input class="inpuText focus pt-0" name="locAddress" *ngIf="cLocation" [(ngModel)]="locAddress" id="locatFill"
                (keyup)="locationSearch()" type="text" required="" placeholder="{{'home.searchCity' | translate}}...">
              -->
              <input
                type="hidden"
                name=""
                value=""
                id="latS"
                class="headerSearch form-control"
              />
              <input
                type="hidden"
                name=""
                value=""
                id="lngS"
                class="headerSearch form-control"
              />
              <!-- <label>Fill Location</label> -->
              <div class="currentLocation">
                <!--
                  <img class="LocateIcons" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/locate.svg">
                -->
                <i
                  class="fas fa-times locatIcons bg-white text-danger"
                  (click)="closeLocation()"
                ></i>
                <i
                  class="fas fa-location-arrow locatIcons"
                  title="Current Location"
                  (click)="currentLocation()"
                ></i>
              </div>
            </div>
            <div
              class="text-center col-12 p-0 text-danger my-2"
              *ngIf="locAddress?.length == 0"
            >
              {{'home.plzEnter' | translate}}
            </div>
          </div>
        </div>

        <!-- <div
          class="allStepList boxContentList col-12 p-0"
          *ngIf="!locationLists && typeCallList && bookingList.hasOwnProperty('callType')"
        > -->
        <div
        class="allStepList boxContentList col-12 p-0"
        *ngIf="!locationLists && typeCallList && bookingList.hasOwnProperty('callType')"
      >
          <div class="titleList text-center">
            {{'home.whereT1' | translate}} ?
          </div>
          <div
            class="stepContent getAllAddress col-12 p-2 pt-3 p-sm-4"
            *ngIf="bookingList"
          >
            <div
              class="textradioCheckBox allListAddress col-12 p-0"
              *ngIf="bookingList.hasOwnProperty('callType') && bookingList.callType.incall == true"
            >
              <span
                class="radioInput focus m-0"
                [class.active]="typeCall == 1"
                (click)="radioSelect(1)"
              ></span>
              <label class="titleBid col-12">{{'home.inCall' | translate}}</label>
              <label class="titleBid smallPara"
                >{{'home.bookOffice' | translate}}</label
              >
            </div>
            <!-- <div
              class="textradioCheckBox allListAddress col-12 p-0"
              *ngIf="bookingList.callType.outcall == true"
            > -->
            <div
              class="textradioCheckBox allListAddress col-12 p-0"
              *ngIf="bookingList.hasOwnProperty('callType') && bookingList.callType.outcall == true"
            >
              <span
                class="radioInput focus m-0"
                [class.active]="typeCall == 2"
                (click)="radioSelect(2)"
              ></span>
              <label class="titleBid col-12">{{'home.outCall' | translate}}</label>
              <label class="titleBid smallPara"
                >{{'home.bookLoc' | translate}}</label
              >
            </div>
            <!-- <div class="textradioCheckBox allListAddress col-12 p-0" *ngIf="bookingList.callType.telecall == true">              
              <span class="radioInput focus m-0" [class.active]="typeCall == 3" (click)="radioSelect(3)"></span>
              <label class="titleBid col-12">Tele - Call</label>
              <label class="titleBid smallPara">Booking an appointment and solve by calling</label>
            </div> -->
          </div>
        </div>

        <div class="allStepList col-12 p-0" [hidden]="!locationLists">
          <div class="titleList text-center" *ngIf="asapSchedule != 2">
            {{'home.bookingT' | translate}}
          </div>
          <div
            class="bookingForm col p-0 row m-0"
            *ngIf="bookingList && asapSchedule != 2"
          >
            <div
              class="asaSchedule col-4"
              (click)="asapSchedules(0)"
              *ngIf="bookingList.bookingTypeAction.now == true"
            >
              <div
                class="titleContent col-12"
                [class.active]="asapSchedule == 0"
              >
                <div class="title">{{'home.now' | translate}}</div>
                <div class="titles">{{'home.availInMins' | translate}}</div>
              </div>
            </div>
            <div
              class="asaSchedule col-4"
              (click)="asapSchedules(1)"
              *ngIf="bookingList.bookingTypeAction.schedule == true"
            >
              <div
                class="titleContent col-12"
                [class.active]="asapSchedule == 1"
              >
                <div class="title">{{'home.singleShift' | translate}}</div>
                <div class="titles">{{'home.availTimings' | translate}}</div>
              </div>
            </div>
            <div
              class="asaSchedule col-4"
              (click)="asapSchedules(2)"
              *ngIf="bookingList.bookingTypeAction.repeat == true"
            >
              <div
                class="titleContent col-12"
                [class.active]="asapSchedule == 2"
              >
                <div class="title">{{'home.selectScd1' | translate}}</div>
                <div class="titles">{{'home.availCustom' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0 selectDateTime" [hidden]="asapSchedule != 1">
            <div class="titleList text-center col-12">
              {{'home.selectDate' | translate}}
            </div>
            <div class="col-12 p-0 selectDate row m-0">
              <div
                class="asaSchedule col-4"
                *ngFor="let list of sendDate; let i = index"
              >
                <div
                  class="titleContent col-12"
                  [class.active]="list.active"
                  (click)="selectDate(i)"
                >
                  <div class="titles">{{ list.day }}</div>
                  <div class="title">{{ list.date }}</div>
                </div>
              </div>
              <div class="asaSchedule col-4">
                <div
                  class="titleContent col-12"
                  [class.otherDate]="otherDate"
                  (click)="selectDate('Ds')"
                >
                  <div class="titles">{{'home.othersT' | translate}}</div>
                  <input
                    class="form-control BtypePicker"
                    name="pickup_date"
                    type="text"
                    placeholder="yyyy-mm-dd"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 p-0 selectTime">
              <div class="titleList text-center">{{'home.selectT' | translate}}?</div>
              <input
                class="form-control BtypeTimePicker"
                id="BtypeTimePicker1"
                (click)="TimePicker($event)"
                name="pickup_time"
                type="text"
                placeholder="hh:ss"
              />
            </div>
            <div class="col-12 p-0 selectTime mt-3">
              <div class="titleList fontSmall text-center">{{'home.duration' | translate}}?</div>
              <input
                class="form-control startDuration1"
                id="TimeDuration1"
                (click)="TimeDuration($event)"
                name="startDuration"
                type="text"
                placeholder="hh:mm"
              />
              <!--
                <div class="col-12 p-0 text-center cursor addHours">
                  <span class="qtyAdd" (click)="addHour(-1)">-</span>
                  <span class="qtyNos qtyAdd color">{{count}}</span>
                  <span class="qtyAdd" (click)="addHour(1)">+</span>
                </div>
              -->
            </div>
          </div>
          <div class="col-12 p-0 selectDateTime" [hidden]="asapSchedule != 2">
            <!--
              <div class="titleList text-center col-12">Select start date and time?</div>
            -->
            <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 0">
              <div class="col-12 p-0 selectTime">
                <div class="titleList text-center">{{'home.shiftStartDate' | translate}}</div>
                <div
                  class="allSubList col-12"
                  *ngFor="let list of shiftDateList; let i = index"
                >
                  <span
                    class="boxCheck"
                    (click)="dateSelect(i)"
                    style="position: relative;"
                  >
                    <i
                      class="ion-checkmark-round tickCheck color"
                      style="top: -2px;left: 3px;"
                      *ngIf="list.checked"
                    ></i>
                  </span>
                  <span class="labelTextCheck">{{ list.day }}</span>
                </div>
              </div>
              <div class="col-12 p-0 startEndTime" [hidden]="!startEndTime">
                <div class="col-12 p-0 selectTime">
                  <div class="titleList fontSmall text-center">
                    {{'home.selectSD' | translate}}?
                  </div>
                  <input
                    class="form-control repeatStartTime"
                    name="pickup_time"
                    type="text"
                    placeholder="yyyy-mm-dd"
                  />
                </div>
                <div class="col-12 p-0 selectTime">
                  <div class="titleList fontSmall text-center">
                    {{'home.selectED' | translate}}?
                  </div>
                  <input
                    class="form-control repeatEndTime"
                    name="pickup_time"
                    type="text"
                    placeholder="yyyy-mm-dd"
                  />
                </div>
              </div>
              <div
                class="col-12 pr-0 colorText"
                *ngIf="startEndDate && !startEndTime"
              >
                {{ startEndDate }}
              </div>
            </div>

            <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 1">
              <div class="col-12 p-0 selectTime">
                <div class="titleList text-center">{{'home.selectDayWeek' | translate}}</div>
                <div
                  class="allSubList col-12"
                  *ngFor="let list of shiftDaysList; let i = index"
                >
                  <span
                    class="boxCheck"
                    (click)="daysShift(i)"
                    style="position: relative;"
                  >
                    <i
                      class="ion-checkmark-round tickCheck color"
                      style="top: -2px;left: 3px;"
                      *ngIf="list.checked"
                    ></i>
                  </span>
                  <span class="labelTextCheck">{{ list.day }}</span>
                </div>
              </div>
              <div class="col-12 p-0 selectTime">
                <hr class="col-12 p-0" />
                <!--
                  <div class="titleList fontSmall text-center">Repeat Days?</div>
                -->
                <div
                  class="allSubList col-12"
                  *ngFor="let list of selectDays; let i = index"
                >
                  <span
                    class="boxCheck"
                    (click)="daySelect(i)"
                    style="position: relative;"
                  >
                    <i
                      class="ion-checkmark-round tickCheck color"
                      style="top: -2px;left: 3px;"
                      *ngIf="list.checked"
                    ></i>
                  </span>
                  <span class="labelTextCheck">{{ list.day }}</span>
                </div>
              </div>
            </div>
            <div class="col-12 p-0 mulipleTimeShift" [hidden]="shiftTime != 2">
              <div class="col-12 p-0 selectTime">
                <div class="titleList text-center">{{'home.shiftStartTime' | translate}}?</div>
                <div class="col-12 p-0 selectTime">
                  <div class="titleList fontSmall pt-0 text-center">
                    {{'home.startTime' | translate}}?
                  </div>
                  <input
                    class="form-control BtypeTimePicker"
                    id="BtypeTimePicker2"
                    (click)="TimePicker($event)"
                    name="pickup_time"
                    type="text"
                    placeholder="hh:mm:ss"
                  />
                </div>
              </div>
              <div class="col-12 p-0 selectTime">
                <div class="titleList fontSmall text-center">{{'home.duration' | translate}}?</div>
                <input
                  class="form-control startDuration"
                  id="TimeDuration2"
                  (click)="TimeDuration($event)"
                  name="startDuration"
                  type="text"
                  placeholder="hh:mm"
                />
                <!--
                  <div class="col-12 p-0 text-center cursor addHours">
                    <span class="qtyAdd" (click)="addHour(-1)">-</span>
                    <span class="qtyNos qtyAdd color">{{count}}</span>
                    <span class="qtyAdd" (click)="addHour(1)">+</span>
                  </div>
                -->
              </div>
            </div>
          </div>

          <div
            class="mutiShiftOffers col-12 p-0 mt-4"
            *ngIf="
              bookingList && offers && offers.length > 0 && asapSchedule == 2
            "
          >
            <div
              class="titleList fontSmall col-12 pl-2 pb-2"
              style="font-weight: 500;"
            >
              {{'home.offMultiShift' | translate}}
            </div>
            <div class="mutiShiftOffer col-12 p-0  row m-0">
              <div class="asaSchedule col-6" *ngFor="let offer of offers">
                <div class="titleContent media col-12">
                  <img class="offerIcon" src="assets/images/offerIcon.svg" />
                  <div class="media-body pl-2 pl-md-3 text-left">
                    <div class="titles">{{ offer.title }}</div>
                    <div class="title">
                      <span *ngIf="offer.discountType == 1">{{
                        bookingList.currencySymbol
                      }}</span>
                      {{ offer.value }}
                      <span *ngIf="offer.discountType == 2"> %</span>
                    </div>
                    <div class="titles text-danger">
                      {{ offer.offerDescription }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="errorList col-12 p-1" *ngIf="errMsg">{{ errMsg }}</div>
      <input type="hidden" class="timePick" />
      <input type="hidden" class="timeduration" />
      <div class="modal-footer p-0 border-0" [class.active]="!locationLists">
        <div class="col-12 btnNext footerNext" *ngIf="!cLocation">
          <span
            class="col-12 p-0 float-right"
            [class.col-sm-3]="!locationLists"
            [class.col-sm-6]="locationLists"
            *ngIf="asapSchedule != 2"
          >
            <button
              type="button"
              class="btn btnButton btnGreen 1 col-12"
              *ngIf="!locationLists && !typeCallList"
              (click)="selectTypeCall()"
            >
              {{'home.next' | translate}}
            </button>
            <button
              type="button"
              class="btn btnButton btnGreen 2 col-12"
              *ngIf="!locationLists && typeCallList && typeCall == 2"
              (click)="bookingListSchedule()"
            >
              {{'home.next' | translate}}
            </button>
            <!-- <button
              type="button"
              class="btn btnButton mr-2 col-5 locationLists"
              *ngIf="locationLists"
              (click)="locationLists = !locationLists"
            > -->
            <button
            type="button"
            class="btn btnButton mr-2 col-5 locationLists"
            *ngIf="locationLists"
            (click)="locationLists = !locationLists"
          >
              {{'home.back' | translate}}
            </button>
            <button
              type="button"
              class="btn btnButton btnGreen"
              [class.col-6]="locationLists"
              [class.col-12]="typeCallList && typeCall == 1"
              *ngIf="locationLists || (typeCallList && typeCall == 1)"
              (click)="dateChange()"
            >
              {{'home.submit' | translate}}
            </button>
          </span>
          <span
            class="col-12 p-0 float-right col-sm-6"
            *ngIf="asapSchedule == 2"
          >
            <button
              type="button"
              class="btn btnButton mr-2 col-5 "
              (click)="multipleShift(-1)"
            >
              {{'home.back' | translate}}
            </button>
            <button
              type="button"
              class="btn btnButton btnGreen col-6"
              *ngIf="shiftTime != 2"
              (click)="multipleShift(1)"
            >
              {{'home.next' | translate}}
            </button>
            <button
              type="button"
              class="btn btnButton btnGreen col-6"
              *ngIf="shiftTime == 2"
              (click)="dateChange()"
            >
              {{'home.submit' | translate}}
            </button>
          </span>
        </div>
        <div class="col-12 btnNext footerNext" *ngIf="cLocation">
          <span class="col-12 col-sm-6 p-0 float-right">
            <button
              type="button"
              class="btn btnButton btnGreen col-12"
              (click)="submitLocate()"
            >
              {{'home.submit' | translate}}
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- rating List View -->
<div
  class="modal fade boxPopup"
  id="reviewProvider"
  data-backdrop="static"
  role="dialog"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content p-0" *ngIf="!reviewSuccess">
      <div
        class="cartList col-12 mt-2 mt-md-0 p-3"
        *ngIf="bInvoice"
        [ngClass]="{ transform: popupCart }"
      >
        <div class="shadowContent"></div>
        <div
          class="cancelList cursor text-danger"
          *ngIf="popupCart"
          (click)="popupCart = !popupCart"
        >
          x
        </div>
        <h5 class="titleItem m-0">{{'home.receiptT' | translate}}</h5>
        <div class="addressCart col-12">{{ bInvoice.addLine1 }}</div>
        <div class="cartData col-12 m-0 boxCheckout p-0">
          <div class="cartDataContent col-12 p-0">
            <ul class="detailsRestaurant m-0 p-0" id="">
              <li class="foodDeatils row m-0">
                <span class="text-left col-8 p-0 textEllipse"
                  ><b>{{'home.reqService' | translate}}</b>
                </span>
                <span class="pricedetails col-4 p-0 text-right">
                  <span class="prices" id="plusCartprice">{{
                    bInvoice.accounting.amount.toFixed(2)
                  }}</span>
                </span>
              </li>
              <!-- <div class="shadowCart"></div> -->
              <h6 class="titleItem text-left my-2">{{'home.billDetails' | translate}}</h6>
              <div class="col-12 p-0" *ngIf="bInvoice.cartData">
                
                <li
                  class="foodDeatils row m-0"
                  [class.pt-0]="cartIndex == 0"
                  [class.pt-2]="cartIndex != 0"
                  *ngFor="
                    let item of bInvoice.cartData.item;
                    let cartIndex = index
                  "
                >
                  <span class="pricedetailsleft text-left col-8 p-0 textEllipse"
                    >{{ item.serviceName }} x{{ item.quntity }}
                  </span>
                  <span class="pricedetails col-4 p-0 text-right">
                    <span class="prices" id="plusCartprice"
                      >{{ bInvoice.currencySymbol }}
                      {{ item.amount.toFixed(2) }}</span
                    >
                  </span>
                </li>
              </div>
              <div
                class="col-12 p-0 additionalService"
                *ngIf="
                  bInvoice.additionalService &&
                  bInvoice.additionalService.length > 0
                "
              >
                <!-- <h6 class="titleItem text-left my-2">Receipt</h6> -->
                <li
                  class="foodDeatils row m-0 pt-2"
                  *ngFor="
                    let item of bInvoice.additionalService;
                    let cartIndex = index
                  "
                >
                  <span class="pricedetailsleft text-left col-8 p-0 textEllipse"
                    >{{ item.serviceName }}
                  </span>
                  <span class="pricedetails col-4 p-0 text-right">
                    <span class="price" id="plusCartprice"
                      >{{ bInvoice.currencySymbol }} {{ item.price }}</span
                    >
                  </span>
                </li>
              </div>
            </ul>
            <div class="totalCharge col-12 p-0 my-2">
              <hr class="line col-12 p-0 my-1" *ngIf="bInvoice.cartData" />
              <div class="itemCharge col-12 p-0">
                <div class="total text-left">{{'home.itemTotal' | translate}}</div>
                <div class="priceList font-weight-normal">
                  {{ bInvoice.currencySymbol }} {{ bInvoice.accounting.total }}
                </div>
              </div>
              <hr class="line col-12 p-0 my-1" />
            </div>
            <h5 class="titleItem text-left">{{'home.sign' | translate}}</h5>
            <img
              class="urlSignList col-12 p-0"
              src="{{ bInvoice.signURL }}"
              onerror="this.src='assets/images/signature.png'"
            />
          </div>
        </div>
      </div>
      <div class="modalHeader text-center" *ngIf="!popupCart">
        <div class="title mt-3 col-12 p-0"><b>{{'home.yourLastB' | translate}}</b></div>
        <div class="title col-12 p-0 mb-3" *ngIf="bInvoice">
          {{ bInvoice.bookingRequestedFor }}
        </div>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div
        class="modal-body reviewList locationList p-3"
        *ngIf="bInvoice && !popupCart"
        style="background-color: #f7f8fa;"
      >
        <div class="contentReview col-12 mb-3">
          <div class="title"><b>{{'home.totalBill' | translate}}</b></div>
          <div class="price">
            {{ bInvoice.currencySymbol }} {{ bInvoice.accounting.total }}
          </div>
          <div class="btnRecipt" (click)="popupCart = !popupCart">{{'home.receipt' | translate}}</div>
        </div>
        <div class="contentReview col-12 mb-3">
          <div class="title">{{'home.reateEx' | translate}}</div>
          <div class="imgProvider">
            <img
              src="{{ bInvoice.providerData.profilePic }}"
              onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_gokyhootpro/images/defaultPerson.png'"
            />
          </div>
          <div class="title">
            {{ bInvoice.providerData.firstName }}
            {{ bInvoice.providerData.lastName }}
          </div>
          <div
            class="btnRecipt"
            (click)="
              favoriteAddorRemove(
                bInvoice.providerData.providerId,
                bInvoice.categoryId,
                bInvoice.favouriteProvider
              )
            "
          >
            {{
              bInvoice.favouriteProvider ? "Remove Favorite" : "Add Favorite"
            }}
          </div>
        </div>
        <div class="contentReviews col-12 p-0" *ngIf="bInvoice.customerRating">
          <div
            class="reviewContent"
            *ngFor="let list of bInvoice.customerRating; let i = index"
          >
            <div class="titleCustomer col-12">{{ list.name }}</div>
            <div class="ratingStar col-12 p-0">
              <span class="star-cb-group">
                <input
                  type="radio"
                  id="rating-5{{ i }}"
                  [checked]="list.rating > 4"
                  name="rating{{ i }}"
                  value="5"
                  (click)="show_rating_txt(5, list, i)"
                />
                <label for="rating-5{{ i }}">5</label>
                <input
                  type="radio"
                  id="rating-4{{ i }}"
                  name="rating{{ i }}"
                  value="4"
                  (click)="show_rating_txt(4, list, i)"
                />
                <label for="rating-4{{ i }}">4</label>
                <input
                  type="radio"
                  id="rating-3{{ i }}"
                  name="rating{{ i }}"
                  value="3"
                  (click)="show_rating_txt(3, list, i)"
                />
                <label for="rating-3{{ i }}">3</label>
                <input
                  type="radio"
                  id="rating-2{{ i }}"
                  name="rating{{ i }}"
                  value="2"
                  (click)="show_rating_txt(2, list, i)"
                />
                <label for="rating-2{{ i }}">2</label>
                <input
                  type="radio"
                  id="rating-1{{ i }}"
                  name="rating{{ i }}"
                  value="1"
                  (click)="show_rating_txt(1, list, i)"
                />
                <label for="rating-1{{ i }}">1</label>
                <input
                  type="radio"
                  id="rating-0{{ i }}"
                  name="rating{{ i }}"
                  value="0"
                  class="star-cb-clear"
                />
                <label for="rating-0{{ i }}">0</label>
              </span>
            </div>
          </div>
        </div>
        <div class="contentReview col-12 p-0">
          <input
            type="text"
            name="reviewMsg"
            [(ngModel)]="reviewMsg"
            class="form-control inputRate focus"
            placeholder="{{'home.writeSomething' | translate}}"
          />
        </div>
      </div>
      <div class="modal-footer p-0 border-0" *ngIf="!popupCart">
        <div class="col-12 btnNext footerNext text-center">
          <h5 class="text-center text-danger" *ngIf="reviewErr">
            {{ reviewErr }}
          </h5>
          <span class="col-12 p-0">
            <div
              class="loaderSpin headerLoader"
              *ngIf="loaderLists"
              style="left: 45%;"
            ></div>
            <button
              type="button"
              class="btn btnButton btnGreen col-6"
              (click)="reviewSubmitList()"
            >
              {{'home.submit' | translate}}
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-content p-3" *ngIf="reviewSuccess">
      <div class="modal-body text-center">
        <p class="paraText m-0">{{'home.dropFeed' | translate}}</p>
      </div>
    </div>
  </div>
</div>
